{%- assign has_custom_tabs = false -%}
{% for tag in product.tags %}
  {% if tag contains '_addcon2' %}
    {%- assign has_custom_tabs = true -%}
  {% endif %}
{% endfor %}

{% if has_custom_tabs %}
  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">

    {% for tag in product.tags %}
      {% if tag contains '_addcon2' %}
        {%- assign include_page_handle = tag | split: '_' -%}
        {%- assign include_page = pages[include_page_handle.last] -%}
       
     {% if include_page.title != blank %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content2-{{ include_page_handle.last }}-{{ section_id2 }}">
            {{ include_page.title }}
            {% include 'collapsible-icons' %}
          </button>
          <div id="Product-content2-{{ include_page_handle.last }}-{{ section_id2 }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner rte">
              {{ include_page.content }}
            </div>
          </div>
        {% endif %} 
      {% endif %}
    {% endfor %}

  

    <!--
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-6-{{ section_id2 }}">
        {{ pages[settings.product_content_6].title }}
        {% include 'collapsible-icons' %}
      </button>
      <div id="Product-content-6-{{ section_id2 }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">
          {{ pages[settings.product_content_6].content }}
        </div>
      </div>
  
   
    
    

{% if  settings.enable_product_reviews  %}
  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">
 
    
      {% if settings.enable_product_reviews %}
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-5-{{ section_id }}">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">Reviews</span>
        {% include 'collapsible-icons' %}
      </button>
      <div id="Product-content-5-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    {% endif %}

 

  </div>
{% endif %}  -->

 </div>
        {% endif %}