<div id="app">
  {% comment %} {% assign hasImage = true %}
  {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_TB_d_1-min.jpg?1657929',  'imageSm':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_TB_m_1-min.jpg?1657932', 'heading':'RE-THINK YOUR SOFA','description':'Custom sofas starting at $898','linkText':'Shop Sofas','url':'https://insideweather.com/pages/sofas'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_TB_d_2-min.jpg?1657929',  'imageSm':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_TB_m_2-min.jpg?1657932', 'heading':'HAVE AN IDEA? MAKE IT FLY','description':'Custom dining chairs starting at $118','linkText':'SHOP DINING CHAIRS','url':'https://insideweather.com/pages/dining-chairs'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_TB_d_3-min.jpg?1657929','imageSm':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_TB_m_3-min.jpg?1657932', 'heading':'Let’s Get Personal','description':'Customize your storage needs with 400+ finish options','linkText':'SHOP SIDEBOARDS','url':'https://insideweather.com/pages/sideboards'}]}"%}

  <banner-carousel
    :has-image="{{hasImage}}"
    :banner-content="{{bannerContent}}">
  </banner-carousel> {% endcomment %}

  <div class="staticBannerWrapper --clip-header">
    <static-banner
      desktop-banner="https://cdn.shopify.com/s/files/1/2994/0144/files/hp_tb_112219_d_v2.jpg?1675817"
      mobile-banner="https://cdn.shopify.com/s/files/1/2994/0144/files/hp_tb_112219_m.jpg"
      responsive-point="840px"
    >
    </static-banner>
  </div>


  {% assign listItems= "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_cat_1-min.jpg?1657935','buttonText':'Shop Living','link':'https://insideweather.com/pages/living-room'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_cat_2-min.jpg?1657935','buttonText':'Shop Dining','link':'https://insideweather.com/pages/dining-room'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_cat_3-min.jpg?1657935','buttonText':'Shop Office','link':'https://insideweather.com/pages/office'}]"%}

  <div class="--custom-container category-list-container">
    <category-list
      class="--pd-t-90 --pd-b-130"
      :list-items="{{listItems}}"
    >
    </category-list>
  </div>

  {% assign valuePropsItems = "[{'isVideo':'false', 'url': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_vprop_02-ca-crafted-min.jpg?1657939', 'targetPoint': 'crafted', 'accordionHead': 'California Crafted', accordionDescription: 'Every one of our pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!'}, {'isVideo':'true', 'url': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_vprop_03-free-shipping.mp4?1657939', 'targetPoint': 'free-shipping', 'accordionHead': 'Free Shipping', accordionDescription: 'That’s right. Free shipping on every order! And did we mention that it ships within days? Besides, life’s too short to wait...and you desperately need a place to sit.'},{'isVideo':'false', 'url': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_vprop_04-home-trial-min.jpg?1657939', 'targetPoint': '365-day-home-trial', 'accordionHead': '365 Day Home Trial', accordionDescription: 'Take some time to get acclimated to your new design. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.'}]" %}

  <div class="ValuePropsWrapper">
    <div class="--custom-container">
      <value-props
      :value-props-items="{{valuePropsItems}}"
      default-image="https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_vprop_01-default-min.jpg?1657939"
      main-heading="Furniture shopping that puts you in charge."
      >
      </value-props>
    </div>
  </div>

  {% assign pressList = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_realsimple.png?1657939','description':'Chairs in customized colors, sideboards with funky patterns, mini sofas...Inside Weather has them all.'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_housemethod.png?1657939','description':'Custom Furniture for Under $1K? Alright, then.'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_britco.png?1657941','description':'No more MALM monotony here!'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_fortune.png?1657941','description':'For the truly creative types who want something beyond white, black or birch, it’s a dream.'}]"%}

  <div class="PressContainer">
    <div class="press--container">
      <press :press-list="{{pressList}}"></press>
    </div>
  </div>

  {% assign reviewContent = "[{'headContent':'Family loves it!','starCount':5,'reviewDetail':'it’s the perfect size for a mom, 2 kids and a dog to sit together and read or watch some Netflix.','image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_reviews_01-min.jpg?1657950','reviewer':'Erin W.','reviewerAddress':'Raleigh, NC'},{'headContent':'Best of both worlds','starCount':5,'reviewDetail':'I love my round coffee table! I would been looking for years for a simple one, and i was SO excited to finally find something well designed AND affordable…although when I saw all the pattern options i was tempted… you can’t go wrong with this company!','image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_reviews_02-min.jpg?1657950','reviewer':'Kirstin','reviewerAddress':'San Francisco, CA'},{'headContent':'Easy and fun!','starCount':5,'reviewDetail':'So happy with my new dining table and chairs!','image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_reviews_03-min.jpg?1657950','reviewer':'Marija D.','reviewerAddress':'Los Angeles, CA'}]"%}

  <div class="ReviewCarouselWrapper">
    <div class="--custom-container">
      <banner-review-carousel
        :review-content="{{reviewContent}}"
        link-text="Read All Reviews"
        link-to="/pages/reviews"
      >
      </banner-review-carousel>
    </div>
  </div>

  {% assign bannerSectionAssets = "[{'bgLarge':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_design-services_d-min.jpg?1657951', 'bgSmall': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_hp_design-services_m-min.jpg?1658615'}]"%}

  <banner
    :banner-image="{{bannerSectionAssets}}"
    banner-heading="Free Design Services"
    banner-description="Our design experts are here to talk you through any dilemma."
    button-text="Send an sos"
    button-link="https://insideweather.com/pages/work-with-a-designer"
  >
  </banner>

  {% assign recentlySoldProducts = "[{'picture':'https://banksy-images.s3.amazonaws.com/items/140S4F75CF97/140S4F75CF97-0_large.jpg','userFirstName':'Derek','userSecondName':'V.','productName':'Latte Ace Lounge Chair in Wheat','price':'$623', 'targetLink': 'https://insideweather.com/products/al1bl-latte-ace-lounge-chair-in-wheat'},{'picture':'https://banksy-images.s3.amazonaws.com/items/253S24E0D266/253S24E0D266-1_large.jpg','userFirstName':'Lola','userSecondName':'E.','productName':'Latte Kobe Armchair in Ocean Gray','price':'$193', 'targetLink': 'https://insideweather.com/products/cd151111dp15-latte-kobe-armchair-in-ocean-gray'},{'picture':'https://banksy-images.s3.amazonaws.com/items/48S1E455D8A/48S1E455D8A-0_large.jpg','userFirstName':'Olivia','userSecondName':'Z.','productName':'Latte Round Side Table in White Marble','price':'$143', 'targetLink': 'https://insideweather.com/products/st12ac17-latte-round-side-table-in-white-marble'},{'picture':'https://banksy-images.s3.amazonaws.com/items/150SEDCEA93F/150SEDCEA93F-0_large.jpg','userFirstName':'Gentry','userSecondName':'M.','productName':'Pebble Weave Powell Sofa in Heathered Taupe','price':'$1,198', 'targetLink': 'https://insideweather.com/products/sf12bc1110141017-pebble-weave-powell-sofa-in-heathered-taupe'},{'picture':'https://banksy-images.s3.amazonaws.com/items/195SC68AB63E/195SC68AB63E-1_large.jpg','userFirstName':'Jim','userSecondName':'J.','productName':'Latte Voss Sideboard in Modern Patchwork','price':'$718', 'targetLink': 'https://insideweather.com/products/sb1es1113-latte-voss-sideboard-in-modern-patchwork'},{'picture':'https://banksy-images.s3.amazonaws.com/items/141SA0CB0057/141SA0CB0057-0_large.jpg','userFirstName':'Zach','userSecondName':'M.','productName':'Cross Weave Banx Sofette in Yale Blue','price':'$998', 'targetLink': 'https://insideweather.com/products/se20aa11111113-cross-weave-banx-sofette-in-yale-blue'},{'picture':'https://banksy-images.s3.amazonaws.com/items/47SCBC4F15F/47SCBC4F15F-0_large.jpg','userFirstName':'Mandy','userSecondName':'S.','productName':'Espresso Round Coffee Table in Espresso Wood','price':'$168', 'targetLink': 'https://insideweather.com/products/ct13fy13-espresso-round-coffee-table-in-espresso-wood'},{'picture':'https://banksy-images.s3.amazonaws.com/items/138S378498B6/138S378498B6-0_large.jpg','userFirstName':'Sammy','userSecondName':'L.','productName':'Mod Velvet Issa Armchair in Jade Green','price':'$573', 'targetLink': 'https://insideweather.com/products/ac18ba11121121-mod-velvet-issa-armchair-in-jade-green'},{'picture':'https://banksy-images.s3.amazonaws.com/items/149SD7360406/149SD7360406-0_large.jpg','userFirstName':'Maya','userSecondName':'B.','productName':'Latte Vita Lounge Chair in Nordic Watercolor','price':'$473', 'targetLink': 'https://insideweather.com/products/vl11do-latte-vita-lounge-chair-in-nordic-watercolor'}]"%}

  <recently-sold-products
    :recently-sold-products="{{recentlySoldProducts}}"
    section-heading="Recently Sold"
    section-description="Take a look at what our factory crew is working on right now!"
  >
  </recently-sold-products>
</div>

<script>

  jQuery(function ($) {
    var count = 0;
    var playerId = '';
    jQuery('.point h3').on('click', (e) => {
      e.stopPropagation();
      const $ = jQuery;
      const targetParent = $('.descriptions .point');
      const allDescription = $('.descriptions .point p');
      var targetAttribute = e.target.attributes[0].value;
      if (e.target.parentElement.classList.contains('show-details')) {
        count ++;
        $('.descriptions h2').slideToggle();
        toggleSlide(e.target.parentElement.children[1]);
        e.target.parentElement.classList.remove('show-details');
      }else {
        $(allDescription).slideUp();
        $('.descriptions h2').slideUp();
        downSlide(e.target.parentElement.children[1]);
        $(targetParent).removeClass('show-details');
        e.target.parentElement.classList.add('show-details');
      }
      $('.image_wrapper figure').each(function(){
        var recieverAttribute = this.getAttribute('data-src');
        if(recieverAttribute === targetAttribute) {
          $('.image_wrapper figure').removeClass('slide_up');
          if(count === 0) {
            $(this).addClass('slide_up');
          }else {
            $('.image_wrapper figure').removeClass('slide_up');
          }
          if($(this).find('video').length > 0) {
            var player = $(this).find('video');
            playerId = $(this).find('video')[0].id;
            player[0].play()
          } else {
            if (playerId !== '') {
              $('#' + playerId)[0].pause();
            }
          }

        }
      });
      if(count === 1) {
        count = 0;
      }
    });

    const controller = new ScrollMagic.Controller();

    const bannerCarouselTimeline = new TimelineLite();
    bannerCarouselTimeline.fromTo($('.CarouselBanner__image'), 0.8, {opacity: 0, scale: 1.05}, {opacity: 1, scale: 1, ease: ExpoScaleEase.config(1.05, 1, Power0.easeIn)})
      .fromTo($('.CarouselBanner__content h2'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.5)
      .fromTo($('.CarouselBanner__content p'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.5)
      .fromTo($('.CarouselBanner__content a'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.75)
      .call(function(){
        $('.CarouselBanner .owl-dots button').each(function(i){
          var row = $(this);
          setTimeout(function() {
            TweenMax.fromTo(row, 0.5,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.8)
            if($('.CarouselBanner .owl-dots button').length === (i + 1)) {
              $('.CarouselBanner').addClass('--animLoaded');
            }
          }, 200 * i);
        });
      });
    const bannerCarouselTimelineSet = new ScrollMagic.Scene({
      triggerElement: '.CarouselBanner',
      reverse: false
    }).setTween(bannerCarouselTimeline).addTo(controller);

    const catTimeline = new TimelineLite()
    catTimeline.fromTo($('._category-lists'), 0.9, {opacity:0, y: 50}, {opacity: 1, y: 0, ease: Circ.easeOut})
    const catTimelineSet = new ScrollMagic.Scene({
      triggerElement: '.CarouselBanner',
      reverse: false,
      triggerHook: 'onEnter',
      offset: 25,
    }).setTween(catTimeline).addTo(controller);

    const valuePropsTimeline = new TimelineLite()
    valuePropsTimeline.fromTo($('.ValueProps .image_wrapper'), 0.9, {opacity: 0, y: 20, ease: Circ.easeOut}, {opacity: 1, y: 0})
      .fromTo($('.ValueProps .descriptions h2'), 0.9, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.5)
    const valuePropsTimelineScene = new ScrollMagic.Scene({
      triggerElement: '.CategoryList ._button-wrapper',
      reverse: false
    }).setTween(valuePropsTimeline).addTo(controller);

    $(window).on('load', function () {
      if($(window).width() < 768) {
        ValuePropsMobAnim();
        reviewCarouselMobAnim();
      }
      if($(window).width() >= 768) {
        ValuePropsDesktopAnim();
        reviewCarouselDekstopAnim();
      }
    });

    $(document).find('.more-info').on('click', function (e) {
      const targetElement = e.target.parentElement
      $(e.target).toggleClass('close')
      $(targetElement).find('.RecentlySoldProducts--overlayWrapper').toggleClass('show')
    })

    function ValuePropsDesktopAnim() {
      const valuePropsPointsTimeline = new TimelineLite()
      valuePropsPointsTimeline.call(function () {
        $('.ValueProps .descriptions .details .point').each(function (i) {
          var row = $(this);
          setTimeout(function() {
            TweenMax.fromTo(row, 1.5, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 1);
          }, 200 * i);
        });
      })
      const valuePropsPointsScene = new ScrollMagic.Scene({
        triggerElement: '.ValueProps .descriptions h2',
        reverse: false
      }).setTween(valuePropsPointsTimeline).addTo(controller);
    }
    function ValuePropsMobAnim() {
      const valuePropsPointsMobTimeline = new TimelineLite()
      valuePropsPointsMobTimeline.call(function () {
        $('.ValueProps .descriptions .details .point').each(function (i){
          var row = $(this);
          setTimeout(function() {
            TweenMax.fromTo(row, 1.5, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 1);
          }, 200 * i);
        });
      })
      const valuePropsPointsMobScene = new ScrollMagic.Scene({
        triggerElement: '.ValueProps',
        reverse: false
      }).setTween(valuePropsPointsMobTimeline).addTo(controller);
    }

    const pressTimeline = new TimelineLite()
    pressTimeline.fromTo($('.Press ul li'), 1,{opacity: 0, y: 100}, {opacity: 1, y: 0, ease: Circ.easeOut})
    const pressTimelineScene = new ScrollMagic.Scene({
      triggerElement: '.ValueProps .descriptions .details .point',
      reverse: false
    }).setTween(pressTimeline).addTo(controller);

    function reviewCarouselDekstopAnim() {
      const ReviewCarouselTimeline = new TimelineLite()
      ReviewCarouselTimeline.fromTo($('.ReviewCarousel .owl-item .Review__image'), 0.9,{opacity: 0, y: 50}, {opacity: 1, y: 0, ease: Circ.easeOut})
        .fromTo($('.ReviewCarousel .owl-item .Review__content'), 0.9, {opacity: 0, y: 50}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.5)
      const ReviewCarouselTimelineScene = new ScrollMagic.Scene({
        triggerElement: '.ReviewCarouselWrapper',
        reverse: false
      }).setTween(ReviewCarouselTimeline).addTo(controller);
    }

    function reviewCarouselMobAnim() {
      const ReviewCarouselMobTimeline = new TimelineLite()
      ReviewCarouselMobTimeline.fromTo($('.ReviewCarousel .owl-item .Review__image'), 0.9,{opacity: 0, y: 50}, {opacity: 1, y: 0, ease: Circ.easeOut})
        .fromTo($('.ReviewCarousel .owl-item .Review__content'), 0.9, {opacity: 0, y: 50}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.5)
      const ReviewCarouselMobTimelineScene = new ScrollMagic.Scene({
        triggerElement: '.Press ul li.press-list-2',
        reverse: false
      }).setTween(ReviewCarouselMobTimeline).addTo(controller);
    }

    const bannerTimeline = new TimelineLite();
    bannerTimeline.fromTo($('.Banner .Banner__wrapper'), 0.8, {opacity: 0, scale: 1.05}, {opacity: 1, scale: 1, ease: ExpoScaleEase.config(1.05, 1)})
      .fromTo($('.Banner .Banner__wrapper .Banner__content h2'), 1, {opacity: 0, y: 20}, {opacity: 1, y: 0}, 0.75)
      .fromTo($('.Banner .Banner__wrapper .Banner__content p'), 1, {opacity: 0, y: 20}, {opacity: 1, y: 0}, 1)
      .fromTo($('.Banner .Banner__wrapper .Banner__content ._button-wrapper'), 1, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 1.5)
    const bannerScene = new ScrollMagic.Scene({
      triggerElement: '.ReviewCarouselWrapper .owl-item.active .Review__author',
      reverse: false
    }).setTween(bannerTimeline).addTo(controller);

    const productTimeline = new TimelineLite()
    productTimeline.fromTo($('.SoldProducts .heading h2'), 0.7, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut})
      .fromTo($('.SoldProducts .heading  p'), 0.7, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Circ.easeOut}, 0.5)
    const productScene = new ScrollMagic.Scene({
      triggerElement: '.SoldProducts',
      reverse: false
    }).setTween(productTimeline).addTo(controller);

    const soldProductTimeline = new TimelineLite()
    soldProductTimeline.call(function () {
      $('.RecentlySoldProducts .RecentlySoldProducts--column').each(function (i) {
        var SecondRow = $(this).find('img');
        setTimeout(function () {
          TweenMax.fromTo(SecondRow, 0.9, {opacity: 0, y: 50}, {opacity: 1, y: 0, ease: Circ.easeOut});
          if($('.RecentlySoldProducts .RecentlySoldProducts--column').length === (i + 1)) {
            $('.RecentlySoldProducts .RecentlySoldProducts--column').addClass('--animLoaded');
          }
        }, 200 * i)
      });
    })
    const soldProductSecondScene = new ScrollMagic.Scene({
      triggerElement: '.SoldProducts .heading  p',
      reverse: false
    }).setTween(soldProductTimeline).addTo(controller);





  });
  function toggleSlide(item) {
    jQuery(item).slideToggle();
  }
  function downSlide(item) {
    jQuery(item).slideDown();
  }
</script>
