<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign hasBannerContent = true %}
    {% assign newButton = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.insideweather.com/collections/sarno/tb/col_sarno_tb_v1_d.jpg', 'imageSm': 'https://cdn.insideweather.com/collections/sarno/tb/col_sarno_tb_v1_m.jpg','heading':'THE SARNO COLLECTION','description':'The iconic custom dining collection designed for every home.','linkText':'Customize now','url':'https://insideweather.com/products/rd101010af-latte-sarno-dining-chair-in-cloud'}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"
      :new-button={{newButton}}
      >
    </category-banner>

    {% assign valueProps = "[{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/usa-ico.png', 'title': 'MADE IN THE USA'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/home-trial-ico.png', 'title': '365 DAY HOME TRIAL'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/free-ship-ico.png', 'title': 'FREE SHIPPING'},{'icon':'https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png', 'title': 'SUSTAINABLE'}]"%}

    <hiw-props
      :value-props="{{valueProps}}"
    ></hiw-props>

    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&size=400', 'title': 'Sarno Dining Chair', 'linkText': 'Customize starting at $218', hyperLink: 'https://insideweather.com/products/rd101010af-latte-sarno-dining-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20ALMOND&size=400', 'title': 'Sarno Counter Stool', 'linkText': 'Customize starting at $278', hyperLink: 'https://insideweather.com/products/rc101110af-latte-sarno-counter-stool-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:SQUARED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:VISTA%20OLIVE&size=400', 'title': 'Sarno Bar Stool', 'linkText': 'Customize starting at $298', hyperLink: 'https://insideweather.com/products/rb101210af-latte-sarno-bar-stool-in-cloud'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="The Custom Sarno Collection"
          section-description="Customize your back style, seat shape, wood finish and choose from 400+ upholstery options to make it yours."
        >
        </category-collections>
      </div>
    </div>

    {% assign listItems = "[{'image':'https://cdn.insideweather.com/collections/sarno/customize/cat_sarno_customize-bnr_m_01_v1-min.png'}]"%}

    <div class="customizable-category --pd-t-110 --pd-m-b-0">
      <div class="customizable-wrapper" style="background-color: #DDD8D0">
        <customizable-category
          :list-items="{{listItems}}"
          desktop-image="https://cdn.insideweather.com/collections/sarno/customize/cat_sarno_customize-bnr_d_01_v1-min.png"
          btn-text="Customize Now"
          destination-url="https://insideweather.com/products/rd101010af-latte-sarno-dining-chair-in-cloud"
          section-heading="Iconic Custom Dining Chairs"
          section-description="When we say custom chairs & stools, we mean it. Explore all the ways you can modify the Sarno Collection to make it truly yours. Each chair is made to order—per your specs—at our California Crafthouse and ships FREE to your doorstep faster than any other &ldquo;custom&rdquo; maker out there."
        >
        </customizable-category>
      </div>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/collections/sarno/details/design/design_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/collections/sarno/details/design/design_m.jpg', 'title': 'Behind the Design','description': 'This modern furniture collection takes classic, timeless style and puts it in the hands of the consumer. We believe that any chair purchased for the home shouldn’t just be well designed, sustainably made, and reasonably priced but should be perfectly suited for one’s home and lifestyle with no exception. So we created a solid wood custom dining collection that transcends modern, mid-century, scandinavian, traditional and contemporary styles. A collection born to offer a framework for beautiful, high quality design and to enable the customer with the tools they need to create a dining chair that’s truly suited to their dining style.'}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130 --pd-m-t-0">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/collections/sarno/details/custom/custom_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/collections/sarno/details/custom/custom_m.mp4', 'title': 'Custom Style','description': 'The Sarno Dining Collection presents an iconic silhouette that unlocks the opportunity to customize the seat height, comfort, shape, and style of your dining chair’s backrest and seat cushion as well as choose from over 400 finish & fabric choices, allowing you to design a truly unique piece of no compromise.'}]" %}
    {% assign isReverse = true %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'http://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_d.mp4', 'objectUrlMob': 'http://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_m.mp4', 'title': 'Upholsteries Galore','description': 'The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (& potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your match is here, you just have to find it.'}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = true %}

    <div class="categoryDetails --pd-t-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        desktop-image="http://cdn.insideweather.com/cat/sofa-line/details/cat_ottoman_upholstery-icons_d_v4.png"
        mobile-image="http://cdn.insideweather.com/cat/sofa-line/details/cat_ottoman_upholstery-icons_m_v4.png"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/collections/sarno/details/sustainable-materials/sustainable-materials_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/collections/sarno/details/sustainable-materials/sustainable-materials_m.jpg', 'title': 'Sustainably Made','description': 'The materials used across this custom dining collection have been selected with intention. Each kiln-dried, solid ash wood Sarno frame is FSC-certified and topped with an eco-solvent finish. Look out for certifications across our custom upholstery options that meet Oeko-Tex & Bluesign standards. We recycle any excess from each material consumed, in fact certain designs are even intended to absorb such ’’waste.’’ And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}]" %}
    {% assign isReverse = true %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130 --pd-b-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_01.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S17CB54CE/48S17CB54CE-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi14-latte-round-dining-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_02.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:SQUARED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:DS1006E&size=200','title':'Latte Sarno Dining Chair in Monstera Sky','price':'$268', 'productUrl':'https://insideweather.com/products/rd101210eq-latte-sarno-dining-chair-in-monstera-sky'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Bar Stool in Mascarpone','price':'$328', 'productUrl':'https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:DS1138&size=200','title':'Latte Sarno Counter Stool in Notebook Doodles','price':'$328', 'productUrl':'https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_03.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S17CB54CE/48S17CB54CE-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi14-latte-round-dining-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_04.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Bar Stool in Mascarpone','price':'$328', 'productUrl':'https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:SQUARED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&size=200','title':'Latte Sarno Dining Chair in Whiskey','price':'$263', 'productUrl':'https://insideweather.com/products/rd101210an-latte-sarno-dining-chair-in-whiskey'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:DS1138&size=200','title':'Latte Sarno Counter Stool in Notebook Doodles','price':'$328', 'productUrl':'https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_05.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S17CB54CE/48S17CB54CE-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi14-latte-round-dining-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_06.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S17CB54CE/48S17CB54CE-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi14-latte-round-dining-table-in-latte-wood'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&size=200','title':'Latte Sarno Counter Stool in Whiskey','price':'$323', 'productUrl':'https://insideweather.com/products/rc101010an-latte-sarno-counter-stool-in-whiskey'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Bar Stool in Mascarpone','price':'$328', 'productUrl':'https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_07.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:SQUARED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&size=200','title':'Latte Sarno Dining Chair in Whiskey','price':'$263', 'productUrl':'https://insideweather.com/products/rd101210an-latte-sarno-dining-chair-in-whiskey'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Bar Stool in Mascarpone','price':'$328', 'productUrl':'https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:DS1138&size=200','title':'Latte Sarno Counter Stool in Notebook Doodles','price':'$328', 'productUrl':'https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_08.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:DS1006E&size=200','title':'Latte Sarno Dining Chair in Monstera Sky','price':'$268', 'productUrl':'https://insideweather.com/products/rd101010eq-latte-sarno-dining-chair-in-monstera-sky'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_10.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Bar Stool in Mascarpone','price':'$328', 'productUrl':'https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone'}]},

    {'image': 'https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_09.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:DS1057&size=200','title':'Latte Sarno Dining Chair in Terrazzo Speckle','price':'$268', 'productUrl':'https://insideweather.com/products/rd101110lx-latte-sarno-dining-chair-in-terrazzo-speckle'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        section-description="Scenes for thought. How will you design your custom dining room?"
        pop-up-heading="Get Inspired"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function (event){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');

    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
