<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign hasBannerContent = true %}
    {% assign newButton = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.insideweather.com/cat/sofa-line/tb/cat_sectional_tb_d_v2.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/sofa-line/tb/cat_sectional_tb_m_v2.jpg','heading':'CUSTOM SECTIONALS','description':'Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships free to you in a manageable box.','linkText':'Customize now','url':'https://insideweather.com/products/sc17an101010171010-custom-issa-sectional-in-cloud'}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"
      :new-button={{newButton}}
      >
    </category-banner>

    {% assign valueProps = "[{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/usa-ico.png', 'title': 'MADE IN THE USA'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/home-trial-ico.png', 'title': '365 DAY HOME TRIAL'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/free-ship-ico.png', 'title': 'FREE SHIPPING'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/modular-ico.png', 'title': 'MODULAR'}]"%}

    <hiw-props
      :value-props="{{valueProps}}"
    ></hiw-props>


    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:ELIOT%20DOVE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:BOLSTER&size=400', 'title': 'Issa Sectional', 'linkText': 'Customize starting at $1,298', hyperLink: 'https://insideweather.com/products/sc17bu101110171610-custom-issa-sectional-in-mist'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:LEVI%20(FABRIC)&feature=UPHOLSTERY:ELIOT%20SUNFLOWER&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20BRASS&feature=ADD%20ONS:NONE&size=400', 'title': 'Levi Sectional', 'linkText': 'Customize starting at $1,548', hyperLink: 'https://insideweather.com/products/sc14bt131011211010-custom-levi-sectional-in-butterscotch'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:ASHER%20(WOOD)&feature=ARM%20FINISH:LIGHT%20ESPRESSO&feature=UPHOLSTERY:ECLIPSE%20OLIVE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:PILLOW%2018&size=400', 'title': 'Asher Sectional', 'linkText': 'Customize starting at $1,698', hyperLink: 'https://insideweather.com/products/sc22bm101110161210-custom-asher-sectional-in-moss'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:MOD%20VELVET%20VANILLA&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20SILVER&feature=ADD%20ONS:NONE&size=400', 'title': 'Brooklyn Sectional', 'linkText': 'Customize starting at $1,498', hyperLink: 'https://insideweather.com/products/sc18ci131210111010-custom-brooklyn-sectional-in-vanilla'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:JETT%20(WOOD)&feature=ARM%20FINISH:LATTE&feature=UPHOLSTERY:ROYALE%20COBALT&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:BUTTON%202&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:SNUG%20PILLOW&size=400', 'title': 'Jett Sectional', 'linkText': 'Customize starting at $1,648', hyperLink: 'https://insideweather.com/products/sc15dc131012131510-custom-jett-sectional-in-sapphire'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:NOX%20(FABRIC)&feature=UPHOLSTERY:ROYALE%20BLUSH&feature=CONFIGURATION:SUITE_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:PILLOW%2022&size=400', 'title': 'Nox Sectional', 'linkText': 'Customize starting at $1,398', hyperLink: 'https://insideweather.com/products/sc12da121210121410-custom-nox-sectional-in-powder-pink'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:BLACK&feature=ADD%20ONS:NONE&size=400', 'title': 'Milo Sectional', 'linkText': 'Customize starting at $1,448', hyperLink: 'https://insideweather.com/products/sc13br131110231010-custom-milo-sectional-in-whiskey'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:SOBA%20(WOOD)&feature=ARM%20FINISH:LIGHT%20ESPRESSO&feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:BUTTON%203&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:BOLSTER&size=400', 'title': 'Soba Sectional', 'linkText': 'Customize starting at $1,698', hyperLink: 'https://insideweather.com/products/sc11co101013171610-custom-soba-sectional-in-pebble'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Customize Our Best Sellers"
          section-description="Start with a silhouette and make it your own."
        >
        </category-collections>
      </div>
    </div>

    {% assign listItems = "[{'image':'https://cdn.insideweather.com/cat/sofa-line/customize/cat_sectional_customize-bnr_m_01_v1-min.png'},{'image':'https://cdn.insideweather.com/cat/sofa-line/customize/cat_sectional_customize-bnr_m_02_v1-min.png'}]"%}

    <div class="customizable-category --pd-t-110 --pd-b-130 --pd-m-b-0">
      <div class="customizable-wrapper" style="background-color: #DEE8E7">
        <customizable-category
          :list-items="{{listItems}}"
          destination-url="https://insideweather.com/products/sc17an101010171010-custom-issa-sectional-in-cloud"
          desktop-image="https://cdn.insideweather.com/cat/sofa-line/customize/cat_sectional_customize-bnr_d_01_v1-min.png"
          btn-text="Customize Now"
          section-heading="The Most Customizable Sectional on the Internet"
          section-description="When we say custom, we mean it. Explore all the ways in which you can manipulate our modular sectional to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships FREE to your doorstep months faster than any other &ldquo;custom&rdquo; maker out there."
        >
        </customizable-category>
      </div>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_m.mp4', 'title': 'Upholsteries Galore','description': 'The mecca of fabric libraries if you will. Select from 100+ choices that span the rainbow, all of which are hand-stitched here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (& potential mischief). Your match is here, you just have to find it!'}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = true %}

    <div class="categoryDetails">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        desktop-image="https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery-icons_d_v3.png"
        mobile-image="https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery-icons_m_v3.png"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sectional_modular_d_v2.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sectional_modular_m_v2.mp4', 'title': 'It’s Modular','description': 'Our sectional is made to move! Switch the chaise to either side at any time you’d like. That means you can even redesign your piece over the course of your lifetime. You’ll never be stuck with a left chaise or a right chaise forever; this one’s ready for whatever life might bring.'}]" %}
    {% assign isReverse = true %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign options = "[{'index': '1','dImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_d.png','mImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_m.png','heading': 'CLASSIC BLEND','desc': 'Supportive Comfort | Firm yet cushy sit','icon': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_01.png','description': 'A medium density, high resilience foam topped with a plush layer of our signature, 100% recycled down alternative. The perfect balance of support, squish and a little bit of bounce.'},{'index': '2','dImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_d.png','mImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_m.png','heading': 'MEMORY FOAM BLEND','desc': 'Sink-in Comfort | Plush contouring layers','icon': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_02.png','description': 'A smooth, transitional layer of temperature-regulating memory foam sits atop medium density, high resiliency foam and is wrapped in a lush layer of our sustainable, recycled down alternative.'}]"%}

    <div class="custom-comfort-detail-category --pd-t-110 --pd-b-110 --pd-m-b-0">
      <div class="custom-comfort-wrapper">
        <custom-comfort
          :options="{{options}}"
          section-heading="Custom Comfort"
          section-description="We believe that one size does not fit all which is why we've decided to hand over all comfort control to you—the actual sofa snuggler. Choose between various layers of domestically sourced insert options to find the custom formula that's truly right for you."
        >
        </custom-comfort>
      </div>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_m.jpg', 'title': 'The Sofa of 200 Plastic Bottles','description': 'Every upholstered portion of our sectional (yes, even the back) is wrapped in a layer of our Signature Synthetic Down and the pillows are full of it. This cushy, cloud-like material is 100% recycled down alternative and one sofa = roughly 200 recycled plastic bottles. The disposable bottles that we upcycle are sterilized in hot water, ground into tiny flakes, re-melted and extruded to make a polyester fiber. This material helps keep plastics out of our landfills & oceans and helps fill your home with comfortable, sustainable products as we believe both Mother Earth and your comfort are uncompromisable. '}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-b-110 --pd-m-t-0">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_d_v2.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_m_v2.jpg', 'title': 'A Life-Proof Product','description': 'Our sectionals are designed to withstand whatever life throws at them. Every upholstered element of each frame is enclosed in a water-resistant nylon casing for the ultimate protection against, well, you. This means even the back panel, the arms, and—of course—the pillows & cushions have this added layer of protection. Additionally, every cushion & pillow features a concealed zipper for easy, practical removal & cleaning. P.S. For fabric specific info on durability, check out Wyzenbeek Test Method Rub Count Scores on each product page!'}]" %}
    {% assign isReverse = true %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-b-110 --pd-m-b-0">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_01_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:OXFORD%20WEAVE%20DAFFODIL&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:BOLSTER&size=400','title':'Custom Issa Sectional in Daffodil','price':'$1,674', 'productUrl':'https://insideweather.com/products/sc17ck131211131610-custom-issa-sectional-in-daffodil'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48SC09CD63E/48SC09CD63E-0_small.jpg','title':'Latte Square Coffee Table in Latte Wood','price':'$178', 'productUrl':'https://insideweather.com/products/ct10fi11-latte-square-coffee-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_02_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sectional in Fog','price':'$1,798', 'productUrl':'https://insideweather.com/products/sc18av101211161010-custom-brooklyn-sectional-in-fog'}]},

    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_03_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20BRASS&feature=ADD%20ONS:NONE&size=400','title':'Custom Issa Sectional in Dijon','price':'$1,548', 'productUrl':'https://insideweather.com/products/sc17au101210211010-custom-issa-sectional-in-dijon'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SA7760E2E/48SA7760E2E-0_small.jpg','title':'Espresso Rectangle Side Table in Espresso Wood','price':'$168', 'productUrl':'https://insideweather.com/products/st15fy17-espresso-rectangle-side-table-in-espresso-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_04_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sectional in Fog','price':'$1,798', 'productUrl':'https://insideweather.com/products/sc18av101211161010-custom-brooklyn-sectional-in-fog'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SBD89F6FB/48SBD89F6FB-0_small.jpg','title':'Espresso Oval Coffee Table in Espresso Wood','price':'$248', 'productUrl':'https://insideweather.com/products/ct17fy17-espresso-oval-coffee-table-in-espresso-wood'} ]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_05_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Issa Sectional in Dijon','price':'$1,548', 'productUrl':'https://insideweather.com/products/sc17au101210131010-custom-issa-sectional-in-dijon'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:NAPLES%20BLUSH&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sectional in Rose Quartz','price':'$1,698', 'productUrl':'https://insideweather.com/products/sc18ac101210131010-custom-brooklyn-sectional-in-rose-quartz'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_OTT/frames/1/ANA_OTT.JPG?background=FFFFFF&feature=UPHOLSTERY:PEBBLE%20WEAVE%20POPPY%20ORANGE&feature=SHAPE:SNUG&feature=BASE%20TYPE:DOWEL&feature=BASE%20FINISHES:LATTE&size=400','title':'Custom Ottoman in Poppy Orange','price':'$348', 'productUrl':'https://insideweather.com/products/otcv121310-custom-ottoman-in-poppy-orange'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_06_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:NAPLES%20BLUSH&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sectional in Rose Quartz','price':'$1,698', 'productUrl':'https://insideweather.com/products/sc18ac101210141010-custom-brooklyn-sectional-in-rose-quartz'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47S77249C6B/47S77249C6B-0_small.jpg','title':'Latte Round Side Table in Nordic Cream','price':'$148', 'productUrl':'https://insideweather.com/products/st12dk12-latte-round-side-table-in-nordic-cream'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_07_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:SUITE_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sectional in Fog','price':'$1,748', 'productUrl':'https://insideweather.com/products/sc18av111210161010-custom-brooklyn-sectional-in-fog'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S8C8A362A/48S8C8A362A-0_small.jpg','title':'Espresso Oval Coffee Table in Pink Splash','price':'$218', 'productUrl':'https://insideweather.com/products/ct17cs17-espresso-oval-coffee-table-in-pink-splash'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_08_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:LEVI%20(FABRIC)&feature=UPHOLSTERY:ROYALE%20CLOUD&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Levi Sectional in Glacier Blue','price':'$1,948', 'productUrl':'https://insideweather.com/products/sc14cy101211151010-custom-levi-sectional-in-glacier-blue'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47S435F487D/47S435F487D-0_small.jpg','title':'Espresso Rectangle Side Table in Nordic Cream','price':'$128', 'productUrl':'https://insideweather.com/products/st15dk13-espresso-rectangle-side-table-in-nordic-cream'}]},

    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_10_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20BRASS&feature=ADD%20ONS:NONE&size=400','title':'Custom Issa Sectional in Dijon','price':'$1,548', 'productUrl':'https://insideweather.com/products/sc17au101210211010-custom-issa-sectional-in-dijon'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SBD89F6FB/48SBD89F6FB-0_small.jpg','title':'Espresso Oval Coffee Table in Espresso Wood','price':'$248', 'productUrl':'https://insideweather.com/products/ct17fy17-espresso-oval-coffee-table-in-espresso-wood'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sectional/cat_sectionals_lg_09_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:SUITE_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sectional in Fog','price':'$1,748', 'productUrl':'https://insideweather.com/products/sc18av111210161010-custom-brooklyn-sectional-in-fog'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SCB369B59/48SCB369B59-0_small.jpg','title':'Latte Oval Coffee Table in Moody Cool Gray','price':'$218', 'productUrl':'https://insideweather.com/products/ct16dx11-latte-oval-coffee-table-in-moody-cool-gray'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        section-description="Kick your feet up & visualize the possibilities."
        pop-up-heading="Get Inspired"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function (event){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');

    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
