<div id="app">
  <div class="livingRoom">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign isScrollAnimationRequire = false %}
    {% assign hasBannerContent = false %}
    {% assign bannerContent = "{'items':[{'image':'https://inside-weather-assets.s3.amazonaws.com/cat-rooms/living-room/tb/cat_living_tb_d.jpg', 'imageSm': 'https://inside-weather-assets.s3.amazonaws.com/cat-rooms/living-room/tb/cat_living_tb_m.jpg'}]}"%}
    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"

      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:ELIOT%20DOVE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:BOLSTER&size=400', 'title': 'Sectionals', 'linkText': 'Customize starting at $1,198', hyperLink: 'https://insideweather.com/pages/sofa-sectionals'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF&feature=ARM%20STYLE:LEVI%20(FABRIC)&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&feature=CONFIGURATION:CLASSIC_SPLIT&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400', 'title': 'Sofas', 'linkText': 'Customize starting at $898', hyperLink: 'https://insideweather.com/pages/sofas'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SCT2/frames/1/ANA_SCT2.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:MONACO%20ECLIPSE&feature=CONFIGURATION:FULL_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20BRASS&feature=ADD%20ONS:PILLOW%2018&size=400', 'title': 'Sofette Sectionals', 'linkText': 'Customize starting at $948', hyperLink: 'https://insideweather.com/pages/sofette-sectionals'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:ASHER%20(WOOD)&feature=ARM%20FINISH:LATTE&feature=UPHOLSTERY:MOD%20VELVET%20VANILLA&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:SNUG%20PILLOW&size=400', 'title': 'Sofettes', 'linkText': 'Customize starting at $648', hyperLink: 'https://insideweather.com/pages/sofettes'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/1/ANA_ARM.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:VENICE%20MARIGOLD&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400', 'title': 'Armchairs', 'linkText': 'Customize starting at $348', hyperLink: 'https://insideweather.com/pages/armchairs'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:OXFORD%20WEAVE%20OCEAN%20GRAY&size=400', 'title': 'Lounge Chairs', 'linkText': 'Customize starting at $398', hyperLink: 'https://insideweather.com/pages/lounge-chairs'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_OTT/frames/1/ANA_OTT.JPG?background=FFFFFF&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=SHAPE:PLUSH&feature=BASE%20TYPE:DOWEL&feature=BASE%20FINISHES:LATTE&size=400', 'title': 'Ottomans', 'linkText': 'Customize starting at $298', hyperLink: 'https://insideweather.com/pages/ottomans'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LATTE&feature=TOP%20SHELF:LIGHT%20ESPRESSO&feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO&size=400', 'title': 'Side & Accent Tables', 'linkText': 'Customize starting at $98', hyperLink: 'https://insideweather.com/pages/side-tables'},{'image': 'https://banksy-images.s3.amazonaws.com/items/47S3238AF84/47S3238AF84-0_small.jpg', 'title': 'Coffee Tables', 'linkText': 'Customize starting at $148', hyperLink: 'https://insideweather.com/pages/coffee-tables'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF&feature=BASE%20TYPES:DOWEL&feature=BASE%20FINISHES:LATTE&feature=HANDLES%20TYPES:BEAM&feature=HANDLE%20FINISH:METAL%20LEGS%20SILVER&feature=PRIMARY%20SURFACE%20OPTION:DS1032A&feature=BODY%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&size=400', 'title': 'Credenzas', 'linkText': 'Customize starting at $518', hyperLink: 'https://insideweather.com/pages/credenzas'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/1/CNV_VOSS.JPG?background=FFFFFF&feature=BASE%20TYPES:FLARE&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=HANDLE%20TYPES:CARVED&feature=HANDLE%20FINISH:LIGHT%20ESPRESSO&feature=PRIMARY%20SURFACE%20OPTION:LIGHT%20ESPRESSO&feature=BODY%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LIGHT%20ESPRESSO&feature=BACK%20PANEL:NO%20HOLES&size=400', 'title': 'Sideboards', 'linkText': 'Customize starting at $718', hyperLink: 'https://insideweather.com/pages/sideboards'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/30/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:LARGE-LARGE&feature=SHELF%20PATTERN:LATTE&size=400', 'title': 'Consoles', 'linkText': 'Customize starting at $399', hyperLink: 'https://insideweather.com/pages/console'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/17/CNV_STLM.JPG?background=FFFFFF&feature=SEAT%20CUSHION%20TYPES:ROUND&feature=BASE%20TYPES:3%20LEG&feature=UPHOLSTERY:ROYALE%20CLOUD&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=EDGE%20FINISHES:LATTE&size=400', 'title': 'Stools', 'linkText': 'Customize starting at $168', hyperLink: 'https://insideweather.com/pages/stools'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:ARMS&feature=UPHOSLTERY:CROSS%20WEAVE%20CAYENNE&feature=BASE%20TYPES:CLASSROOM&feature=METAL%20FINISHES:METAL%20LEGS%20SILVER&size=400', 'title': 'Nola Accent Chair', 'linkText': 'Customize starting at $138', hyperLink: 'https://insideweather.com/products/nd11au11-nola-armchair-in-cayenne'},{'image': 'https://banksy-images.s3.amazonaws.com/items/253S088B6D82/253S088B6D82-0_small.jpg', 'title': 'Polk Accent Chair', 'linkText': 'Customize starting at $138', hyperLink: 'https://insideweather.com/products/cd111112dt12-latte-polk-armchair-in-nordic-watercolor'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:ROYALE%20BLUSH&feature=BACK:ROYALE%20BLUSH&size=400', 'title': 'Accent Pillows', 'linkText': 'Customize starting at $19', hyperLink: 'https://insideweather.com/pages/pillows'},{'image': 'https://banksy-images.s3.amazonaws.com/items/WA1010BS/WA1010BS-0_small.jpg', 'title': 'Wall Art', 'linkText': 'Customize starting at $35', hyperLink: 'https://insideweather.com/pages/wall-art'}]" %}
    
    {% assign removeAnimation = true %}
    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :remove-animation="{{removeAnimation}}"
          :product-collections="{{productCollections}}"
          section-heading="Living Room"
        >
        </category-collections>
      </div>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_01-min.jpg?1660818','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/150SB261F87C/150SB261F87C-0_small.jpg','title':'Pebble Weave Jett Sofa in Seashell','price':'$1,598', 'productUrl':'https://insideweather.com/products/sf17am1113111115-pebble-weave-jett-sofa-in-seashell',}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_02-min.jpg?1660818','popUpList': [
    {'productImage': 'https://banksy-images.s3.amazonaws.com/items/141S17FC3C8F/141S17FC3C8F-0_small.jpg','title':'Cross Weave Issa Sofette in Cloud','price':'$723','productUrl':'https://insideweather.com/products/se18bl11111012-cross-weave-issa-sofette-in-cloud',},{'productImage': 'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$118','productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood',}]},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_03-min.jpg?1660818','popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/150SF2D4BC78/150SF2D4BC78-0_small.jpg','title':'Linen Weave Levi Sofa in Fog','price':'$1,498','productUrl':'https://insideweather.com/products/sf15bg1012101112-linen-weave-levi-sofa-in-fog',},{'productImage': 'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$118','productUrl': 'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood',}]},{
    'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_04-min.jpg?1660818','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141SB50310B6/141SB50310B6-0_small.jpg','title':'Mod Velvet Powell Sofette in Jade Green','price':'$1,073','productUrl': 'https://insideweather.com/products/se12ba11131115-mod-velvet-powell-sofette-in-jade-green',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/47S7600861F/47S7600861F-0_small.jpg','title':'Espresso Round Side Table in Espresso Wood','price':'$138','productUrl': 'https://insideweather.com/products/st13fy13-espresso-round-side-table-in-espresso-wood',}]},{
    'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_05-min.jpg?1660818',
    'popUpList':[{'productImage':'https://banksy-images.s3.amazonaws.com/items/150S30A4F09B/150S30A4F09B-0_small.jpg','title':'Pebble Weave Levi Sofa in Poppy Orange','price':'$1,248','productUrl':'https://insideweather.com/products/sf15ap1113141014-pebble-weave-levi-sofa-in-poppy-orange',},]},{
    'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_06-min.jpg?1660818','popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/195S2CA93635/195S2CA93635-1_small.jpg','title':'Latte Sloan Credenza in White','price':'$568','productUrl':'https://insideweather.com/products/cr1ac1113-latte-sloan-credenza-in-white',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/143S6D4DFEAB/143S6D4DFEAB-0_small.jpg','title':'Nola Armchair in Ivory','price':'$228','productUrl':'https://insideweather.com/products/nd11ao17-nola-armchair-in-ivory',}]},{
    'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_07-min.jpg?1660818',
    'popUpList': [{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/47S52664A77/47S52664A77-0_small.jpg','title':'Latte Oval Coffee Table in Tropical Botanicals','price':'$188','productUrl':'https://insideweather.com/products/ct16ar12-latte-oval-coffee-table-in-tropical-botanicals',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/150S1A8EBBD1/150S1A8EBBD1-0_small.jpg','title':'Pebble Weave Milo Sofa in Poppy Orange','price':'$1,248','productUrl': 'https://insideweather.com/products/sf14ap1110141014-pebble-weave-milo-sofa-in-poppy-orange',}]},{
    'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_08-min.jpg?1660818',
    'popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/47SE58BF9B8/47SE58BF9B8-0_small.jpg','title':'Latte Oval Coffee Table in White Marble','price':'$188','productUrl': 'https://insideweather.com/products/ct16ac12-latte-oval-coffee-table-in-white-marble',},]},
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_10-min.jpg?1660818',
    'popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/138S49AB7B2E/138S49AB7B2E-0_small.jpg','title':'Oxford Weave Milo Armchair in Daffodil','price':'$673','productUrl':'https://insideweather.com/products/ac14bj10131014-oxford-weave-milo-armchair-in-daffodil',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$118','productUrl': 'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}]},
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_living_lg_09-min.jpg?1660818',
    'popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/150S2F6F59FB/150S2F6F59FB-0_small.jpg','title':'Linen Weave Levi Sofa in Fog','price':'$1,498','productUrl':'https://insideweather.com/products/sf15bg1012111013-linen-weave-levi-sofa-in-fog',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/47S563BAC97/47S563BAC97-0_small.jpg','title':'Latte Oval Coffee Table in White','price':'$188','productUrl': 'https://insideweather.com/products/ct16ad12-latte-oval-coffee-table-in-white'}]}]"%}


    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Visualize the Possibilities"
        section-description="Ask more from your furniture."
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");

  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li:not(.removeAnimation)').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li:not(.removeAnimation)').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 400 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

</script>
