<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_d_banner_1_2x_7926927a-e8d3-42a1-b7fd-45fd823cc841.png?1648798', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_m_banner_1_2x_42e41635-fdbd-4f57-aeba-f3bf202edda7.png?1648786','heading':'Sofas','description':'Start one of these silhouettes and customize to make it your own.','linkText':'Customize now','url':'/', dataSource: 'arm-stle'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_d_banner_2_2x_de5df04a-5e15-42d9-9b6f-152ddefc57a8.png?1321831','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_m_banner_2_2x_73327d6e-6a38-4fbd-ba72-5048afd2b2a6.png?1648786','heading':'Sofas','description':'Start one of these silhouettes and customize to make it your own.','linkText':'Customize now','url':'/', dataSource: 'upholstery'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_d_banner_1_2x_7926927a-e8d3-42a1-b7fd-45fd823cc841.png?1648798', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_m_banner_1_2x_42e41635-fdbd-4f57-aeba-f3bf202edda7.png?1648786','heading':'Sofas','description':'Start one of these silhouettes and customize to make it your own.','linkText':'Customize now','url':'/', dataSource: 'arm-stle'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_d_banner_2_2x_de5df04a-5e15-42d9-9b6f-152ddefc57a8.png?1321831','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_m_banner_2_2x_73327d6e-6a38-4fbd-ba72-5048afd2b2a6.png?1648786','heading':'Sofas','description':'Start one of these silhouettes and customize to make it your own.','linkText':'Customize now','url':'/', dataSource: 'upholstery'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_d_banner_1_2x_7926927a-e8d3-42a1-b7fd-45fd823cc841.png?1648798', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_m_banner_1_2x_42e41635-fdbd-4f57-aeba-f3bf202edda7.png?1648786','heading':'Sofas','description':'Start one of these silhouettes and customize to make it your own.','linkText':'Customize now','url':'/', dataSource: 'arm-stle'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_d_banner_2_2x_de5df04a-5e15-42d9-9b6f-152ddefc57a8.png?1321831','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/ibp_m_banner_2_2x_73327d6e-6a38-4fbd-ba72-5048afd2b2a6.png?1648786','heading':'Sofas','description':'Start one of these silhouettes and customize to make it your own.','linkText':'Customize now','url':'/', dataSource: 'upholstery'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Arm Style', 'accordionDescription': 'Start with one of these silhouettes and customize to make it your own', 'accordionTarget': 'arm-stle'},{'accordionHead': 'Upholstery', 'accordionDescription': 'Start with one of these silhouettes and customize to make it your own', 'accordionTarget': 'upholstery'}, {'accordionHead': 'Shape', 'accordionDescription': 'Start with one of these silhouettes and customize to make it your own', 'accordionTarget': 'shape'},{'accordionHead': 'Configuration', 'accordionDescription': 'Start with one of these silhouettes and customize to make it your own', 'accordionTarget': 'configuration'},{'accordionHead': 'Pillow Detail', 'accordionDescription': 'Start with one of these silhouettes and customize to make it your own', 'accordionTarget': 'pillow-detail'}, {'accordionHead': 'Base', 'accordionDescription': 'Start with one of these silhouettes and customize to make it your own', 'accordionTarget': 'base'},]" %}

    <category-banner 
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://banksy-images.s3.amazonaws.com/items/150SDCAE7A0C/150SDCAE7A0C-0_small.jpg', 'title': 'Milo Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://banksy-images.s3.amazonaws.com/items/150S67923829/150S67923829-0_small.jpg', 'title': 'Brooklyn Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/t/31/assets/pf-ad525b40-8b5b-4b8e-9e6c-d9dae7a23a1b--150S7EEFC8F6-0small.jpg?286256', 'title': 'Levi Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://banksy-images.s3.amazonaws.com/items/150SDCAE7A0C/150SDCAE7A0C-0_small.jpg', 'title': 'Milo Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://banksy-images.s3.amazonaws.com/items/150S67923829/150S67923829-0_small.jpg', 'title': 'Brooklyn Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/t/31/assets/pf-ad525b40-8b5b-4b8e-9e6c-d9dae7a23a1b--150S7EEFC8F6-0small.jpg?286256', 'title': 'Levi Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://banksy-images.s3.amazonaws.com/items/150S67923829/150S67923829-0_small.jpg', 'title': 'Brooklyn Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/t/31/assets/pf-ad525b40-8b5b-4b8e-9e6c-d9dae7a23a1b--150S7EEFC8F6-0small.jpg?286256', 'title': 'Levi Sofa', 'linkText': 'Customize starting at $899', hyperLink: './'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Customize Our Best Sellers"
          section-description="Start with one of these silhouettes and customize to make it your own."
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'imageUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/details_upholstery.png?1446467','title': 'Upholstery','description': 'The subtle tonality of the Oxford Weave (100% Polyester) is a Ph.D in sophistication. All cushions & pillows are enclosed in a waterproof nylon case and all that are non-tufted are equipped with hidden zippers for easy removal and cleaning; life-proof for your convenience.'},{'imageUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/details_life_proof.png?1407107','title': 'LifeProof','description': 'The subtle tonality of the Oxford Weave (100% Polyester) is a Ph.D in sophistication. All cushions & pillows are enclosed in a waterproof nylon case and all that are non-tufted are equipped with hidden zippers for easy removal and cleaning; life-proof for your convenience.'},{'imageUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/details_comfort.png?1407107','title': 'Comfort','description': 'The subtle tonality of the Oxford Weave (100% Polyester) is a Ph.D in sophistication. All cushions & pillows are enclosed in a waterproof nylon case and all that are non-tufted are equipped with hidden zippers for easy removal and cleaning; life-proof for your convenience.'},]" %}

    <div class="productDetails --pd-t-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    <div class="section_categoryVideo --pd-t-130">
      <category-video
        video-url="https://player.vimeo.com/video/331135291"
        video-poster="https://cdn.shopify.com/s/files/1/2994/0144/files/video-poster.png?1395318"
        section-heading="Quick Assembly"
        section-description="The subtle tonality of the Oxford Weave (100% Polyester) is a Ph.D in sophistication. All cushions & pillows are enclosed in a waterproof nylon case and all that are non-tufted are equipped with hidden zippers for easy removal and cleaning; life-proof for your convenience."
      >
      </category-video>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/category_list.png?1455600','title':'Handcrafted in CA','description':'The frame is constructed with kiln dried solid wood, baltic birch plywood, and always wrapped in high-density polyurethane foam'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/category_list.png?1455600','title':'Quick Ship','description':'The frame is constructed with kiln dried solid wood, baltic birch plywood, and always wrapped in high-density polyurethane foam'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/category_list.png?1455600','title':'365 Day Home Trial','description':'The frame is constructed with kiln dried solid wood, baltic birch plywood, and always wrapped in high-density polyurethane foam'}]"%}

    {% assign categoryVprops = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/category_list.png?1455600','title':'Handcrafted in CA','description':'The frame is constructed with kiln dried solid wood, baltic birch plywood, and always wrapped in high-density polyurethane foam'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/category_list.png?1455600','title':'Quick Ship','description':'The frame is constructed with kiln dried solid wood, baltic birch plywood, and always wrapped in high-density polyurethane foam'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/category_list.png?1455600','title':'365 Day Home Trial','description':'The frame is constructed with kiln dried solid wood, baltic birch plywood, and always wrapped in high-density polyurethane foam'}]"%}
    
    <div class="categoryValuePropsWrapper">
      <category-vprops :category-value-props="{{categoryValueProps}}"></category-vprops> 
      <category-vprops 
        :category-value-props="{{categoryVprops}}"
        background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "['https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-1.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-2.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-3.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-4.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-5.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-2.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-1.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-4.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-5.png?1455640','https://cdn.shopify.com/s/files/1/2994/0144/files/life-style-3.png?1455640',
    ]"%}

    {% assign popUpList = "[{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/popUp-img-1.png?1648817','title':'Linen Weave Powell Sofa in Dijon','price':'$1098'},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/popUp-img-2.png?1648817','title':'Linen Weave Powell Sofette in Peppercorn','price':'$1098'},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/popUp-img-3.png?1648817','title':'Kobe Dining Chair in Dijon','price':'$1098'},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/popUp-img-4.png?1648817','title':'Latte Elle Side Table in Latte Wood','price':'$1098'}]" %}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get the Look"
        section-description="The subtle tonality of the Oxford Weave (100% Polyester) is a Ph.D in sophistication. All cushions & pillows are enclosed in a waterproof nylon case and all that are non-tufted are equipped with hidden zippers for easy removal and cleaning; life-proof for your convenience."
        pop-up-heading="Get the Look"
        :pop-up-list="{{popUpList}}"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) { 
  jQuery('.point a').on('click', (e) => {
    const $ = jQuery;
    const targetParent = $('.CategoryBanner--clasification .point');
    const allDescription = $('.CategoryBanner--clasification .point p');
    if (e.target.parentElement.classList.contains('show-details')) {
      toggleSlide(e.target.parentElement.children[1]);
      e.target.parentElement.classList.remove('show-details');
    } else {
      $(allDescription).slideUp();
      downSlide(e.target.parentElement.children[1]);
      $(targetParent).removeClass('show-details');
      e.target.parentElement.classList.add('show-details');
    }
  });

  fadeinup('.CategoryBanner .active .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter", 
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');

    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')', 
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')', 
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>