<div id="app">
  <div class="category-kitchen">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign isScrollAnimationRequire = false %}
    {% assign hasBannerAccoridon = false %}
    {% assign enableMediumHeight = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_decor-kitchen_tb_d.jpg?v=1581117597', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_decor-kitchen_tb_m.jpg?v=1581116932', 'heading':'Kitchen Accessories','description':'Must-have home ingredients.','linkText':'','url':'javascript:void(0)', dataSource: 'default'}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-accoridon="{{hasBannerAccoridon}}"
      :enable-medium-height="{{enableMediumHeight}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://banksy-images.s3.amazonaws.com/items/HD100B/HD100B-0_small.jpg','title': 'Pax Wood Towel Bar in Espresso','linkText': '$49','hyperLink':'https://insideweather.com/products/hd100b-pax-wood-towel-bar-in-espresso'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD100A/HD100A-0_small.jpg','title': 'Pax Wood Towel Bar in Latte','linkText': '$39','hyperLink':'https://insideweather.com/products/hd100a-pax-wood-towel-bar-in-latte'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD104A/HD104A-0_small.jpg','title': 'Mila Multifunctional Wall Rack in Latte','linkText': '$49','hyperLink':'https://insideweather.com/products/hd104a-mila-multifunctional-wall-rack-in-latte'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD104B/HD104B-0_small.jpg','title': 'Mila Multifunctional Wall Rack in Espresso','linkText': '$59','hyperLink':'https://insideweather.com/products/hd104b-mila-multifunctional-wall-rack-in-espresso'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD105/HD105-0_small.jpg','title': 'Mod Brass S Hook','linkText': '$5','hyperLink':'https://insideweather.com/products/hd105-mod-brass-s-hook'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD109A/HD109A-0_small.jpg','title': 'Mod Wall Mount Toilet Paper Holder in Latte','linkText': '$34','hyperLink':'https://insideweather.com/products/hd109a-mod-wall-mount-toilet-paper-holder-in-latte'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD109B/HD109B-0_small.jpg','title': 'Mod Wall Mount Toilet Paper Holder in Espresso','linkText': '$39','hyperLink':'https://insideweather.com/products/hd109b-mod-wall-mount-toilet-paper-holder-in-espresso'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD110A/HD110A-0_small.jpg','title': 'Tech Mod WallMount Toilet Paper Holder in Latte','linkText': '$34','hyperLink':'https://insideweather.com/products/hd110a-tech-mod-wall-mount-toilet-paper-holder-in-latte'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD110B/HD110B-0_small.jpg','title': 'Tech Mod Wall Mount Toilet Paper Holder in Espresso','linkText': '$39','hyperLink':'https://insideweather.com/products/hd110b-tech-mod-wall-mount-toilet-paper-holder-in-espresso'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117A/HD117A-0_small.jpg','title': 'Mia Mug & WoodSaucer Set in Yellow','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117a-mia-mug-wood-saucer-set-in-yellow'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117B/HD117B-0_small.jpg','title': 'Mia Mug & Wood Saucer Set in Blue','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117b-mia-mug-wood-saucer-set-in-blue'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117C/HD117C-0_small.jpg','title': 'Mia Mug & WoodSaucer Set in Gray','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117c-mia-mug-wood-saucer-set-in-gray'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117D/HD117D-0_small.jpg','title': 'Mia Mug & WoodSaucer Set in Teal','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117d-mia-mug-wood-saucer-set-in-teal'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117E/HD117E-0_small.jpg','title': 'Mia Mug & WoodSaucer Set in Pink','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117e-mia-mug-wood-saucer-set-in-pink'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117F/HD117F-0_small.jpg','title': 'Mia Mug & WoodSaucer Set in White','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117f-mia-mug-wood-saucer-set-in-white'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD117G/HD117G-0_small.jpg','title': 'Mia Mug & WoodSaucer Set in Aqua','linkText': '$29','hyperLink':'https://insideweather.com/products/hd117g-mia-mug-wood-saucer-set-in-aqua'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD101A1/HD101A1-0_small.jpg','title': 'Creative WallHook Rack in Latte, 3 Hook','linkText': '$49','hyperLink':'https://insideweather.com/products/hd101a1-creative-wall-hook-rack-in-latte'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD101B1/HD101B1-0_small.jpg','title': 'Creative Wall Hook Rack in Espresso, 3 Hook','linkText': '$54','hyperLink':'https://insideweather.com/products/hd101b1-creative-wall-hook-rack-in-espresso'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD101A2/HD101A2-0_small.jpg','title': 'Creative WallHook Rack in Latte, 5 Hook','linkText': '$59','hyperLink':'https://insideweather.com/products/hd101a2-creative-wall-hook-rack-in-latte'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD101B2/HD101B2-0_small.jpg','title': 'Creative WallHook Rack in Espresso, 5 Hook','linkText': '$64','hyperLink':'https://insideweather.com/products/hd101b2-creative-wall-hook-rack-in-espresso'},{'image': 'https://banksy-images.s3.amazonaws.com/items/HD124/HD124-0_small.jpg','title': 'Moma Moose Trivets','linkText': '$29','hyperLink':'https://insideweather.com/products/hd124-moma-moose-trivets'}]"%}

    {% assign collectionCustomImageStyle = true %}
    <div class="productCollection">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          :collection-custom-image-style="{{collectionCustomImageStyle}}"
          section-description="While furniture is our bread & butter, we all know that the right decor is the frosting on every room. In an effort to deliver you a complete custom home (w/sprinkles on top), we’ve partnered with various makers to present our first line of accessories! This curated selection brings modern design elements to a space in the home that demands thoughtful organization solutions in colors & finishes that bring you joy. Bon Appétit!"
        >
        </category-collections>
      </div>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.6, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if(parseInt(($('.CtegoryCollections--itemWrapper li').length / 2)) === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 100 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
