<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_tb_d_00.jpg?v=1594924207', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_tb_m_00.jpg?v=1594924207','heading':'Bamboo Sheet Sets','description':'The only sheets you need in your life.','linkText':'Customize now','url':'https://insideweather.com/products/sh10aa-twin-bamboo-twill-sheet-set-in-white', dataSource: 'default'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_tb_d_01.jpg?v=1594924207', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_tb_m_01.jpg?v=1594924208','heading':'Size','description':'From dorm rooms to luxury suites, we have whatever sizes you need.','linkText':'Customize now','url':'https://insideweather.com/products/sh10aa-twin-bamboo-twill-sheet-set-in-white', dataSource: 'size'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_tb_d_02.jpg?v=1594924208', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_tb_m_02.jpg?v=1594924207','heading':'Color','description':'Choose between soothing classic hues to send you into your dreams.','linkText':'Customize now','url':'https://insideweather.com/products/sh10aa-twin-bamboo-twill-sheet-set-in-white', dataSource: 'color'}
    ]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Size', 'accordionDescription': 'From dorm rooms to luxury suites, we have whatever sizes you need.', 'accordionTarget': 'size'},{'accordionHead': 'Color', 'accordionDescription': 'Choose between soothing classic hues to send you into your dreams.', 'accordionTarget': 'color'}]" %}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://banksy-images.s3.amazonaws.com/items/SH10AA/SH10AA-0_small.jpg', 'title': 'White', 'linkText': 'Customize starting at $120', hyperLink: 'https://insideweather.com/products/sh10aa-twin-bamboo-twill-sheet-set-in-white'},{'image': 'https://banksy-images.s3.amazonaws.com/items/SH10AB/SH10AB-0_small.jpg', 'title': 'Cloud Gray', 'linkText': 'Customize starting at $120', hyperLink: 'https://insideweather.com/products/sh10ab-twin-bamboo-twill-sheet-set-in-cloud-gray'},{'image': 'https://banksy-images.s3.amazonaws.com/items/SH10AC/SH10AC-0_small.jpg', 'title': 'Sand', 'linkText': 'Customize starting at $120', hyperLink: 'https://insideweather.com/products/sh10ac-twin-bamboo-twill-sheet-set-in-sand'},{'image': 'https://banksy-images.s3.amazonaws.com/items/SH10AD/SH10AD-0_small.jpg', 'title': 'Cocoa', 'linkText': 'Customize starting at $120', hyperLink: 'https://insideweather.com/products/sh10ad-twin-bamboo-twill-sheet-set-in-cocoa'},
]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Shop by Color"
          section-description="Classic hues for the everyday home."
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'false', 'objectUrl':'https://cdn.shopify.com/s/files/1/2994/0144/files/durable_d.jpg?v=1594931845', 'objectUrlMob':'https://cdn.shopify.com/s/files/1/2994/0144/files/durable_m.jpg?v=1594931846','title': 'The Test of Time','description': 'Bamboo Bed Sheets are celebrated for being more durable and stain-resistant than traditional sheet materials like cottons & linens, but why? The magic lies in the manufacturing process where the natural fibers are stretched long across the sheet’s entirety as opposed to short fibers being intertwined. This makes Bamboo Sheets far more resistant to pilling & tearing! Not to mention, Bamboo’s antimicrobial properties enable it to resist mold, mildew and the oils from your skin. This means your Bamboo Twill Sheet Set will subsequently not change color over time. Stay fresh.'},

{'isVideo':'true','objectUrl':'https://cdn.shopify.com/s/files/1/2994/0144/files/soft_d.mp4?v=1595015810','objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/soft_m.mp4?v=1595015811','title': 'Like Butter','description': 'Known for being significantly softer to the touch than cotton & linen, Bamboo Bedding owes its supreme softness & sheen to the gentle nature of its fibers as well as the weaving process executed to produce each Bamboo Twill Sheet. Thread count, a measurement defined by the amount of threads that fill a square inch of a sheet, varies across materials and most of us are familar with thread count only for cottons. For context, this is a 300-Thread-Count Sheet Set (above average for Bamboo sheets) which is actually comparative to a 1,000-Thread-Count cotton sheet set! We’re tellin’ ya… they’re soft.'},

    {'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cool_d.jpg?v=1594931819', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cool_m.jpg?v=1594931819', 'title': 'Keep Your Cool','description': 'So you run hot? No sweat. If you’re interested in keepin’ cool in summer and cozy in winter, our thermoregulating Bamboo Twill Sheet Set is your snuggle match. Inherently breathable, Bamboo enhances airflow and maintains moisture-wicking properties that actually help adjust to your body’s temp through the duration of your Zs. We’re talkin’ sweet sweet dreams with no interruption.'},


    {'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/hypoallergenic_d.jpg?v=1594931866', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/hypoallergenic_m.jpg?v=1594931866', 'title': 'Hypoallergenic','description': 'Naturally hypoallergenic and antibacterial, our Bamboo Twill Bed Sheets reduce the amount of moisture residing in your bed which creates a safe environment for those of us with sensitive skin and allergies. Dust mites—the primary allergy culprits—are unwelcome guests in the Bamboo sanctuary and, most importantly, Bamboo’s innate properties make it very difficult for them to even exist there. Hallelujah.'},

    {'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/sustainable_d.jpg?v=1594931903', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/sustainable_m.jpg?v=1594931903', 'title': 'A Sustainable Snuggle','description': 'Bamboo, considered the world’s most sustainable and renewable hardwood, is one of the fastest growing plants on the planet and rarely requires any trace of chemicals or pesticides to flourish. A plant that thrives in arid areas and requires significantly less water than cotton to cultivate, Bamboo maintains an impressively small environmental footprint. Sleep well knowing you’ve got the most sustainable sheets on the market.'}]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_01.jpg?v=1594941336','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AA/SH13AA-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in White','price':'$156','productUrl':'https://insideweather.com/products/sh13aa-queen-bamboo-twill-sheet-set-in-white'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480','productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:DS1096&feature=BACK:DS1094&size=400','title':'20\&#34; x 20\&#34; Accent Pillow (With Insert)','price':'$64','productUrl':'https://insideweather.com/products/pq14nkni-20-x-20-accent-pillow-with-insert'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47SD45ADC1D/47SD45ADC1D-0_small.jpg','title':'Latte Square Side Table in Latte Wood','price':'$118','productUrl':'https://insideweather.com/products/st10fi12-latte-square-side-table-in-latte-wood'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117E/HD117E-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Pink','price':'$29','productUrl':'https://insideweather.com/products/hd117e-mia-mug-wood-saucer-set-in-pink'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_02.jpg?v=1594941337','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AC/SH13AC-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Sand','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ac-queen-bamboo-twill-sheet-set-in-sand'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S96869A42/48S96869A42-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$138', 'productUrl':'https://insideweather.com/products/st12fi17-latte-round-side-table-in-latte-wood'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117E/HD117E-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Pink','price':'$29', 'productUrl':'https://insideweather.com/products/hd117e-mia-mug-wood-saucer-set-in-pink'}]},



    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_03.jpg?v=1594941340','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AD/SH13AD-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Cocoa','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ad-queen-bamboo-twill-sheet-set-in-cocoa'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:CROSS%20WEAVE%20YALE%20BLUE&feature=BACK:LINEN%20WEAVE%20BLUE%20LAGOON&size=400','title':'18\&#34; x 18\&#34; Accent Pillow (With Insert)','price':'$43', 'productUrl':'https://insideweather.com/products/pq12asat-18-x-18-accent-pillow-with-insert'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_04.jpg?v=1594941335','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AA/SH13AA-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in White','price':'$156', 'productUrl':'https://insideweather.com/products/sh13aa-queen-bamboo-twill-sheet-set-in-white'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:DS1096&feature=BACK:DS1094&size=400','title':'20\&#34; x 20\&#34; Accent Pillow (With Insert)','price':'$64', 'productUrl':'https://insideweather.com/products/pq14nkni-20-x-20-accent-pillow-with-insert'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47SD45ADC1D/47SD45ADC1D-0_small.jpg','title':'Latte Square Side Table in Latte Wood','price':'$118', 'productUrl':'https://insideweather.com/products/st10fi12-latte-square-side-table-in-latte-wood'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_05.jpg?v=1594941337','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AC/SH13AC-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Sand','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ac-queen-bamboo-twill-sheet-set-in-sand'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:CROSS%20WEAVE%20YALE%20BLUE&feature=BACK:LINEN%20WEAVE%20BLUE%20LAGOON&size=400','title':'18\&#34; x 18\&#34; Accent Pillow (With Insert)','price':'$43', 'productUrl':'https://insideweather.com/products/pq12asat-18-x-18-accent-pillow-with-insert'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117E/HD117E-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Pink','price':'$29', 'productUrl':'https://insideweather.com/products/hd117e-mia-mug-wood-saucer-set-in-pink'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:LINEN%20WEAVE%20FOG&feature=BACK:OXFORD%20WEAVE%20GRAPHITE&size=400','title':'22\&#34; x 22\&#34; Accent Pillow (With Insert)','price':'$60', 'productUrl':'https://insideweather.com/products/pq16avcl-22-x-22-accent-pillow-with-insert'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_06.jpg?v=1594941338','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AA/SH13AA-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in White','price':'$156', 'productUrl':'https://insideweather.com/products/sh13aa-queen-bamboo-twill-sheet-set-in-white'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:DS1096&feature=BACK:DS1094&size=400','title':'20\&#34; x 20\&#34; Accent Pillow (With Insert)','price':'$64', 'productUrl':'https://insideweather.com/products/pq14nkni-20-x-20-accent-pillow-with-insert'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47SD45ADC1D/47SD45ADC1D-0_small.jpg','title':'Latte Square Side Table in Latte Wood','price':'$118', 'productUrl':'https://insideweather.com/products/st10fi12-latte-square-side-table-in-latte-wood'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117E/HD117E-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Pink','price':'$29', 'productUrl':'https://insideweather.com/products/hd117e-mia-mug-wood-saucer-set-in-pink'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_07.jpg?v=1594941337','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AB/SH13AB-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Cloud Gray','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ab-queen-bamboo-twill-sheet-set-in-cloud-gray'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:LINEN%20WEAVE%20FOG&feature=BACK:OXFORD%20WEAVE%20GRAPHITE&size=400','title':'22\&#34; x 22\&#34; Accent Pillow (With Insert)','price':'$60', 'productUrl':'https://insideweather.com/products/pq16avcl-22-x-22-accent-pillow-with-insert'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_PYR/frames/4/CNV_AP_PYR.JPG?background=FFFFFF&feature=UPHOLTERY:LINEN%20WEAVE%20-%20FOG&size=400','title':'Small Pyramid Pillow in Fog (Cover Only)','price':'$27', 'productUrl':'https://insideweather.com/products/py11av-small-pyramid-pillow-in-fog-cover-only'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14746&scene=sku&features=4100034,4099974,4099977,4100035,4100000,4100036,4100004,4100037,4100022,4100038,4100031,4100039&frame=3&size=400&name=Ido%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Side Table','price':'$298', 'productUrl':'https://insideweather.com/products/sti10aaaaaaaa-latte-ido-side-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD114B/HD114B-0_small.jpg','title':'Digital Marble Alarm Clock in Black','price':'$39', 'productUrl':'https://insideweather.com/products/hd114b-digital-marble-alarm-clock-in-black'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_08.jpg?v=1594941336','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AD/SH13AD-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Cocoa','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ad-queen-bamboo-twill-sheet-set-in-cocoa'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47SD45ADC1D/47SD45ADC1D-0_small.jpg','title':'Latte Square Side Table in Latte Wood','price':'$118', 'productUrl':'https://insideweather.com/products/st10fi12-latte-square-side-table-in-latte-wood'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117B/HD117B-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Blue','price':'$29', 'productUrl':'https://insideweather.com/products/hd117b-mia-mug-wood-saucer-set-in-blue'}]},



    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_10.jpg?v=1594941336','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AB/SH13AB-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Cloud Gray','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ab-queen-bamboo-twill-sheet-set-in-cloud-gray'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_bed-sheets_lg_09.jpg?v=1594941340','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/SH13AC/SH13AC-0_small.jpg','title':'Queen Bamboo Twill Sheet Set in Sand','price':'$156', 'productUrl':'https://insideweather.com/products/sh13ac-queen-bamboo-twill-sheet-set-in-sand'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/1/ANA_HB_QN.JPG?background=FFFFFF&feature=HEADBOARD%20OPTION:3X4&feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD&size=400','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:CROSS%20WEAVE%20YALE%20BLUE&feature=BACK:LINEN%20WEAVE%20BLUE%20LAGOON&size=400','title':'18\&#34; x 18\&#34; Accent Pillow (With Insert)','price':'$43', 'productUrl':'https://insideweather.com/products/pq12asat-18-x-18-accent-pillow-with-insert'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117E/HD117E-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Pink','price':'$29', 'productUrl':'https://insideweather.com/products/hd117e-mia-mug-wood-saucer-set-in-pink'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S96869A42/48S96869A42-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$138', 'productUrl':'https://insideweather.com/products/st12fi17-latte-round-side-table-in-latte-wood'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Cozy"
        pop-up-heading="Get Cozy"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function (event){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');

    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
