<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_00.jpg?v=1594246029', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_00.jpg?v=1594246029','heading':'Side Tables','description':'Start with a silhouette and color in the rest.','linkText':'Customize now','url':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood', dataSource: 'default'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_01.jpg?v=1594246029', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_01.jpg?v=1594246029','heading':'Wood Finish','description':'Choose from a variety of rich finishes on your favorite silhouette.','linkText':'Customize now','url':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood', dataSource: 'wood-finish'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_02.jpg?v=1594246029','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_02.jpg?v=1594246029','heading':'Surface Designs','description':'Style your new sidekick with 300+ custom colors and prints.','linkText':'Customize now','url':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood', dataSource: 'surface-designs'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_03.jpg?v=1594246029','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_03.jpg?v=1594246029','heading':'Base Style','description':'Everything from elegant hairpins to tapered brass.','linkText':'Customize now','url':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood', dataSource: 'base-style'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Wood Finish', 'accordionDescription': 'Choose from a variety of rich finishes on your favorite silhouette.', 'accordionTarget': 'wood-finish'},{'accordionHead': 'Surface Design', 'accordionDescription': 'Style your new sidekick with 300+ custom colors and prints.', 'accordionTarget': 'surface-designs'}, {'accordionHead': 'Base Style', 'accordionDescription': 'Everything from elegant hairpins to tapered brass.', 'accordionTarget': 'base-style'}]" %}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[
      {'image': 'https://content.cylindo.com/api/image/resize?account=4931&id=14745&scene=sku&features=4055092,4054658,4054879,4055093,4055086,4055094,4055091,4055095&frame=1&size=400&name=Hanna%20Side%20Table1&color=FFFFFF&format=JPG', 'title': 'Usonia™ Hanna Side Table', 'linkText': 'Customize starting at $218', hyperLink: 'https://insideweather.com/products/hs10fifi-latte-hanna-side-table'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:LATTE', 'title': 'Jorn Side Table', 'linkText': 'Customize starting at $248', hyperLink: 'https://insideweather.com/products/js11fi-latte-jorn-side-table'},{'image': 'https://content.cylindo.com/api/image/resize?account=4931&id=14746&scene=sku&features=4100034,4099974,4099977,4100035,4100000,4100036,4100004,4100037,4100022,4100038,4100031,4100039&frame=3&size=400&name=Ido%20Side%20Table3&color=FFFFFF&format=JPG', 'title': 'Ido Side Table', 'linkText': 'Customize starting at $357', hyperLink: 'https://insideweather.com/products/sti10aaaaaaaa-latte-ido-side-table'},{'image': 'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg', 'title': 'Round Side Table', 'linkText': 'Customize starting at $118', hyperLink: 'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'},{'image': 'https://banksy-images.s3.amazonaws.com/items/47SD248954D/47SD248954D-0_small.jpg', 'title': 'Rectangle Side Table', 'linkText': 'Customize starting at $98', hyperLink: 'https://insideweather.com/products/st14fi12-latte-rectangle-side-table-in-latte-wood'},{'image': 'https://banksy-images.s3.amazonaws.com/items/47SD45ADC1D/47SD45ADC1D-0_small.jpg', 'title': 'Square Side Table', 'linkText': 'Customize starting at $118', hyperLink: 'https://insideweather.com/products/st10fi12-latte-square-side-table-in-latte-wood'},{'image': 'https://content.cylindo.com/api/image/resize?account=4931&id=14747&scene=sku&features=4117617,4117556,4117569,4117618,4117573,4117619,4117597,4117620,4117609,4117621,4117614,4117622&frame=3&size=400&name=Ido%20Pedestal%20Table1&color=FFFFFF&format=JPG', 'title': 'Ido Pedestal Table', 'linkText': 'Customize starting at $417', hyperLink: 'https://insideweather.com/products/pdi10aaaaaaaa-latte-ido-pedestal-table'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Start with a Collection"
          section-description="Customize every detail from tabletop design to base style."
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_side-tables_custom-style_d.mp4?v=1594242597', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_side-tables_custom-style_m.mp4?v=1594242597', 'title': 'Customize Your Style','description': 'Whether you’ve got a favorite color, a thing for wood grain, or you simply dig stylish patterns, the surfaces of your table are prime real estate to make a statement and serve as the perfect accent in any room.'},{'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_02_d.mp4?1663087', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_02_m.mp4?1663170', 'title': 'Life-Proof','description': 'Not only does it look good, but it’s also ruggedly durable. A scuff-free, UV-resistant surface means that it’s perfect for that sunny spot in your home. It’s also FDA approved for all you messy eaters out there. And when you’re done, wipe it down with any cleaner you like.'},{'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_03_d-min.jpg?1663183', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_03_m-min.jpg?1663183', 'title': 'Materials You Want','description': 'Every material that we use is selected with intention and built to last. The wood and metal options used for the bases are made from solid ash wood and high-strength, powder-coated stainless steel. Don’t worry, we’ll never skip the details.'},
    {'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_04_d.mp4?v=1591302637', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_04_m.mp4?v=1591302640', 'title': 'Sustainable Style','description': 'Our custom tables are considered to meet some of the highest environmental standards in the industry. Think the Sustainable Forestry Initiative, LEED® accreditations, & FSC Certification (just to name a few). We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted_m_min.jpg?1661495', 'title':'California Crafted','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship_m_min.jpg?1661495', 'title':'Quick Ship Custom','description':'Custom furniture no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial_m_min.jpg?1661495', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_04-sustainable_d-min.png?v=1583278319', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_04-sustainable_m-min.png?v=1583278319', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.'}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[
      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_01-min.jpg?1663704','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/47S7600861F/47S7600861F-0_small.jpg','title':'Espresso Round Side Table in Espresso Wood','price':'$138', 'productUrl':'https://insideweather.com/products/st13fy13-espresso-round-side-table-in-espresso-wood'}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_02_v2.jpg?v=1591304056','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/150SBAB88810/150SBAB88810-0_small.jpg','title':'Linen Weave Issa Sofa in Dijon','price':'$1,148', 'productUrl':'https://insideweather.com/products/sf18bi1113111010-linen-weave-issa-sofa-in-dijon'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14745&scene=sku&features=4055092,4054658,4054879,4055093,4055086,4055094,4055091,4055095&frame=1&size=150&name=Hanna%20Side%20Table1&color=FFFFFF&format=JPG','title':'Latte Hanna Side Table','price':'$218', 'productUrl':'https://insideweather.com/products/hs10fifi-latte-hanna-side-table'},]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_03-min.jpg?1663704','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/195S84CAE066/195S84CAE066-0_small.jpg','title':'Latte Sloan Credenza in Green Marble','price':'$568', 'productUrl':'https://insideweather.com/products/cr10fq1014-latte-sloan-credenza-in-green-marble'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47S753F88CC/47S753F88CC-0_small.jpg','title':'Espresso Rectangle Side Table in Green Marble','price':'$98', 'productUrl':'https://insideweather.com/products/st15fl13-espresso-rectangle-side-table-in-green-marble'}]}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_04_v3.jpg?v=1594248095','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14773&scene=sku&features=4196717,4196075,4028386,4196726,4028387,4196727&frame=1&size=400&name=Headboard%20-%20Queen1&color=FFFFFF&format=JPG','title':'Queen Oslo Headboard in Powder Pink (3 x 3)','price':'$485', 'productUrl':'https://insideweather.com/products/hq11dg-queen-oslo-headboard-in-powder-pink-3-x-3'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14746&scene=sku&features=4100034,4099974,4099977,4100035,4100000,4100036,4100004,4100037,4100022,4100038,4100031,4100039&frame=3&size=400&name=Ido%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Side Table','price':'$357', 'productUrl':'https://insideweather.com/products/is10aaaaaaaa-latte-ido-side-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD114B/HD114B-0_small.jpg','title':'Digital Marble Alarm Clock in Black','price':'$39', 'productUrl':'https://insideweather.com/products/hd114b-digital-marble-alarm-clock-in-black'}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_08-min.jpg?1663704','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/47S924BC418/47S924BC418-0_small.jpg','title':'Latte Round Side Table in Blush Marble','price':'$118', 'productUrl':'https://insideweather.com/products/st12gw12-latte-round-side-table-in-blush-marble'}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_06_v3.jpg?v=1594248096','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14746&scene=sku&features=4100034,4099974,4099977,4100035,4100000,4100036,4100004,4100037,4100022,4100038,4100031,4100039&frame=3&size=400&name=Ido%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Side Table','price':'$357', 'productUrl':'https://insideweather.com/products/is10aaaaaaaa-latte-ido-side-table'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14748&scene=sku&features=4117774,4117713,4117724,4117775,4117738,4117776,4117750,4117777,4117762,4117778,4117773,4117779&frame=3&size=400&name=Ido%20Coffee%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Coffee Table','price':'$477', 'productUrl':'https://insideweather.com/products/ic10aaaaaaaa-latte-ido-coffee-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/150S7CAEBCF6/150S7CAEBCF6-0_small.jpg','title':'Cross Weave Powell Sofa in Raven Gray','price':'$998', 'productUrl':'https://insideweather.com/products/sf12ao1113101014-cross-weave-powell-sofa-in-raven-gray'}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_07_v3.jpg?v=1594248095','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:DS1106','title':'Latte Jorn Side Table','price':'$268', 'productUrl':'https://insideweather.com/products/js11ke-latte-jorn-side-table'},{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14773&scene=sku&features=4196718,4196168,4028386,4196728,4028387,4196729&frame=1&size=400&name=Headboard%20-%20Queen1&color=FFFFFF&format=JPG','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117F/HD117F-0_small.jpg','title':'Mia Mug & Wood Saucer Set in White','price':'$29', 'productUrl':'https://insideweather.com/products/hd117f-mia-mug-wood-saucer-set-in-white'}]},
      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_08_v3.jpg?v=1594248095','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14749&scene=sku&features=4190129,4095449,4194542,4190130,4095456,4190131,4095459,4190132,4095462,4190133,4095464,4190134,4095466,4190135,4095471,4190136&frame=3&size=400&name=Jorn%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Jorn Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/js11fi-latte-jorn-side-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S16E4E676/138S16E4E676-0_small.jpg','title':'Pebble Weave Milo Armchair in Seashell','price':'$698', 'productUrl':'https://insideweather.com/products/ac14am10111112-pebble-weave-milo-armchair-in-seashell'}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_10-min.jpg?1663704','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S4202BDD5/141S4202BDD5-0_small.jpg','title':'Cross Weave Milo Sofette in Cayenne','price':'$873', 'productUrl':'https://insideweather.com/products/se14bo1111121012-cross-weave-milo-sofette-in-cayenne'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$118', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}]},{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_09_v2.jpg?v=1591304056','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=12081&scene=sku&features=4082068,4100675,4100678,4082069,4081944,4082070&frame=4&size=150&name=Lounge%20Chair%2001%20-%20Nels4&color=FFFFFF&format=JPG','title':'Latte Edgar Lounge Chair in Usonia™ Design 105 Blushing Prairie','price':'$948', 'productUrl':'https://insideweather.com/products/el11lh-latte-edgar-lounge-chair-in-usonia-design-105-blushing-prairie'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=12085&scene=sku&features=3929994,3989366,3989369,3929995,3893207,3929996&frame=4&size=150&name=Finn4&color=FFFFFF&format=JPG','title':'Latte West Ottoman in Usonia™ Design 105 Blushing Prairie','price':'$228', 'productUrl':'https://insideweather.com/products/wo11lh-latte-west-ottoman-in-usonia-design-105-blushing-prairie'},{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14745&scene=sku&features=4055092,4054759,4054912,4055093,4055087,4055094,4055091,4055095&frame=1&size=150&name=Hanna%20Side%20Table1&color=FFFFFF&format=JPG','title':'Espresso Hanna Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/hs11fyfy-espresso-hanna-side-table'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
