<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_00-min.jpg?1661560', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_00-min.jpg?1661566','heading':'Armchairs','description':'Start with a silhouette and customize every detail to make it your own.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'default'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_01-min.jpg?1661560', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_01-min.jpg?1661566','heading':'Arm Style','description':'Everything from tall & thin, to short & stout. Select from 10+ styles.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'arm-style'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_02-min.jpg?1661560','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_02-min.jpg?1661566','heading':'Upholstery','description':'Where nice colors and fine textures come to party. 45+ Options to explore.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'upholstery'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_03-min.jpg?1661560', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_03-min.jpg?1661566','heading':'Pillow & Cushion Shape','description':'Choose either Plush or Snug and give your sofa the perfect sit.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'pillow-cushion-shape'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_04.jpg?1664680','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_04.jpg?1664680','heading':'Pillow Detail','description':'Button ‘em, tuft ‘em, stitch ‘em, or leave ‘em bare: anything goes.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'pillow-detail'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_05.jpg?1664680', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_05.jpg?1664680','heading':'Cushion Detail','description':'Tuft ‘em, stitch ‘em, or leave ‘em bare: whatever you want.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'cushion-detail'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_d_06-min.jpg?1661560','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_tb_m_06-min.jpg?1661566','heading':'Base Style','description':'From Retro to this-century modern, choose the base that fits your style.','linkText':'Customize now','url':'https://insideweather.com/products/ac14bj11111013-oxford-weave-milo-armchair-in-daffodil', dataSource: 'base-style'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Arm Style', 'accordionDescription': 'Everything from tall & thin, to short & stout. Select from 10+ styles.', 'accordionTarget': 'arm-style'},{'accordionHead': 'Upholstery', 'accordionDescription': 'Where nice colors and fine textures come to party. 45+ Options to explore.', 'accordionTarget': 'upholstery'}, {'accordionHead': 'Pillow & Cushion Shape', 'accordionDescription': 'Choose either Plush or Snug and give your sofa the perfect sit.', 'accordionTarget': 'pillow-cushion-shape'},{'accordionHead': 'Pillow Detail', 'accordionDescription': 'Button ‘em, tuft ‘em, stitch ‘em, or leave ‘em bare: anything goes.', 'accordionTarget': 'pillow-detail'},{'accordionHead': 'Cushion Detail', 'accordionDescription': 'Tuft ‘em, stitch ‘em, or leave ‘em bare: whatever you want.', 'accordionTarget': 'cushion-detail'}, {'accordionHead': 'Base Style', 'accordionDescription': 'From Retro to this-century modern, choose the base that fits your style.', 'accordionTarget': 'base-style'}]" %}

    <category-banner 
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_01.jpg?1661574', 'title': 'Issa Armchair', 'linkText': 'Customize starting at $348', hyperLink: 'https://insideweather.com/products/ac18bd11101019-pebble-weave-issa-armchair-in-heathered-slate'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_02.jpg?1661574', 'title': 'Levi Armchair', 'linkText': 'Customize starting at $448', hyperLink: 'https://insideweather.com/products/ac15bc11101017-pebble-weave-levi-armchair-in-heathered-taupe'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_03.jpg?1661574', 'title': 'Soba Armchair', 'linkText': 'Customize starting at $498', hyperLink: 'hhttps://insideweather.com/products/ac10ar11101013-oxford-weave-soba-armchair-in-pebble'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_04.jpg?1661574', 'title': 'Brooklyn Armchair', 'linkText': 'Customize starting at $398', hyperLink: 'https://insideweather.com/products/ac19bl11101010-cross-weave-brooklyn-armchair-in-cloud'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_05.jpg?1661574', 'title': 'Asher Armchair', 'linkText': 'Customize starting at $498', hyperLink: 'https://insideweather.com/products/ac22bd11101014-pebble-weave-asher-armchair-in-heathered-slate'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_06.jpg?1661574', 'title': 'Nox Armchair', 'linkText': 'Customize starting at $348', hyperLink: 'https://insideweather.com/products/ac13bc11101021-pebble-weave-nox-armchair-in-heathered-taupe'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_07.jpg?1661574', 'title': 'Milo Armchair', 'linkText': 'Customize starting at $398', hyperLink: 'https://insideweather.com/products/ac14ar11101023-oxford-weave-milo-armchair-in-pebble'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchair_col_08.jpg?1661574', 'title': 'Jett Armchair', 'linkText': 'Customize starting at $474', hyperLink: 'https://insideweather.com/products/ac17bl11101015-cross-weave-jett-armchair-in-cloud'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Start with a Silhouette"
          section-description="Choose your favorite collection and make it your own."
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_01_d.jpg?1661520', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_01_m.jpg?1661520', 'title': 'Custom Upholstery','description': 'Play around and flip through all the colors and textures! When you’ve narrowed it down to your favs, order some free swatches for that IRL buzz. Next thing you know you’ll be sitting pretty on top of your custom made throne.'},{'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_02_d.jpg?1661520', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_02_m.jpg?1661520', 'title': 'Life-Proof','description': 'Our armchairs are designed to withstand whatever life throws at them. Like to eat on the couch? No problem, our fabrics are easy to clean. Have a fuzzy friend? No worries, they’re pet-friendly too! And if you have to move? Armchairs can be put together, and taken apart with ease.'},{'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_03_d.mp4?1664668', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_03_m.mp4?1661520', 'title': 'Customize Your Comfort', 'description': 'It shouldn’t just look custom, it should feel custom too. Whether you like a little more support, or prefer a softer sit, Snug and Plush cushion options allow you to customize for comfort. Now doesn’t that feel nice?'},]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted_m_min.jpg?1661495', 'title':'California Crafted','description':'Every one of our pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship_m_min.jpg?1661495', 'title':'Free Shipping','description':'That’s right. Free shipping on every order! And did we mention that it ships within days? Besides, life’s too short to wait...and you desperately need a place to sit.'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial_m_min.jpg?1661495', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new design. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.'}]"%}
    
    <div class="categoryValuePropsWrapper">
      <category-vprops 
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_01-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S281A3661/138S281A3661-0_small.jpg','title':'Vegan Leather Nox Armchair in Ivory','price':'$673', 'productUrl':'https://insideweather.com/products/ac13bb10111019-vegan-leather-nox-armchair-in-ivory'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47S753F88CC/47S753F88CC-0_small.jpg','title':'Espresso Rectangle Side Table in Green Marble','price':'$108', 'productUrl':'https://insideweather.com/products/st15fl13-espresso-rectangle-side-table-in-green-marble'}]},
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_02-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S4ED5876F/138S4ED5876F-0_small.jpg','title':'Cross Weave Asher Armchair in Yale Blue','price':'$648', 'productUrl':'https://insideweather.com/products/ac22aa11101013-cross-weave-asher-armchair-in-yale-blue'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_03-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138SE7FE1684/138SE7FE1684-0_small.jpg','title':'Cross Weave Issa Armchair in Olive Green','price':'$348', 'productUrl':'https://insideweather.com/products/ac18at11111116-cross-weave-issa-armchair-in-olive-green'},]}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_04-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138SC3D2F4EA/138SC3D2F4EA-0_small.jpg','title':'Mod Velvet Milo Armchair in Jade Green','price':'$723', 'productUrl':'https://insideweather.com/products/ac14ba11131011-mod-velvet-milo-armchair-in-jade-green'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_05-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S74C219CA/138S74C219CA-0_small.jpg','title':'Micro Suede Milo Armchair in Charcoal','price':'$748', 'productUrl':'https://insideweather.com/products/ac14bn11121014-micro-suede-milo-armchair-in-charcoal'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$123', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_06-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S8F5F99CB/138S8F5F99CB-0_small.jpg','title':'Pebble Weave Brooklyn Armchair in Heathered Slate','price':'$648', 'productUrl':'https://insideweather.com/products/ac19bd10101012-pebble-weave-brooklyn-armchair-in-heathered-slate'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/138S5AA0FEF1/138S5AA0FEF1-0_small.jpg','title':'Pebble Weave Brooklyn Armchair in Heathered Slate','price':'$748', 'productUrl':'https://insideweather.com/products/ac19bd10121012-pebble-weave-brooklyn-armchair-in-heathered-slate'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_07-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S0AD4079E/138S0AD4079E-0_small.jpg','title':'Cross Weave Soba Armchair in Cayenne','price':'$798', 'productUrl':'https://insideweather.com/products/ac11bo11121117-cross-weave-soba-armchair-in-cayenne'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_08-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S9393641F/138S9393641F-0_small.jpg','title':'Cross Weave Issa Armchair in Aubergine','price':'$448', 'productUrl':'https://insideweather.com/products/ac18bs11131021-cross-weave-issa-armchair-in-aubergine'},]},  
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_10-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S10006DA6/138S10006DA6-0_small.jpg','title':'Cross Weave Issa Armchair in Yale Blue','price':'$498', 'productUrl':'https://insideweather.com/collections/armchairs/products/138s10006da6-issa-armchair-344716'}]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_armchairs_lg_09-min.jpg?1661584','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/138S9719A2AC/138S9719A2AC-0_small.jpg','title':'Mod Velvet Brooklyn Armchair in Midnight','price':'$673', 'productUrl':'https://insideweather.com/products/ac18aa10131013-cross-weave-issa-armchair-in-yale-blue'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$123', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Visualize the Possibilities"
        section-description="Ask more from your furniture."
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) { 
  
  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter", 
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')', 
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')', 
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>