<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'altText': 'modern lounge chairs', 'image':'https://cdn.insideweather.com/cat/lounge-chairs/tb/cat_lounge-charis_tb_d_v3_00.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/lounge-chairs/tb/cat_lounge-charis_tb_m_v3_00.jpg','heading':'Custom Lounge chairs','description':'Pick a model and design the details.','linkText':'Customize now','url':'https://insideweather.com/products/el11ao-latte-edgar-lounge-chair-in-olive-green', dataSource: 'default'}, {'altText': 'modern lounge chairs', 'image':'https://cdn.insideweather.com/cat/lounge-chairs/tb/cat_lounge-charis_tb_d_v3_01.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/lounge-chairs/tb/cat_lounge-charis_tb_m_v3_01.jpg','heading':'Frame Finish','description':'Select the silhouette and choose from a number of finishes to perfectly accent your home.','linkText':'Customize now','url':'https://insideweather.com/products/el11ao-latte-edgar-lounge-chair-in-olive-green', dataSource: 'frame-finish'},{'altText': 'modern lounge chairs', 'image':'https://cdn.insideweather.com/cat/lounge-chairs/tb/cat_lounge-charis_tb_d_v3_02.jpg','imageSm': 'https://cdn.insideweather.com/cat/lounge-chairs/tb/cat_lounge-charis_tb_m_v3_02.jpg','heading':'Upholstery','description':'Make it yours; choose from over 400 unique, quality upholsteries.','linkText':'Customize now','url':'https://insideweather.com/products/el11ao-latte-edgar-lounge-chair-in-olive-green', dataSource: 'upholstery'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Frame Finish', 'accordionDescription': 'Select the silhouette and choose from a number of finishes to perfectly accent your home.', 'accordionTarget': 'frame-finish'},{'accordionHead': 'Upholstery', 'accordionDescription': 'Make it yours; choose from over 400 unique, quality upholsteries.', 'accordionTarget': 'upholstery'}]" %}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://cdn.insideweather.com/cat/lounge-chairs/grid/v4/cat_lounge-chairs_grid_01.jpg', 'title': 'Ada Lounge Chair with Pillow', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/ad1010ka12-latte-ada-lounge-chair-in-flax'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/4/ANA_ACE.JPG?background=FFFFFF&feature=BODY:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&size=400', 'title': 'Ace Lounge Chair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/al10af-latte-ace-lounge-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/4/CNV_VITA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&size=400', 'title': 'Vita Lounge Chair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/vl11af-latte-vita-lounge-chair-in-cloud'},

    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/grid/v4/cat_lounge-chairs_grid_04.jpg', 'title': 'Ada Lounge Chair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/ad1010ka10-latte-ada-lounge-chair-in-flax'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&size=400', 'title': 'Usonia™ Edgar Lounge Chair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/el11an-latte-edgar-lounge-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/NELS_OTT/frames/4/NELS_OTT.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&size=400', 'title': 'Usonia™ West Ottoman', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/wo11an-latte-west-ottoman-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/4/CNV_AVA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&size=400', 'title': 'Usonia™ Arcadia Lounge Chair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/ar11an-latte-arcadia-lounge-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/AVA_OTT/frames/5/AVA_OTT.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&size=400', 'title': 'Usonia™ Spring Ottoman', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/sp11an-latte-spring-ottoman-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/1/ANA_ARM.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:CORDOVA%20FLAX&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400', 'title': 'The Custom Milo Armchair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/ac13ca1211131010-custom-milo-armchair-in-flax'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/1/ANA_ARM.JPG?background=FFFFFF&feature=ARM%20STYLE:ASHER%20(WOOD)&feature=ARM%20FINISH:LATTE&feature=UPHOLSTERY:CORDOVA%20FLAX&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400', 'title': 'The Custom Asher Armchair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/ac21ca1211131010-custom-asher-armchair-in-flax'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/1/ANA_ARM.JPG?background=FFFFFF&feature=ARM%20STYLE:LEVI%20(FABRIC)&feature=UPHOLSTERY:CORDOVA%20FLAX&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400', 'title': 'The Custom Levi Armchair', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/ac14ca1211131010-custom-levi-armchair-in-flax'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_OTT/frames/1/ANA_OTT.JPG?background=FFFFFF&feature=UPHOLSTERY:CORDOVA%20FLAX&feature=SHAPE:PLUSH&feature=BASE%20TYPE:DOWEL&feature=BASE%20FINISHES:LATTE&size=400', 'title': 'The Custom Ottoman', 'linkText': 'CUSTOMIZE NOW','originalPrice': '', 'discountPrice': '', hyperLink: 'https://insideweather.com/products/otan101710-custom-ottoman-in-cloud'}]" %}

    {% assign isOriginalPrice = true %}
    {% assign isDiscountPrice = true %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Start with a Silhouette"
          section-description="Choose between an array of colors, graphics and finishes to make it 100% yours."
          :is-original-price="{{isOriginalPrice}}"
          :is-discount-price="{{isDiscountPrice}}"
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/cat/lounge-chairs/details/upholstery/upholstery_d_v2.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/lounge-chairs/details/upholstery/upholstery_m_v2.mp4', 'title': 'Custom Modern Lounge Chair Upholstery','description': 'Play around and flip through all the colors and patterns to create the perfect modern lounge chair! When you’ve narrowed it down to your favs, order some swatches for that IRL buzz. Next thing you know you’ll be sitting plop right on top of your custom made throne.'},{'isVideo':'false', 'objectUrl': 'https://cdn.insideweather.com/cat/lounge-chairs/details/attentiontodetail/cat_lounge-chairs_details_02_d_v2.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/lounge-chairs/details/attentiontodetail/cat_lounge-chairs_details_02_m_v2.jpg', 'title': 'Attention to Detail','description': 'Our modern lounge chairs come in a variety of materials and finishes, each one designed to add the perfect accent to your space, from the unique layered look of finished plywood edges, to the fine-grain details of solid ash wood. Beauty is in the details, and our lounge chairs are the ideal accent piece.'}, {'isVideo':'false', 'objectUrl': 'https://cdn.insideweather.com/cat/lounge-chairs/details/lifeproof/cat_lounge-chairs_details_03_d-min.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/lounge-chairs/details/lifeproof/cat_lounge-chairs_details_03_m-min.jpg', 'title': 'Life-Proof','description': 'Each custom lounge chair style comes with features that fit the pace of your unique life. Whether you want swappable custom seat pads or easy-to-clean cushion upholstery, there’s a modern lounge chair here that’s got you covered. Look out for our stain resistant Performance fabrics, purrfectly Pet-Friendly selections and even Commercial Grade options that fit the bill!'}, {'isVideo':'false', 'objectUrl': 'https://cdn.insideweather.com/cat/all/sustainable/sustainable_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/all/sustainable/sustainable_m.jpg', 'title': 'Sustainable Style','description': 'Every material that we use is selected with intention. Look out for certifications across our lounge chair collection that meet the following standards: FSC, SFC, Oeko-Tex, & Bluesign. In our Crafthouse, we recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}
    ]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our custom modern lounge chairs is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each modern lounge chair to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new, modern lounge chair. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_01_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/3/CNV_AVA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:DS1095&size=400','title':'Latte Arcadia Lounge Chair in Custard Cream','price':'$848', 'productUrl':'https://insideweather.com/products/ar11nj-latte-arcadia-lounge-chair-in-custard-cream'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/AVA_OTT/frames/4/AVA_OTT.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:DS1095&size=400','title':'Latte Spring Ottoman in Custard Cream','price':'$258', 'productUrl':'https://insideweather.com/products/sp11nj-latte-spring-ottoman-in-custard-cream'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LATTE&feature=TOP%20SHELF:LIGHT%20ESPRESSO&feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO&size=400','title':'Espresso Hanna Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/hs11fyfy-espresso-hanna-side-table'}]},


    {'image': 'http://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_02_v5.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/4/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF&feature=WOOD%20FRAME%20FINISH:LATTE&feature=METAL%20FINISH:CARBON&feature=SEAT%20FABRIC:MONACO%20MONDO&feature=ACCENT%20PILLOW%20SHAPE:ROUND&size=200','title':'Latte Ada Lounge Chair in Oyster','price':'$648', 'productUrl':'https://insideweather.com/products/ad1010ji11-latte-ada-lounge-chair-in-oyster'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/4/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF&feature=WOOD%20FRAME%20FINISH:LATTE&feature=METAL%20FINISH:CARBON&feature=SEAT%20FABRIC:MONACO%20MONDO&feature=ACCENT%20PILLOW%20SHAPE:NONE&size=200','title':'Latte Ada Lounge Chair in Oyster','price':'$598', 'productUrl':'https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster'}]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_03_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/4/CNV_AVA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE&size=400','title':'Latte Arcadia Lounge Chair in Pebble','price':'$748', 'productUrl':'https://insideweather.com/products/ar11co-latte-arcadia-lounge-chair-in-pebble'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/AVA_OTT/frames/4/AVA_OTT.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE&size=400','title':'Latte Spring Ottoman in Pebble','price':'$238', 'productUrl':'https://insideweather.com/products/sp11co-latte-spring-ottoman-in-pebble'}]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_04_v4.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/149S776CF5D8/149S776CF5D8-0_small.jpg','title':'Latte Vita Lounge Chair in Sweet Palm','price':'$573', 'productUrl':'https://insideweather.com/products/vl11bl-latte-vita-lounge-chair-in-sweet-palm'},]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_05_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/4/ANA_ACE.JPG?background=FFFFFF&feature=BODY:LATTE&feature=UPHOLSTERY:LINEN%20WEAVE%20-%20STONE%20BLUE&size=400','title':'Latte Ace Lounge Chair in Stone Blue','price':'$723', 'productUrl':'https://insideweather.com/products/al10ai-latte-ace-lounge-chair-in-stone-blue'}]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_06_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/4/CNV_AVA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL&size=400','title':'Latte Arcadia Lounge Chair in Seashell','price':'$523', 'productUrl':'https://insideweather.com/products/ar11cw-latte-arcadia-lounge-chair-in-seashell'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/4/CNV_VITA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=EDGE%20FINISHES:LIGHT%20ESPRESSO&feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER&size=400','title':'Espresso Vita Lounge Chair in Sunflower','price':'$473', 'productUrl':'https://insideweather.com/products/vl12ab-espresso-vita-lounge-chair-in-sunflower'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:PEBBLE%20WEAVE%20AVOCCADO&size=400','title':'Espresso Edgar Lounge Chair in Avocado','price':'$938', 'productUrl':'https://insideweather.com/products/el10cr-espresso-edgar-lounge-chair-in-avocado'}]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_07_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE&size=400','title':'Espresso Edgar Lounge Chair in Pebble','price':'$948', 'productUrl':'https://insideweather.com/products/el10co-espresso-edgar-lounge-chair-in-pebble'}]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_08_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/4/ANA_ACE.JPG?background=FFFFFF&feature=BODY:LIGHT%20ESPRESSO&feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER&size=400','title':'Espresso Ace Lounge Chair in Sunflower','price':'$748', 'productUrl':'https://insideweather.com/products/al11ab-espresso-ace-lounge-chair-in-sunflower'}]},


    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_10_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/4/CNV_AVA.JPG?background=FFFFFF&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL&size=400','title':'Latte Arcadia Lounge Chair in Seashell','price':'$738', 'productUrl':'https://insideweather.com/products/ar11cw-latte-arcadia-lounge-chair-in-seashell'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:CROSS%20WEAVE%20RAVEN%20GREY&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:BOLSTER&size=400','title':'Custom Issa Sofa in Raven Gray','price':'$1,349', 'productUrl':'https://insideweather.com/products/sf17ap101210141610-custom-issa-sofa-in-raven-gray'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S0AF87F9E/48S0AF87F9E-0_small.jpg','title':'Latte Oval Coffee Table in Nordic Clouds','price':'$218', 'productUrl':'https://insideweather.com/products/ct16dm11-latte-oval-coffee-table-in-nordic-clouds'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117B/HD117B-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Blue','price':'$29', 'productUrl':'https://insideweather.com/products/hd117b-mia-mug-wood-saucer-set-in-blue'}]},



    {'image': 'https://cdn.insideweather.com/cat/lounge-chairs/lifestyles/cat_lounge-chairs_lg_09_v4.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF&feature=BASE%20FINISHES:LIGHT%20ESPRESSO&feature=EDGE%20FINISHES:LATTE&feature=UPHOLSTERY:PEBBLE%20WEAVE%20AVOCCADO&size=400','title':'Espresso Edgar Lounge Chair in Avocado','price':'$938', 'productUrl':'https://insideweather.com/products/el10cr-espresso-edgar-lounge-chair-in-avocado'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LATTE&feature=TOP%20SHELF:LIGHT%20ESPRESSO&feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO&size=400','title':'Espresso Hanna Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/hs11fyfy-espresso-hanna-side-table'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Visualize the Possibilities"
        section-description="Ask more from your custom lounge chair."
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>

    {% assign seoContent = "[{'isTitle': 'true','title': 'Inspired By Your Lifestyle','copy_one': 'Our modern lounge chairs are just that-- a perfect place to lounge. Though we aren’t in the business of telling you how to lounge (that’s for you to figure out), we sure do know how to customize a lounge chair. At Inside Weather, you can custom-design a modern lounge chair perfect for any living room, and you can even get an', 'copy_one_linktext_one': 'ottoman', 'copy_one_linkto_one': 'https://insideweather.com/pages/ottomans', 'copy_one_sub_one': 'to match. With multiple silhouettes, over 400 upholstery choices, and numerous wood finishes, you are bound to find a piece of', 'copy_one_linktext_two': 'modern living room furniture', 'copy_one_linkto_two': 'https://insideweather.com/pages/living-room', 'copy_one_sub_two': 'that pairs comfort with your individual style.', 'copy_two': 'Not only do our lounge chairs look good, but they’re also designed with comfort and utility in mind. Modern chairs like the Edgar Lounge Chair from our', 'copy_two_linktext_one': 'Usonia™ Collection', 'copy_two_linkto_one': 'https://insideweather.com/pages/franklloydwright', 'copy_two_sub_one': 'feature magazine and book storage under the seat. Plus, for those needing more forgiving upholstery, we offer commercially-rated stain-resistant fabric options. Transform your living room with a modern lounge chair from Inside Weather-- they’re as comfy as they are stylish.'}]" %}

    <div class="section_seoContent">
      <category-seo-content
        :seo-content="{{seoContent}}"
      >
      </category-seo-content>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();
function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}
function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}
jQuery(function ($) {
  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });
  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }
  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });
  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);
  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);
    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);
  });
  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });
  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');
  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});
function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
