<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.2.1/css/main-style.css?t=2019-05-23-17"><link rel="stylesheet" href="{{ 'pagefly.1e25860d.scss.css' | asset_url }}">
		 <style>#menu-item-text {
	margin-top:8px;
}

._VjrDJWv4__button a:hover {border-style:none !important;
	background-color: #202020 !important;
	opacity: 1 !important;
	color:#ffffff !important;	
}

._VjrDJWv4__button a:active {border-style:none !important;
	background-color: #202020 !important;
	opacity: 1 !important;
	color:#ffffff !important;	
}

._VjrDJWv4__button a:focused {border-style:none !important;
	background-color: #202020 !important;
	opacity: 1 !important;
	color:#ffffff !important;	
}

._VjrDJWv4__button a:visited {border-style:none !important;
	background-color: #202020 !important;
	opacity: 1 !important;
	color:#ffffff !important;	
}

.is-added {border-style:none !important;
	background-color: #202020 !important;
	opacity: 1 !important;
	color:#ffffff !important;	
}

.is-loading {border-style:none !important;
	background-color: #202020 !important;
	opacity: 1 !important;
	color:#ffffff !important;	
}


._VjrDJWv4__button {margin-top:5px !important;
	padding-left:30px !important;
		padding-right:30px !important;
}


._VjrDJWv4__title {
	 font-family: 'Avalon' !important;

    font-weight: 500 !important;
    font-style: normal !important;



} 
#menu-item:hover #sofette_hover   {
	background-color:#B1C8CD;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
}
#menu-item:hover #armchair_hover   {
	background-color:#F3EACA;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;

}
#menu-item:hover #dining_hover   {
	background-color:#D4D0CA;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;

}

#menu-item:hover #lounge_hover   {
	background-color:#C7D0C7;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;

}


#menu-item:hover #table_hover   {
	background-color:#9DA4A8;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
	
}

#menu-item:hover #storage_hover   {
	background-color:#CE9F8E;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
	
}


#menu-item:hover #menu-item-text
{ font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
}

#menu-item:hover  {border-bottom: 3px solid #202020;
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	opacity:1!important;
	color:#202020;
}
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div class="pf-5576fbb6 sc-hwwEjo kIFSBP" data-pf-type="Body"><div class="pf-f4e2b57a sc-kUaPvJ gjMMZr" data-pf-type="Layout"><div data-container="true" class="pf-72b300bb sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 2000px;"><div class="pf-1c02bc67 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-593b4fb1 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-cb3bccd5 avalon-bold sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-aeb7952f sc-RcBXQ uIbp" data-pf-type="Text">FREE SWATCHES</span></h3></div></div></div></div></div><div data-container="true" class="pf-a6b774de sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1170px;"><div class="pf-f10ba07a pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 15px;"><div class="pf-cc6466a5 sc-fONwsr BcUQo" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--8" style="padding: 15px;"><div class="pf-323c8045 sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-54ce6e17 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-ec514ba1 sc-RcBXQ uIbp" data-pf-type="Text">With over 400 options, you’ve got some decisions to make. Add <b>up to 15</b> of your favorites to your cart and we’ll send & ship them to your doorstep for free! This is a big decision. We make it easy.
<br> <br>
Design professional? Join our <a style="text-decoration:underline; color: #202020; font-weight:700;" href=" https://insideweather.com/pages/designer-trade-program">Designer Trade Program</a> for unlimited swatches!
</span></p></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 15px;"><div class="pf-9e2e0129 sc-fONwsr BcUQo" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="pf-4489affe sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1200px;"><div class="pf-f78507c6 pf-r pf-r-eh pf-r-ew sc-ipXKqB ldclMV" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 0px;"><div class="pf-1d4597e4 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-7eda57cf sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-ffb235f6 avalon-bold sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-859b1d92 sc-RcBXQ uIbp" data-pf-type="Text">SOFAS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 0px;"><div data-href="https://insideweather.com/pages/free-swatches-sofettes" data-target="_self" class="pf-6c1eaa92 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="sofette_hover" class="pf-bb991bc7 sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-11b72526 avalon-medium sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-be45f68f sc-RcBXQ uIbp" data-pf-type="Text">SOFETTES</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 0px;"><div data-href="https://insideweather.com/pages/free-swatches-armchairs" data-target="_self" class="pf-c901f12b sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="armchair_hover" class="pf-363f4085 sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-60954309 avalon-medium sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-d8659538 sc-RcBXQ uIbp" data-pf-type="Text">ARMCHAIRS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/free-swatches-dining-chairs" data-target="_self" class="pf-a529b167 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="dining_hover" class="pf-7fb9cd59 sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-3a4acb1c avalon-medium sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-49121473 sc-RcBXQ uIbp" data-pf-type="Text">DINING CHAIRS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/free-swatches-lounge-chairs" data-target="_self" class="pf-d3eb4962 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="lounge_hover" class="pf-bbe00caf sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-b05c28e9 avalon-medium sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-760010e7 sc-RcBXQ uIbp" data-pf-type="Text">LOUNGE CHAIRS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 0px;"><div data-href="https://insideweather.com/pages/free-swatches-tables" data-target="_self" class="pf-d0596c4d sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="table_hover" class="pf-c8674a0c sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-9b1c1655 avalon-medium sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-c981369f sc-RcBXQ uIbp" data-pf-type="Text">TABLES</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--2" style="padding: 0px;"><div data-href="https://insideweather.com/pages/free-swatches-storage" data-target="_self" class="pf-18dcee99 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="storage_hover" class="pf-f58e4064 sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-848805d6 avalon-medium sc-gwVKww lmgwgQ" id="menu-item-text" data-pf-type="Heading"><span class="pf-7e2a4ec5 sc-RcBXQ uIbp" data-pf-type="Text">Storage</span></h3></div></div></div></div></div><div data-container="true" class="pf-bcb121d9 pf-lg--hidden pf-md--hidden pf-sm--hidden sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1170px;"><div class="pf-6d155196 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f993aaca sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-4dcfdb0f sc-gzOgki htgaJh" data-pf-type="Custom.HTML">


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

div.scrollmenu {margin-left:0px; 
font-family: 'Avalon';
font-weight: 500;
    overflow: auto;
    white-space: nowrap;
		letter-spacing: .075em;
		color:#202020;
	
		
}

.other {
border-bottom: 1px solid #202020;


}

div.scrollmenu .current {
		opacity: 1;
		font-weight: 700;
		color:#202020;
}

.current {border-bottom: 3px solid #202020;


}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
		opacity: .4;
		margin-left: -2px;
		margin-right: -2px;

}



html {
  overflow:   scroll;
}

.scrollmenu::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>



<div class="scrollmenu">

 <a class="current" href="#"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_sofa-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px; background-color: #eec4af;"><br>SOFAS</a>
 
 <a class="other" href="https://insideweather.com/pages/free-swatches-sofettes#sofettes">
	<img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_sofette-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>SOFETTES</a>
 
 <a class="other" href="https://insideweather.com/pages/free-swatches-armchairs#armchairs"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_armchair-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>ARMCHAIRS</a>
	
  <a class="other" href="https://insideweather.com/pages/free-swatches-dining-chairs#dining-chairs"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_dining-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>DINING CHAIRS</a> 
  
<a class="other" href="https://insideweather.com/pages/free-swatches-lounge-chairs#lounge-chairs"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_lounge-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>LOUNGE CHAIRS</a>

<a class="other" href="https://insideweather.com/pages/free-swatches-tables#tables"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_tables-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>TABLES</a>
  
<a class="other" href="https://insideweather.com/pages/free-swatches-storage#storage"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_storage-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>STORAGE</a>  

</div>





</div></div></div></div></div></div><div data-container="true" class="pf-dfe598ca sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1200px;"><div class="pf-3673190c pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-5a5eb394 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-a4a93fda avalon-bold sc-gwVKww lmgwgQ" id="signature" data-pf-type="Heading"><span class="pf-8f5c6a63 sc-RcBXQ uIbp" data-pf-type="Text">SIGNATURE UPHOLSTERIES</span></h3></div></div></div><div class="pf-f9c73500 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-cb79b1e8 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-da935873 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-25ac2883 sc-RcBXQ uIbp" data-pf-type="Text">Oxford Weave</span></h3><div class="pf-1c87ad0f pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-a679a31d sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-e5cdc575 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-bc4ccd8d sc-RcBXQ uIbp" data-pf-type="Text">These intricate yet elegant hues offer a look that is smart and well-read. Slight natural variation in tone adds brightness to each shade, resulting in an upholstery that’s a Ph.D in sophistication.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 100% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Dry clean only; any solvent except trichloroethylene. Do not bleach. Iron on low heat.<br></span></p></div></div></div><div class="pf-5574598f pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['oxford-weave-swatches'].products  limit:8 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..8) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-03875c88 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-0ff87279 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-8711a425 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-debce5a0 sc-RcBXQ uIbp" data-pf-type="Text">Pebble Weave</span></h3><div class="pf-5aa4609c pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-27f64f5f sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-67eea060 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-9d424be4 sc-RcBXQ uIbp" data-pf-type="Text">This thickly woven upholstery shows off dynamic variations in tone and texture that produce an effect of organic movement that is especially enjoyable when your S.O. makes you sleep on the couch.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 100% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Dry clean only; any solvent except trichloroethylene. Do not bleach. Iron on low heat.<br></span></p></div></div></div><div class="pf-8f1da4e9 pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['pebble-weave-swatches'].products  limit:8 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..8) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-608baa83 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-adfbf18f sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-0cff915d avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-c948dbc5 sc-RcBXQ uIbp" data-pf-type="Text">Twilled Weave</span></h3><div class="pf-8e067c0f pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-b5e5efcd sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-1e0d7556 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-acce8b4a sc-RcBXQ uIbp" data-pf-type="Text">Variations in tone and breadth strikingly articulate each thread on this Twilled Weave. Light, interwoven threads contrast with base colors for a durable and multilayered aesthetic. Goes great with a charcuterie board and your favorite glass of red. <br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 100% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Machine wash; Cold. Do not bleach. Air dry. Dry clean; Any Solvent Except Trichloroethylene. Iron on low heat.<br></span></p></div></div></div><div class="pf-28930cdb pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['twilled-weave-swatches'].products  limit:3 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..3) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-93a3c301 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-0492dc5a sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-7f416182 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-fb4c50b0 sc-RcBXQ uIbp" data-pf-type="Text">Mod Velvet</span></h3><div class="pf-27495976 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-ed885dde sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-86dd90f6 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-180649a9 sc-RcBXQ uIbp" data-pf-type="Text">This alluring fabric adds luxurious appeal to any piece. Each hue holds a subtle shine of polished modern elegance. The plush texture is almost as dramatic as you are.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 100% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Dry clean only; any solvent except trichloroethylene. Do not bleach. Iron on low heat.<br></span></p></div></div></div><div class="pf-d0825698 pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['mod-velvet-swatches'].products  limit:6 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..6) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-24888c65 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-488e6313 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-89b3d199 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-d2c9777b sc-RcBXQ uIbp" data-pf-type="Text">Linen Weave</span></h3><div class="pf-27603547 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-2c0e97bf sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-fd0edcb6 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-2efe127b sc-RcBXQ uIbp" data-pf-type="Text">This organic crosshatch melds subtly contrasting tones for a simple yet elegant semblance that is smooth to the touch. If Jazz could upholster furniture, this would be it.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 20% Linen, 80% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Machine wash; Cold. Do not bleach. Air dry. Iron on medium heat. Do not dry clean.<br></span></p></div></div></div><div class="pf-7776ea87 pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['linen-weave-swatches'].products  limit:5 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..5) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-a2df4193 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-7f40281b sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-4c383905 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-472c6202 sc-RcBXQ uIbp" data-pf-type="Text">Cross Weave</span></h3><div class="pf-8845922f pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-89ec413b sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-75795dbb sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-357187f4 sc-RcBXQ uIbp" data-pf-type="Text">The Cross Weave’s saturated tones and densely woven fabric make for a timeless and polished look in any setting. Trust us, it’s a real crowd pleaser…even if it’s just you and your dog.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 100% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Dry clean only; any solvent except trichloroethylene. Do not bleach. Iron on low heat.<br></span></p></div></div></div><div class="pf-5f349ffc pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['cross-weave-swatches'].products  limit:8 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..8) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-8b26760a pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-4611b1c4 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-7ad6932b avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-6d3c27f9 sc-RcBXQ uIbp" data-pf-type="Text">Satin Weave</span></h3><div class="pf-f7336e67 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-e8cbc6ec sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-9a3e0722 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-89393b1f sc-RcBXQ uIbp" data-pf-type="Text">The Satin Weave’s heathered spin adds great depth to this thick, pronounced weave. The rich texture provides a durable surface in which the color splinters to reveal a bold and refined look. Sorry, we don’t make it in a dress. <br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 55% Polyester, 45% Acrylic<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Machine wash; Warm. Do not bleach. Steam or air dry. Dry clean; any solvent except trichloroethylene. Iron; any temperature.<br></span></p></div></div></div><div class="pf-5e66c163 pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['satin-weave-swatches'].products  limit:3 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..3) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-df373f67 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-00d77833 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-703cc0f9 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-54693320 sc-RcBXQ uIbp" data-pf-type="Text">Vegan Leather</span></h3><div class="pf-c6f7f7da pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-08f12620 sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-7c639fd9 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-f62963d5 sc-RcBXQ uIbp" data-pf-type="Text">This rich upholstery adds an air of distinction to any room. Soft and buttery to the touch, our Vegan Leather makes for a durable surface that’s . . . mmmm, butter . . . sorry, we got distracted.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span> 100% Synthetic Leather<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Spot clean only. Do not bleach. Air dry. Do not iron. Do not dry clean.<br></span></p></div></div></div><div class="pf-518894d4 pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['vegan-leather-swatches'].products  limit:3 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..3) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div><div class="pf-b5444591 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-4556f419 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-5b4c2f4c avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-2fe401ea sc-RcBXQ uIbp" data-pf-type="Text">Micro Suede</span></h3><div class="pf-17706107 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-c200e2a3 sc-fONwsr BcUQo" data-pf-type="Column"><p class="pf-62feed62 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-660adf17 sc-RcBXQ uIbp" data-pf-type="Text">This unique Micro Suede gives a gently weathered appearance to each natural hue. The taut surface maintains a sturdy shape and sleek profile, like a fine, embargoed Cuban cigar. This upholstery will finally prove to your parents that you’ve matured.<br><br>
<span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Composition:</span>&nbsp;100% Polyester<br><span style="font-family: 'Avalon'; text-transform:uppercase; font-weight: bold; letter-spacing: .05em; font-size:12px;">Care: </span>Spot clean only. Do not bleach. Air dry. Do not iron. Do not dry clean.<br></span></p></div></div></div><div class="pf-6abf73b5 pf-r pf-r-ew pf-r-ew--6 avalon-demi sc-jMMfwr hRRmvw" data-pf-type="Shopify.Products">{% for product in collections['micro-suede-swatches'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '200x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="200" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="+ ADD"><span data-variant="{{ product.variants.first.id }}">+ ADD</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="200"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__button"><a href="javascript:void(0);" class="product__button">+ ADD</a></div></div></div></div>{% endfor %}{% endfor %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","events":{},"pageflyVersion":"2.2.1","pageId":"1e25860d-e169-4032-9561-e90a9f1c7156"};
				</script><script src="https://cdn.pagefly.io/pagefly/2.2.1/core/helper.js?t=2019-05-23-17" defer></script><script>setTimeout(function() {
  __pagefly_helper_store__ &&
    __pagefly_helper_store__.subscribe(function() {
      $("body").trigger("added.ajaxProduct");
    });
}, 2000);</script>