<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_00-min.jpg?1661527', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_00-min.jpg?1661534','heading':'Sofettes','description':'Start with a silhouette and customize every detail to make it your own.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'default'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_01-min.jpg?1661527', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_01-min.jpg?1661534','heading':'Arm Style','description':'Everything from tall & thin, to short & stout. Select from 10+ styles.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'arm-style'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_02-min.jpg?1661527','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_02-min.jpg?1661534','heading':'Upholstery','description':'Where nice colors and fine textures come to party. 45+ Options to explore.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'upholstery'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_03-min.jpg?1661527', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_03-min.jpg?1661534','heading':'Pillow & Cushion Shape','description':'Choose either Plush or Snug and give your sofa the perfect sit.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'pillow-cushion-shape'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_04-min.jpg?1661527','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_04-min.jpg?1661534','heading':'Configuration','description':'Design any combination of split and 3-seater cushion options.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'configuration'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_05-min.jpg?1664676', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_05-min.jpg?1664676','heading':'Pillow Detail','description':'Button ‘em, tuft ‘em, stitch ‘em, or leave ‘em bare: anything goes.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'pillow-detail'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_06-min.jpg?1664676','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_06-min.jpg?1664676','heading':'Cushion Detail','description':'Tuft ‘em, stitch ‘em, or leave ‘em bare: whatever you want.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'cushion-detail'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_d_07-min.jpg?1661527','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_tb_m_07-min.jpg?1661534','heading':'Base Style','description':'From Retro to this-century modern, choose the base that fits your style.','linkText':'Customize now','url':'https://insideweather.com/products/se22aa11111012-cross-weave-asher-sofette-in-yale-blue', dataSource: 'base-style'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Arm Style', 'accordionDescription': 'Everything from tall & thin, to short & stout. Select from 10+ styles.', 'accordionTarget': 'arm-style'},{'accordionHead': 'Upholstery', 'accordionDescription': 'Where nice colors and fine textures come to party. 45+ Options to explore.', 'accordionTarget': 'upholstery'}, {'accordionHead': 'Pillow & Cushion Shape', 'accordionDescription': 'Choose either Plush or Snug and give your sofa the perfect sit.', 'accordionTarget': 'pillow-cushion-shape'},{'accordionHead': 'Configuration', 'accordionDescription': 'Design any combination of split and 3-seater cushion options.', 'accordionTarget': 'configuration'},{'accordionHead': 'Pillow Detail', 'accordionDescription': 'Button ‘em, tuft ‘em, stitch ‘em, or leave ‘em bare: anything goes.', 'accordionTarget': 'pillow-detail'}, {'accordionHead': 'Cushion Detail', 'accordionDescription': 'Tuft ‘em, stitch ‘em, or leave ‘em bare: whatever you want.', 'accordionTarget': 'cushion-detail'}, {'accordionHead': 'Base Style', 'accordionDescription': 'From Retro to this-century modern, choose the base that fits your style.', 'accordionTarget': 'base-style'}]" %}

    <category-banner 
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_01.jpg?1661542', 'title': 'Issa Sofette', 'linkText': 'Customize starting at $648', hyperLink: 'https://insideweather.com/products/se18bd11101019-pebble-weave-issa-sofette-in-heathered-slate'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_02.jpg?1661542', 'title': 'Levi Sofette', 'linkText': 'Customize starting at $774', hyperLink: 'https://insideweather.com/products/se15bc11101017-pebble-weave-levi-sofette-in-heathered-taupe'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_03.jpg?1661542', 'title': 'Powell Sofette', 'linkText': 'Customize starting at $698', hyperLink: 'https://insideweather.com/products/se12ar11101013-oxford-weave-powell-sofette-in-pebble'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_04.jpg?1661542', 'title': 'Brooklyn Sofette', 'linkText': 'Customize starting at $698', hyperLink: 'https://insideweather.com/products/se19bl11101010-cross-weave-brooklyn-sofette-in-cloud'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_05.jpg?1661542', 'title': 'Asher Sofette', 'linkText': 'Customize starting at $848', hyperLink: 'https://insideweather.com/products/se22bd11101014-pebble-weave-asher-sofette-in-heathered-slate'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_06.jpg?1661542', 'title': 'Nox Sofette', 'linkText': 'Customize starting at $648', hyperLink: 'https://insideweather.com/products/se13bc11101021-pebble-weave-nox-sofette-in-heathered-taupe'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_07.jpg?1661542', 'title': 'Jett Sofette', 'linkText': 'Customize starting at $798', hyperLink: 'https://insideweather.com/products/se17ar11101015-oxford-weave-jett-sofette-in-pebble'}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofette_col_08.jpg?1661542', 'title': 'Milo Sofette', 'linkText': 'Customize starting at $698', hyperLink: 'https://insideweather.com/products/se14bl11101023-cross-weave-milo-sofette-in-cloud'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Start with a Silhouette"
          section-description="Choose your favorite collection and make it your own."
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_01_d.jpg?1661520', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_01_m.jpg?1661520', 'title': 'Custom Upholstery','description': 'Play around and flip through all the colors and textures! When you’ve narrowed it down to your favs, order some free swatches for that IRL buzz. Next thing you know you’ll be sitting pretty on top of your custom made throne.'},{'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_02_d.jpg?1661520', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_02_m.jpg?1661520', 'title': 'Life-Proof','description': 'Our sofettes are designed to withstand whatever life throws at them. Like to eat on the couch? No problem, our fabrics are easy to clean. Have a fuzzy friend? No worries, they’re pet-friendly too! And if you have to move? Sofettes can be put together, and taken apart with ease.'},{'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_03_d.mp4?1664668', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofa-sofette-arm_details_03_m.mp4?1661520', 'title': 'Customize Your Comfort','description': 'It shouldn’t just look custom, it should feel custom too. Whether you like a little more support, or prefer a softer sit, Snug and Plush cushion options allow you to customize for comfort. Now doesn’t that feel nice?'},]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted_m_min.jpg?1661495', 'title':'California Crafted','description':'Every one of our pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship_m_min.jpg?1661495', 'title':'Free Shipping','description':'That’s right. Free shipping on every order! And did we mention that it ships within days? Besides, life’s too short to wait...and you desperately need a place to sit.'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial_m_min.jpg?1661495', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new design. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.'}]"%}    
    
    <div class="categoryValuePropsWrapper">
      <category-vprops 
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_01-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S3F4595E5/141S3F4595E5-0_small.jpg','title':'Micro Suede Milo Sofette in Charcoal','price':'$998', 'productUrl':'https://insideweather.com/products/se14bn11111114-micro-suede-milo-sofette-in-charcoal'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47S3CEB8D42/47S3CEB8D42-0_small.jpg','title':'Latte Oval Coffee Table in Cream','price':'$178', 'productUrl':'https://insideweather.com/products/ct16gk12-latte-oval-coffee-table-in-cream'}]},
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_02-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S74286CAA/141S74286CAA-0_small.jpg','title':'Vegan Leather Issa Sofette in Ivory','price':'$1048', 'productUrl':'https://insideweather.com/products/se18bb10121012-vegan-leather-issa-sofette-in-ivory'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$123', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_03-min.jpg?1661554','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S7AE4FF4E/141S7AE4FF4E-0_small.jpg','title':'Mod Velvet Issa Sofette in Vanilla','price':'$898', 'productUrl':'https://insideweather.com/products/se18ad10101020-mod-velvet-issa-sofette-in-vanilla'},]}, {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_04-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141SB50310B6/141SB50310B6-0_small.jpg','title':'Mod Velvet Powell Sofette in Jade Green','price':'$1023', 'productUrl':'https://insideweather.com/products/se12ba11131115-mod-velvet-powell-sofette-in-jade-green'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47S7600861F/47S7600861F-0_small.jpg','title':'Espresso Round Side Table in Espresso Wood','price':'$123', 'productUrl':'hhttps://insideweather.com/products/st13fy13-espresso-round-side-table-in-espresso-wood'} ]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_05-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S79DD3E61/141S79DD3E61-0_small.jpg','title':'Linen Weave Issa Sofette in Dijon','price':'$748', 'productUrl':'https://insideweather.com/products/se18bi11111012-linen-weave-issa-sofette-in-dijon'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$123', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_06-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S17FC3C8F/141S17FC3C8F-0_small.jpg','title':'Cross Weave Issa Sofette in Cloud','price':'$648', 'productUrl':'https://insideweather.com/products/se18bl11111012-cross-weave-issa-sofette-in-cloud'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$123', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_07-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S3D83824B/141S3D83824B-0_small.jpg','title':'Cross Weave Asher Sofette in Yale Blue','price':'$948', 'productUrl':'https://insideweather.com/products/se22aa11101014-cross-weave-asher-sofette-in-yale-blue'},]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_08-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S4202BDD5/141S4202BDD5-0_small.jpg','title':'Cross Weave Milo Sofette in Cayenne','price':'$898', 'productUrl':'https://insideweather.com/products/se14bo11121012-cross-weave-milo-sofette-in-cayenne'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$123', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}]},  
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_10-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S807ED76F/141S807ED76F-0_small.jpg','title':'Mod Velvet Milo Sofette in Blue Topaz','price':'$1173', 'productUrl':'https://insideweather.com/products/se14bp11141210-mod-velvet-milo-sofette-in-blue-topaz'}]}, 
    {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_sofettes_lg_09-min.jpg?1661552','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S77390D59/141S77390D59-0_small.jpg','title':'Linen Weave Issa Sofette in Dijon','price':'$748', 'productUrl':'https://insideweather.com/products/se18bi11111012-linen-weave-issa-sofette-in-dijon'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Visualize the Possibilities"
        section-description="Ask more from your furniture."
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) { 
  
  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter", 
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')', 
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')', 
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>