<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign hasBannerContent = true %}
    {% assign newButton = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.insideweather.com/cat/sofa-line/tb/cat_sofette_tb_d_v2.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/sofa-line/tb/cat_sofette_tb_m_v2.jpg','heading':'CUSTOM SOFETTES','description':'Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships free to you in a manageable box.','linkText':'Customize now','url':'https://insideweather.com/products/se17an131010171010-custom-issa-sofette-in-cloud'}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"
      :new-button={{newButton}}
      >
    </category-banner>

    {% assign valueProps = "[{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/usa-ico.png', 'title': 'MADE IN THE USA'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/home-trial-ico.png', 'title': '365 DAY HOME TRIAL'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/free-ship-ico.png', 'title': 'FREE SHIPPING'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/sustainable-ico.png', 'title': 'SUSTAINABLE'}]"%}

    <hiw-props
      :value-props="{{valueProps}}"
    ></hiw-props>


    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:ELIOT%20DOVE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:BOLSTER&size=400', 'title': 'Issa Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se17bu131110171610-custom-issa-sofette-in-mist'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:LEVI%20(FABRIC)&feature=UPHOLSTERY:ELIOT%20SUNFLOWER&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20BRASS&feature=ADD%20ONS:NONE&size=400', 'title': 'Levi Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se14bt101011211010-custom-levi-sofette-in-butterscotch'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:ASHER%20(WOOD)&feature=ARM%20FINISH:LIGHT%20ESPRESSO&feature=UPHOLSTERY:ECLIPSE%20OLIVE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:PILLOW%2018&size=400', 'title': 'Asher Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se22bm131110161210-custom-asher-sofette-in-moss'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:MONACO%20MONDO&feature=CONFIGURATION:FULL_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20SILVER&feature=ADD%20ONS:PILLOW%2018&size=400', 'title': 'Brooklyn Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se18be121210111210-custom-brooklyn-sofette-in-oyster'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:JETT%20(WOOD)&feature=ARM%20FINISH:LATTE&feature=UPHOLSTERY:ROYALE%20COBALT&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:BUTTON%202&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:SNUG%20PILLOW&size=400', 'title': 'Jett Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se15dc101012131510-custom-jett-sofette-in-sapphire'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:NOX%20(FABRIC)&feature=UPHOLSTERY:ROYALE%20BLUSH&feature=CONFIGURATION:FULL_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:PILLOW%2020&size=400', 'title': 'Nox Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se12da111110121310-custom-nox-sofette-in-powder-pink'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:BLACK&feature=ADD%20ONS:NONE&size=400', 'title': 'Milo Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se13br101110231010-custom-milo-sofette-in-whiskey'},{'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:SOBA%20(WOOD)&feature=ARM%20FINISH:LIGHT%20ESPRESSO&feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:BUTTON%203&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:BOLSTER&size=400', 'title': 'Soba Sofette', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/se11co131013171610-custom-soba-sofette-in-pebble'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Customize Our Best Sellers"
          section-description="Start with a silhouette and make it your own."
        >
        </category-collections>
      </div>
    </div>

    {% assign listItems = "[{'image':'https://cdn.insideweather.com/cat/sofa-line/customize/cat_sofette_customize-bnr_m_01_v1-min.png'},{'image':'https://cdn.insideweather.com/cat/sofa-line/customize/cat_sofette_customize-bnr_m_02_v1-min.png'}]"%}

    <div class="customizable-category --pd-t-110 --pd-b-130 --pd-m-b-0">
      <div class="customizable-wrapper" style="background-color: #DBE0E4">
        <customizable-category
          :list-items="{{listItems}}"
          destination-url="https://insideweather.com/products/se17an131010171010-custom-issa-sofette-in-cloud"
          desktop-image="https://cdn.insideweather.com/cat/sofa-line/customize/cat_sofette_customize-bnr_d_01_v1-min.png"
          btn-text="Customize Now"
          section-heading="The Most Customizable Loveseat On the Internet"
          section-description="When we say custom, we mean it. Explore all the ways you can modify our apartment sofa to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships FREE to your doorstep months faster than any other  &ldquo;custom&rdquo; maker out there."
        >
        </customizable-category>
      </div>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_m.mp4', 'title': 'Upholsteries Galore','description': 'The mecca of fabric libraries if you will. Choose from 100+ choices that span the rainbow, all of which are hand-stitched here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (& potential mischief). Your match is here, you just have to find it!'}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = true %}

    <div class="categoryDetails">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        desktop-image="https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery-icons_d_v3.png"
        mobile-image="https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery-icons_m_v3.png"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_d_v2.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_m_v2.jpg', 'title': 'A Life-Proof Loveseat','description': 'Our sofettes are designed to withstand whatever life throws at them. Every upholstered element of each frame is enclosed in a water-resistant nylon casing for the ultimate protection against, well, you. This means even the back panel, the arms, and—of course—the pillows & cushions have this added layer of protection. Additionally, every cushion & pillow features a concealed zipper for easy, practical removal & cleaning. P.S. For fabric specific info on durability, check out Wyzenbeek Test Method Rub Count Scores on each product page!'}]" %}
    {% assign isReverse = true %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign options = "[{'index': '1','dImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_d.png','mImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_m.png','heading': 'CLASSIC BLEND','desc': 'Supportive Comfort | Firm yet cushy sit','icon': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_01.png','description': 'A medium density, high resilience foam topped with a plush layer of our signature, 100% recycled down alternative. The perfect balance of support, squish and a little bit of bounce.'},{'index': '2','dImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_d.png','mImage': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_m.png','heading': 'MEMORY FOAM BLEND','desc': 'Sink-in Comfort | Plush contouring layers','icon': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_02.png','description': 'A smooth, transitional layer of temperature-regulating memory foam sits atop medium density, high resiliency foam and is wrapped in a lush layer of our sustainable, recycled down alternative.'}]"%}

    <div class="custom-comfort-detail-category --pd-t-110 --pd-b-110 --pd-m-b-0">
      <div class="custom-comfort-wrapper">
        <custom-comfort
          :options="{{options}}"
          section-heading="Custom Comfort"
          section-description="We believe that one size does not fit all which is why we've decided to hand over all comfort control to you—the actual sofa snuggler. Choose between various layers of domestically sourced insert options to find the custom formula that's truly right for you."
        >
        </custom-comfort>
      </div>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_m.jpg', 'title': 'The Sofa of 200 Plastic Bottles','description': 'Every upholstered portion of our sofa (yes, even the back) is wrapped in a layer of our Signature Synthetic Down and the pillows are full of it. This cushy, cloud-like material is 100% recycled down alternative and one sofa = roughly 200 recycled plastic bottles. The disposable bottles that we upcycle are sterilized in hot water, ground into tiny flakes, re-melted and extruded to make a polyester fiber. This material helps keep plastics out of our landfills & oceans and helps fill your home with comfortable, sustainable products as we believe both Mother Earth and your comfort are uncompromisable. '}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-b-110">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_01_v2.jpg','popUpList': [{'productImage': 'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:OXFORD%20WEAVE%20DAFFODIL&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:ARC&feature=BASE%20FINISH:METAL%20LEGS%20SILVER&feature=ADD%20ONS:BOLSTER&size=200','title':'Custom Issa Sofette in Daffodil','price':'$1,149', 'productUrl':'https://insideweather.com/products/se17ck101211111610-custom-issa-sofette-in-daffodil'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SC09CD63E/48SC09CD63E-0_small.jpg','title':'Latte Square Coffee Table in Latte Wood','price':'$178', 'productUrl':'https://insideweather.com/products/ct10fi11-latte-square-coffee-table-in-latte-wood'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_02_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:FULL_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sofette in Fog','price':'$1,223', 'productUrl':'https://insideweather.com/products/se18av121110131010-custom-brooklyn-sofette-in-fog'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47S3238AF84/47S3238AF84-0_small.jpg','title':'Latte Round Coffee Table in Latte Wood','price':'$158', 'productUrl':'https://insideweather.com/products/ct12fi12-latte-round-coffee-table-in-latte-wood'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/4/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:LATTE&size=400','title':'Latte Jorn Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/js11fi-latte-jorn-side-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/253SA340DA09/253SA340DA09-0_small.jpg','title':'Latte Kobe Side Chair in Sunset Strokes','price':'$193', 'productUrl':'https://insideweather.com/products/cd141112ba11-latte-kobe-side-chair-in-sunset-strokes'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=CONFIGURATION:SHELF&feature=SHELF%20PATTERN:LATTE&size=400','title':'Latte Jorn Media Desk','price':'$749', 'productUrl':'https://insideweather.com/products/jm1114fi-latte-jorn-media-desk'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/5/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=400','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/WA1210BA/WA1210BA-0_small.jpg','title':'Garden Variety Art Print with Natural Frame (20\&#34; x 30\&#34;)','price':'$80', 'productUrl':'https://insideweather.com/products/wa1210ba-garden-variety-art-print-with-natural-frame-20-x-30'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:CROSS%20WEAVE%20YALE%20BLUE&feature=BACK:LINEN%20WEAVE%20BLUE%20LAGOON&size=400','title':'18\&#34; x 18\&#34; Accent Pillow (With Insert)','price':'$43', 'productUrl':'https://insideweather.com/products/pq12asat-18-x-18-accent-pillow-with-insert'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:DS1109&feature=BACK:CROSS%20WEAVE%20SUNFLOWER&size=400','title':'20\&#34; x 20\&#34; Accent Pillow (With Insert)','price':'$54', 'productUrl':'https://insideweather.com/products/pq14nxar-20-x-20-accent-pillow-with-insert'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_03_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:ROYALE%20EVERGREEN&feature=CONFIGURATION:CLASSIC_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Issa Sofette in Evergreen','price':'$1,098', 'productUrl':'https://insideweather.com/products/se17cx101210151010-custom-issa-sofette-in-evergreen'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/1/ANA_ARM.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Milo Armchair in Seashell','price':'$728', 'productUrl':'https://insideweather.com/products/ac13cw1110121011-custom-milo-armchair-in-seashell'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S9812660E/48S9812660E-0_small.jpg','title':'Latte Square Coffee Table in Latte Wood','price':'$178', 'productUrl':'https://insideweather.com/products/ct10fi17-latte-square-coffee-table-in-latte-wood'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SD5A81411/48SD5A81411-0_small.jpg','title':'Latte Rectangle Side Table in Latte Wood','price':'$148', 'productUrl':'https://insideweather.com/products/st14fi17-latte-rectangle-side-table-in-latte-wood'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_04_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:MOD%20VELVET%20BLUE%20TOPAZ&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:TAPERED&feature=BASE%20FINISH:METAL%20LEGS%20SILVER&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sofette in Blue Topaz','price':'$1,273', 'productUrl':'https://insideweather.com/products/se18cd131110101010-custom-brooklyn-sofette-in-blue-topaz'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_05_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sofette in Pebble','price':'$1,198', 'productUrl':'https://insideweather.com/products/se18co131210141010-custom-brooklyn-sofette-in-pebble'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48SA7760E2E/48SA7760E2E-0_small.jpg','title':'Espresso Rectangle Side Table in Espresso Wood','price':'$168', 'productUrl':'https://insideweather.com/products/st15fy17-espresso-rectangle-side-table-in-espresso-wood'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_06_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:CROSS%20WEAVE%20CAYENNE&feature=CONFIGURATION:FULL_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Milo Sofette in Cayenne','price':'$1,073', 'productUrl':'https://insideweather.com/products/se13am121211121010-custom-milo-sofette-in-cayenne'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/47SA643C56D/47SA643C56D-0_small.jpg','title':'Latte Round Side Table in Latte Wood','price':'$148', 'productUrl':'https://insideweather.com/products/st12fi12-latte-round-side-table-in-latte-wood'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF&feature=BASE%20TYPES:DOWEL&feature=BASE%20FINISHES:LATTE&feature=HANDLES%20TYPES:BEAM&feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS&feature=PRIMARY%20SURFACE%20OPTION:LATTE&feature=BODY%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&size=400','title':'Latte Sloan Credenza in Latte Wood','price':'$548', 'productUrl':'https://insideweather.com/products/cr10aa1414-latte-sloan-credenza-in-latte-wood'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_07_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:BUTTON%201&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sofette in Fog','price':'$1,223', 'productUrl':'https://insideweather.com/products/se18av131211161010-custom-brooklyn-sofette-in-fog'},]},

    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_08_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:MICRO%20SUEDE%20CHARCOAL&feature=CONFIGURATION:FULL_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Milo Sofette in Charcoal','price':'$1,248', 'productUrl':'https://insideweather.com/products/se13bo121210141010-custom-milo-sofette-in-charcoal'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_10_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:BROOKLYN%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20FOG&feature=CONFIGURATION:FULL_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:DOWEL&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Brooklyn Sofette in Fog','price':'$1,223', 'productUrl':'https://insideweather.com/products/se18av121110131010-custom-brooklyn-sofette-in-fog'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47S3238AF84/47S3238AF84-0_small.jpg','title':'Latte Round Coffee Table in Latte Wood','price':'$158', 'productUrl':'https://insideweather.com/products/ct12fi12-latte-round-coffee-table-in-latte-wood'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/4/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:LATTE&size=400','title':'Latte Jorn Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/js11fi-latte-jorn-side-table'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_PYR/frames/4/CNV_AP_PYR.JPG?background=FFFFFF&feature=UPHOLTERY:LINEN%20WEAVE%20-%20STONE%20BLUE&size=400','title':'Large Pyramid Pillow in Stone Blue (With Insert)','price':'$62', 'productUrl':'https://insideweather.com/products/py12ax-large-pyramid-pillow-in-stone-blue-with-insert'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/WA1210BJ/WA1210BJ-0_small.jpg','title':'Sub-Saharan Art Print with Natural Frame (20\&#34; x 30\&#34;)','price':'$80', 'productUrl':'https://insideweather.com/products/wa1210bj-sub-saharan-art-print-with-natural-frame-20-x-30'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF&feature=FRONT:DS1109&feature=BACK:CROSS%20WEAVE%20SUNFLOWER&size=400','title':'20\&#34; x 20\&#34; Accent Pillow (With Insert)','price':'$54', 'productUrl':'https://insideweather.com/products/pq14nxar-20-x-20-accent-pillow-with-insert'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF&feature=BASE%20TYPES:BEVELED&feature=BASE%20FINISHES:LATTE&feature=HANDLES%20TYPES:BEAM&feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS&feature=PRIMARY%20SURFACE%20OPTION:LATTE&feature=BODY%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&size=400','title':'Latte Sloan Credenza in Latte Wood','price':'$548', 'productUrl':'https://insideweather.com/products/cr10aa1415-latte-sloan-credenza-in-latte-wood'}]},


    {'image': 'https://cdn.insideweather.com/cat/sofa-line/lifestyles/sofettes/cat_sofettes_lg_09_v2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON&feature=CONFIGURATION:FULL_FULL&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Issa Sofette in Dijon','price':'$1,048', 'productUrl':'https://insideweather.com/products/se17au121210141010-custom-issa-sofette-in-dijon'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        section-description="Kick your feet up & visualize the possibilities."
        pop-up-heading="Get Inspired"
      >
      </life-style-photos>
    </div>

    {% assign seoContent = "[{'isTitle': 'true','title': 'Never Underestimate The Power Of A Sofette','copy_one': 'Not to be corny, but we just love our loveseats. Why? Inside Weather’s Loveseats offer all of the comfort and style of a sofa with a reduced footprint perfect for a small space. Whether you’re looking at a loveseat for your living room, family room, sitting room, or even your bedroom, we have seating for any style.','copy_two': 'Our many loveseat styles are customizable in more ways than ever! Pick from 400+ fabric options, make the cushions as plush or firm as you want, and choose between 15 finishes. Perhaps you have a specific vision for a mid century modern piece, or maybe you just need some additional seating for your living space. Either way, Inside Weather has you covered with the most customizable furniture on the internet.'}]" %}

    <div class="section_seoContent">
      <category-seo-content
        :seo-content="{{seoContent}}"
      >
      </category-seo-content>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
