<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign hasBannerContent = true %}
    {% assign newButton = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.insideweather.com/cat/dining-chairs/tb/cat_dining-chairs_tb_v2_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/dining-chairs/tb/cat_dining-chairs_tb_v2_m.jpg','heading':'CUSTOM DINING CHAIRS','description':'Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships free to you in a manageable box.','linkText':'Customize now','url':'https://insideweather.com/products/rd101010af-latte-sarno-dining-chair-in-cloud'}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"
      :new-button={{newButton}}
      >
    </category-banner>

    {% assign valueProps = "[{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/usa-ico.png', 'title': 'MADE IN THE USA'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/home-trial-ico.png', 'title': '365 DAY HOME TRIAL'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/free-ship-ico.png', 'title': 'FREE SHIPPING'},{'icon':'https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png', 'title': 'SUSTAINABLE'}]"%}

    <hiw-props
      :value-props="{{valueProps}}"
    ></hiw-props>

    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&size=400', 'title': 'Sarno Dining Chair', 'linkText': 'Customize starting at $218', hyperLink: 'https://insideweather.com/products/rd101010af-latte-sarno-dining-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:VENICE%20MARIGOLD&size=400', 'title': 'Sarno Counter Stool', 'linkText': 'Customize starting at $278', hyperLink: 'https://insideweather.com/products/rc101110af-latte-sarno-counter-stool-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:SQUARED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20NAVY&size=400', 'title': 'Sarno Bar Stool', 'linkText': 'Customize starting at $298', hyperLink: 'https://insideweather.com/products/rb101210af-latte-sarno-bar-stool-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:ARMS&feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY&feature=BASE%20TYPES:DOWEL&feature=WOOD%20FINISH:LATTE&feature=METAL%20FINISHES:METAL%20LEGS%20SILVER&size=400', 'title': 'Nola Dining Chair', 'linkText': 'Customize starting at $148', hyperLink: 'https://insideweather.com/products/nd10as12-nola-side-chair-in-cloud'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/253SA0E05ECE/253SA0E05ECE-0_small.jpg', 'title': 'Kobe Dining Chair', 'linkText': 'Customize starting at $158', hyperLink: 'https://insideweather.com/products/cd141112ht12-latte-kobe-side-chair-in-cloud'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/253S72C525A5/253S72C525A5-0_small.jpg', 'title': 'Polk Dining Chair', 'linkText': 'Customize starting at $168', hyperLink: 'https://insideweather.com/products/cd101112ht12-latte-polk-side-chair-in-cloud'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/253S1E019D4F/253S1E019D4F-0_small.jpg', 'title': 'Luna Dining Chair', 'linkText': 'Customize starting at $148', hyperLink: 'https://insideweather.com/products/cd121112ht12-latte-luna-side-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF&feature=SEAT%20CUSHION%20TYPES:ROUND&feature=BASE%20TYPES:4%20LEG&feature=UPHOLSTERY:VISTA%20OLIVE&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&size=400', 'title': 'Burnham Dining Stool', 'linkText': 'Customize starting at $168', hyperLink: 'https://insideweather.com/products/br11an11-latte-burnham-stool-in-cloud'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Start with a Silhouette"
          section-description="Then customize its height, shape, and finish and choose between hundreds of colors & patterns to make it yours!"
        >
        </category-collections>
      </div>
    </div>

    {% assign listItems = "[{'image':'https://cdn.insideweather.com/cat/dining-chairs/customize/cat_dining-chairs_customize-bnr_m_01_v1-min.png'}]"%}

    <div class="customizable-category --pd-t-110 --pd-m-b-0">
      <div class="customizable-wrapper" style="background-color: #d0d9cc">
        <customizable-category
          :list-items="{{listItems}}"
          desktop-image="https://cdn.insideweather.com/cat/dining-chairs/customize/cat_dining-chairs_customize-bnr_d_01_v1-min.png"
          btn-text="Customize Now"
          destination-url="https://insideweather.com/products/cd121112ht12-latte-luna-side-chair-in-cloud"
          section-heading="The Most Affordable Custom Dining Chairs on the Internet"
          section-description="When we say custom, we mean it. Explore all the ways in which you can customize our dining chair silhouettes to make them truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships FREE to your doorstep months faster than any other &ldquo;custom&rdquo; maker out there."
        >
        </customizable-category>
      </div>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'http://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_d.mp4', 'objectUrlMob': 'http://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_upholstery_m.mp4', 'title': 'Custom Upholstery','description': 'The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (& potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your match is here, you just have to find it.'}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = true %}

    <div class="categoryDetails --pd-t-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        desktop-image="http://cdn.insideweather.com/cat/sofa-line/details/cat_ottoman_upholstery-icons_d_v4.png"
        mobile-image="http://cdn.insideweather.com/cat/sofa-line/details/cat_ottoman_upholstery-icons_m_v4.png"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/collections/sarno/details/custom/custom_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/collections/sarno/details/custom/custom_m.mp4', 'title': 'A Life-Proof Product','description': 'Whether you like to change colors with the seasons, or just feel like a quick design refresh, our customizable and switchable seat pads are a great way to grab a new look without spending an arm and a leg. All of our dining chair seats can be purchased separately if you just feel like switching up your look or your wine spilling habits decide that for you. P.S. For fabric specific info on durability, check out the Wyzenbeek Test Method Rub Count Scores on each product page!'}]" %}
    {% assign isReverse = true %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryDetails = "[{'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_m.jpg', 'title': 'Sustainable, Quality Materials','description': 'Sit tight! Our dining chairs feature materials made from solid ash wood and high-strength powder-coated steel, all of which are designed to carry up to 250 lbs. So go ahead, help yourself to seconds. Every material that we use is selected with intention. Look out for certifications across our custom dining chair collections that meet the following standards: FSC, Oeko-Tex, & Bluesign. And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}]" %}
    {% assign isReverse = false %}
    {% assign isDescImg = false %}

    <div class="categoryDetails --pd-t-130 --pd-b-130">
      <category-detail
        :is-reverse="{{isReverse}}"
        :is-desc-img="{{isDescImg}}"
        :category-details="{{categoryDetails}}"></category-detail>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_01.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Bar Stool in Mascarpone','price':'$328', 'productUrl':'https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_02.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/253SF44E9E38/253SF44E9E38-0_small.jpg','title':'Latte Polk Side Chair in Yale Blue','price':'$168', 'productUrl':'https://insideweather.com/products/cd101112aa12-latte-polk-side-chair-in-yale-blue'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S32B107DC/48S32B107DC-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi11-latte-round-dining-table-in-latte-wood'},]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_03.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/253SCE5AA1B6/253SCE5AA1B6-0_small.jpg','title':'Latte Polk Side Chair in Sunflower','price':'$168', 'productUrl':'https://insideweather.com/products/cd101112be12-latte-polk-side-chair-in-sunflower'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S4CBA6308/48S4CBA6308-0_small.jpg','title':'Latte Square Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt10fi11-latte-square-dining-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_04.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/253S9C40A601/253S9C40A601-0_small.jpg','title':'Black Polk Side Chair in Chilly Topography','price':'$203', 'productUrl':'https://insideweather.com/products/cd101210hw15-black-polk-side-chair-in-chilly-topography'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/3/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:ARMS&feature=UPHOSLTERY:VEGAN%20LEATHER%20ONYX&feature=BASE%20TYPES:CLASSROOM&feature=METAL%20FINISHES:METAL%20LEGS%20CARBON&size=200','title':'Nola Armchair in Onyx','price':'$238', 'productUrl':'https://insideweather.com/products/nd11ai15-nola-armchair-in-onyx'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S4B3B7496/48S4B3B7496-0_small.jpg','title':'Espresso Rectangle Dining Table in Espresso Wood','price':'$398', 'productUrl':'https://insideweather.com/products/dt15fy12-espresso-rectangle-dining-table-in-espresso-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_05.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/3/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:NO%20ARMS&feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY&feature=BASE%20TYPES:CLASSROOM&feature=METAL%20FINISHES:METAL%20LEGS%20BRASS&size=200','title':'Nola Side Chair in Whiskey','price':'$203', 'productUrl':'https://insideweather.com/products/nd10ab17-nola-side-chair-in-whiskey'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S2AC4926D/48S2AC4926D-0_small.jpg','title':'Latte Rectangle Dining Table in Latte Wood','price':'$348', 'productUrl':'https://insideweather.com/products/dt14fi15-latte-rectangle-dining-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_06.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/253S018D5B4C/253S018D5B4C-0_small.jpg','title':'Espresso Kobe Armchair in Moody Amber','price':'$213', 'productUrl':'https://insideweather.com/products/cd151010ev15-espresso-kobe-armchair-in-moody-amber'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48SFC8FC132/48SFC8FC132-0_small.jpg','title':'Espresso Rectangle Dining Table in Espresso Wood','price':'$398', 'productUrl':'https://insideweather.com/products/dt15fy14-espresso-rectangle-dining-table-in-espresso-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_07.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/3/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:NO%20ARMS&feature=UPHOSLTERY:CROSS%20WEAVE%20YALE%20BLUE&feature=BASE%20TYPES:DOWEL&feature=WOOD%20FINISH:LATTE&feature=METAL%20FINISHES:METAL%20LEGS%20SILVER&size=200','title':'Nola Side Chair in Yale Blue','price':'$148', 'productUrl':'https://insideweather.com/products/nd10aa12-nola-side-chair-in-yale-blue'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=CONFIGURATION:2%20PEDESTALS&feature=SHELF%20PATTERN:LATTE&size=200','title':'Latte Jorn Media Desk','price':'$749', 'productUrl':'https://insideweather.com/products/jm1117fi-latte-jorn-media-desk'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_08.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/3/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:NO%20ARMS&feature=UPHOSLTERY:CROSS%20WEAVE%20CLOUD&feature=BASE%20TYPES:EIFEL&feature=METAL%20FINISHES:METAL%20LEGS%20CARBON&size=200','title':'Nola Side Chair in Cloud','price':'$158', 'productUrl':'https://insideweather.com/products/nd10as14-nola-side-chair-in-cloud'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/3/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:NO%20ARMS&feature=UPHOSLTERY:OXFORD%20WEAVE%20AEGEAN%20BLUE&feature=BASE%20TYPES:EIFEL&feature=METAL%20FINISHES:METAL%20LEGS%20CARBON&size=200','title':'Nola Side Chair in Aegean Blue','price':'$183', 'productUrl':'https://insideweather.com/products/nd10aw14-nola-side-chair-in-aegean-blue'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S10A514EB/48S10A514EB-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi15-latte-round-dining-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_10.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/253SCDCD26F7/253SCDCD26F7-0_small.jpg','title':'Latte Polk Side Chair in Midnight','price':'$203', 'productUrl':'https://insideweather.com/products/cd101112fp12-latte-polk-side-chair-in-midnight'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:DS1006E&size=200','title':'Latte Sarno Dining Chair in Monstera Sky','price':'$268', 'productUrl':'https://insideweather.com/products/rd101011eq-latte-sarno-dining-chair-in-monstera-sky'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/3/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:NO%20ARMS&feature=UPHOSLTERY:CROSS%20WEAVE%20SUNFLOWER&feature=BASE%20TYPES:CLASSROOM&feature=METAL%20FINISHES:METAL%20LEGS%20CARBON&size=200','title':'Nola Side Chair in Sunflower','price':'$158', 'productUrl':'https://insideweather.com/products/nd10ad15-nola-side-chair-in-sunflower'}]},

    {'image': 'https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v2_09_2.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:OVAL&feature=SEAT%20SHAPE:SQUARED&feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL&size=200','title':'Latte Sarno Dining Chair in Mascarpone','price':'$248', 'productUrl':'https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone'}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S17CB54CE/48S17CB54CE-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$428', 'productUrl':'https://insideweather.com/products/dt12fi14-latte-round-dining-table-in-latte-wood'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Visualize the Possibilities"
        section-description="Ask more from your furniture."
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>

    {% assign seoContent = "[{'isTitle': 'false','copy_one': 'No dining space is complete without a stylish set of dining room chairs-- after all, what would a dining room be if you couldn’t sit down to enjoy your meal? Here at Inside Weather, we offer the most customizable dining room chairs on the internet. With four basic styles to choose from, easy-switch upholstered seat pads, 200 fabric options, and a solid wood design, our selection of dining table chairs is pretty hard to beat.','copy_two': 'Customizing your dining chair is as easy as 1-2-3. First pick one of four basic styles, then choose between side chairs and arm chairs. Finally, pick your fabric and you’re good to go. Our dining room furniture is made of solid wood and metal, rated to withstand 350+ lbs, so you don’t have to worry about collapsing chairs. We offer a wide selection of contemporary dining chairs to match any table, design, or style you may be working with. And, with comfort on the forefront of our minds, sitting in our dining room chairs is just as pleasant as looking at them!'}]" %}

    <div class="section_seoContent">
      <category-seo-content
        :seo-content="{{seoContent}}"
      >
      </category-seo-content>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
