<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign hasBannerContent = true %}
    {% assign newButton = true %}
    {% assign smallCase = true %}
    {% assign enableMediumHeight = true %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.insideweather.com/cat/shelving/tb/cat_shelving_tb_d_v2.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/shelving/tb/cat_shelving_tb_m_v1.jpg','heading':'Bookcases & Shelving','description':'Made-to-order sustainably, custom-built here in the U.S., and ships free to you in a manageable box.','linkText':'','url':''}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"
      :new-button="{{newButton}}"
      :small-case="{{smallCase}}"
      :enable-medium-height="{{enableMediumHeight}}"
      >
    </category-banner>

    {% assign valueProps = "[{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/usa-ico.png', 'title': 'MADE IN THE USA'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/home-trial-ico.png', 'title': '365 DAY HOME TRIAL'},{'icon':'https://cdn.insideweather.com/cat/sofa-line/vprop-small/free-ship-ico.png', 'title': 'FREE SHIPPING'},{'icon':'https://cdn.insideweather.com/cat/shelving/vprop-small/cat_shelving_modular-ico.png', 'title': 'MODULAR'}]"%}

    <hiw-props
      :value-props="{{valueProps}}"
    ></hiw-props>

    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:18&feature=DENSITY:3%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '20&quot Tall x 18&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/aaaa1010-20-latte-atlas-shelf'}, {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:25&feature=DENSITY:3%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '20&quot Tall x 25&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/aaaa1110-20-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:3%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '20&quot Tall x 47&quot Wide Classic', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/aaaa1210-20-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT%20COMBO&feature=DENSITY:3%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '20&quot Tall x 47&quot Wide Hybrid', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/aaaa1410-20-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:18&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '38&quot Tall x 18&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ataa101110-38-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:25&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '38&quot Tall x 25&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ataa111110-38-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '38&quot Tall x 47&quot Wide Split', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ataa131110-38-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT%20COMBO&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '38&quot Tall x 47&quot Wide Hybrid', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ataa141110-38-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:18&feature=DENSITY:5%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '58&quot Tall x 18&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/afaa101110-58-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:25&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '58&quot Tall x 25&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/afaa111210-58-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '58&quot Tall x 47&quot Wide Classic', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/afaa121210-58-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '58&quot Tall x 47&quot Wide Split', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/afaa131210-58-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:25&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '78&quot Tall x 25&quot Wide', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/asaa111110-78-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '78&quot Tall x 47&quot Wide Classic', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/asaa121110-78-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '78&quot Tall x 47&quot Wide Split', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/asaa131110-78-latte-atlas-shelf'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT%20COMBO&feature=DENSITY:7%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400', 'title': '78&quot Tall x 47&quot Wide Hybrid', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/asaa141210-78-latte-atlas-shelf'}]" %}

    {% assign removeAnimation = true %}
    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :remove-animation="{{removeAnimation}}"
          :product-collections="{{productCollections}}"
          section-heading="Start with a Height"
          section-description="Then customize the width, shelf configuration, wood finish, and number of shelves to make it yours"
        >
        </category-collections>
      </div>
    </div>

    {% assign listItems = "[{'image':'https://cdn.insideweather.com/cat/shelving/customize/cat_shelving-bnr_m_01_v2-min.png'}]"%}

    <div class="customizable-category --pd-t-110 --pd-m-b-0">
      <div class="customizable-wrapper" style="background-color: #BFCEC3">
        <customizable-category
          :list-items="{{listItems}}"
          desktop-image="https://cdn.insideweather.com/cat/shelving/customize/cat_shelving-bnr_d_01_v2-min.png"
          btn-text=""
          destination-url=""
          section-heading="The Most Customizable Shelving on the Internet"
          section-description="When we say custom, we mean it. Explore all the ways in which you can manipulate our modular, adjustable shelving collection to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships FREE to your doorstep months faster than any other &ldquo;custom&rdquo; maker out there."
        >
        </customizable-category>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/cat/shelving/details/modular/modular_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/shelving/details/modular/modular_m.mp4', 'title': 'Modular & Adjustable','description': 'Can’t make up your mind? Neither can we. So we made a shelf that can be anything you want it to be. Each interior shelf is adjustable so you can place it at whichever height you please and the small shelves on the Hybrid can be placed on either side! So wherever life leads you, your shelf can follow.'},

    {'isVideo':'true', 'objectUrl': 'https://cdn.insideweather.com/cat/shelving/details/versatile/versatile_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/shelving/details/versatile/versatile_m.mp4', 'title': 'Versatile Storage','description': 'From side table to media console to bookshelf, the Atlas Collection can be just about anything you need it to be. Use this modern yet functional beauty as both a practical storage piece and a unique display unit for your treasured trinkets.'},

    {'isVideo':'false', 'objectUrl': 'https://cdn.insideweather.com/cat/shelving/details/custom-configuration/custom-configuration_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/shelving/details/custom-configuration/custom-configuration_m.jpg', 'title': 'Custom Configuration','description': 'Customize the width, shelf density and configuration of your Atlas shelving unit. Each shelf is adjustable so once it arrives in your home, you can adapt it to your storage needs upon set up and over the course of time. Your life (and your belongings) are endlessly evolving and we believe your furniture should always be there to support that journey.'},

    {'isVideo':'true','objectUrl': 'https://cdn.insideweather.com/cat/all/material-craftsmanship/mat-craft_d.mp4', 'objectUrlMob': 'https://cdn.insideweather.com/cat/all/material-craftsmanship/mat-craft_m.mp4', 'title': 'Material Craftsmanship','description': 'Our FSC Certified, 100% Baltic Birch wood is precision milled in our US manufacturing facility. Its surfaces feature either a classic black or an American walnut or maple veneer with a triple coat of UV cured clear, matte, eco-solvent finish. The powder coated stainless steel frame features a Carbon black finish and each post is equipped with stabilizing, non-slip grips.'},

    {'isVideo':'false','objectUrl': 'https://cdn.insideweather.com/cat/all/sustainable/sustainable_d.jpg', 'objectUrlMob': 'https://cdn.insideweather.com/cat/all/sustainable/sustainable_m.jpg', 'title': 'Sustainable Style','description': 'The materials used to make this shelving unit have been selected with intention. Our signature baltic birch is FSC certified & topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such &ldquo;waste.&rdquo; And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}]" %}

    <div class="productDetails --pd-t-130 --pd-b-130 --pd-m-t-0">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_01_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:25&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'38&quot Latte Atlas Shelf','price':'$435', 'productUrl':'https://insideweather.com/products/ataa111110-38-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_02_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'78&quot Latte Atlas Shelf','price':'$775', 'productUrl':'https://insideweather.com/products/asaa121110-78-latte-atlas-shelf'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/1/ANA_SCT3.JPG?background=FFFFFF&feature=ARM%20STYLE:LEVI%20(FABRIC)&feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Levi Sectional in Whiskey','price':'$1,998', 'productUrl':'https://insideweather.com/products/sc14br101010121010-custom-levi-sectional-in-whiskey'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/47S3238AF84/47S3238AF84-0_small.jpg','title':'Latte Round Coffee Table in Latte Wood','price':'$158', 'productUrl':'https://insideweather.com/products/ct12fi12-latte-round-coffee-table-in-latte-wood'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_03_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT%20COMBO&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'38&quot Latte Atlas Shelf','price':'$585', 'productUrl':'https://insideweather.com/products/ataa141110-38-latte-atlas-shelf'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'78&quot Latte Atlas Shelf','price':'$775', 'productUrl':'https://insideweather.com/products/asaa121110-78-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_04_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT%20COMBO&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'38&quot Latte Atlas Shelf','price':'$585', 'productUrl':'https://insideweather.com/products/ataa141110-38-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_05_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:18&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'58&quot Latte Atlas Shelf','price':'$350', 'productUrl':'https://insideweather.com/products/afaa101010-58-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_06_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'38&quot Latte Atlas Shelf','price':'$535', 'productUrl':'https://insideweather.com/products/ataa121110-38-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_07_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47%20SPLIT%20COMBO&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'38&quot Latte Atlas Shelf','price':'$585', 'productUrl':'https://insideweather.com/products/ataa141110-38-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_08_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:18&feature=DENSITY:5%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'58&quot Latte Atlas Shelf','price':'$400', 'productUrl':'https://insideweather.com/products/afaa101110-58-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_10_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'78&quot Latte Atlas Shelf','price':'$775', 'productUrl':'https://insideweather.com/products/asaa121110-78-latte-atlas-shelf'}]},

    {'image': 'https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_09_v1.jpg','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:25&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'38&quot Latte Atlas Shelf','price':'$435', 'productUrl':'https://insideweather.com/products/ataa111110-38-latte-atlas-shelf'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:18&feature=DENSITY:4%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'58&quot Latte Atlas Shelf','price':'$350', 'productUrl':'https://insideweather.com/products/afaa101010-58-latte-atlas-shelf'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF&feature=FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=WIDTH:47&feature=DENSITY:6%20SHELVES&feature=METAL%20PIPE%20FINISH:CARBON%20METAL&size=400','title':'78&quot Latte Atlas Shelf','price':'$775', 'productUrl':'https://insideweather.com/products/asaa121110-78-latte-atlas-shelf'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        section-description="How will you configure your Atlas?"
        pop-up-heading="Get Inspired"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");

  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li:not(.removeAnimation)').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li:not(.removeAnimation)').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 400 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});
</script>
