<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_00.jpg?v=1594246029', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_00.jpg?v=1594246029','heading':'Side Tables','description':'Start with a silhouette and color in the rest.','linkText':'','url':'', dataSource: 'default'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_01.jpg?v=1594246029', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_01.jpg?v=1594246029','heading':'Wood Finish','description':'Choose from a variety of rich finishes on your favorite silhouette.','linkText':'','url':'', dataSource: 'wood-finish'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_02.jpg?v=1594246029','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_02.jpg?v=1594246029','heading':'Surface Designs','description':'Style your new sidekick with 300+ custom colors and prints.','linkText':'','url':'', dataSource: 'surface-designs'}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_d_03.jpg?v=1594246029','imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_tb-v2_m_03.jpg?v=1594246029','heading':'Base Style','description':'Everything from elegant hairpins to tapered brass.','linkText':'','url':'', dataSource: 'base-style'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Wood Finish', 'accordionDescription': 'Choose from a variety of rich finishes on your favorite silhouette.', 'accordionTarget': 'wood-finish'},{'accordionHead': 'Surface Design', 'accordionDescription': 'Style your new sidekick with 300+ custom colors and prints.', 'accordionTarget': 'surface-designs'}, {'accordionHead': 'Base Style', 'accordionDescription': 'Everything from elegant hairpins to tapered brass.', 'accordionTarget': 'base-style'}]" %}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[
      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=TOP%20SHELF:LATTE&feature=BOTTOM%20SHELF:DS1032A&size=400', 'title': 'Usonia™ Hanna Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/hs10fiac-latte-hanna-side-table'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:DS1032A&size=400', 'title': 'Jorn Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/js11ac-latte-jorn-side-table'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:ROUND&feature=TABLE%20TOP%20FINISH:DS1032A&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=400', 'title': 'Custom Round Via Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/us10lg1010-round-custom-via-side-table-in-white-marble'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:RECTANGULAR&feature=TABLE%20TOP%20FINISH:DS1032A&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=400', 'title': 'Custom Rectangle Via Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/us11lg1010-rectangle-custom-via-side-table-in-white-marble'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:SQUARE&feature=TABLE%20TOP%20FINISH:DS1032A&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=400', 'title': 'Custom Square Via Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/us12lg1010-square-custom-via-side-table-in-white-marble'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:ROUND&feature=TABLE%20TOP%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=400', 'title': 'Classic Round Via Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ls10aa10-round-classic-via-side-table-in-latte'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:RECTANGULAR&feature=TABLE%20TOP%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=400', 'title': 'Classic Rectangle Via Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ls11aa10-rectangle-classic-via-side-table-in-latte'},

      {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:SQUARE&feature=TABLE%20TOP%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=400', 'title': 'Classic Square Via Side Table', 'linkText': 'CUSTOMIZE NOW', hyperLink: 'https://insideweather.com/products/ls12aa10-square-classic-via-side-table-in-latte'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Start with a Collection"
          section-description="Customize every detail from tabletop design to base style."
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'true','objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_side-tables_custom-style_d.mp4?v=1594242597', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_side-tables_custom-style_m.mp4?v=1594242597', 'title': 'Customize Your Style','description': 'Whether you’ve got a favorite color, a thing for wood grain, or you simply dig stylish patterns, the surfaces of your table are prime real estate to make a statement and serve as the perfect accent in any room.'},{'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_02_d.mp4?1663087', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_02_m.mp4?1663170', 'title': 'Life-Proof','description': 'Not only does it look good, but it’s also ruggedly durable. A scuff-free, UV-resistant surface means that it’s perfect for that sunny spot in your home. It’s also FDA approved for all you messy eaters out there. And when you’re done, wipe it down with any cleaner you like.'},{'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_03_d-min.jpg?1663183', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_03_m-min.jpg?1663183', 'title': 'Materials You Want','description': 'Every material that we use is selected with intention and built to last. The wood and metal options used for the bases are made from solid ash wood and high-strength, powder-coated stainless steel. Don’t worry, we’ll never skip the details.'},
    {'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_04_d.mp4?v=1591302637', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_tables_details_04_m.mp4?v=1591302640', 'title': 'Sustainable Style','description': 'Our custom tables are considered to meet some of the highest environmental standards in the industry. Think the Sustainable Forestry Initiative, LEED® accreditations, & FSC Certification (just to name a few). We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_01-ca-crafted_m.jpg', 'title':'Made in the USA','description':'Every one of our furniture pieces from custom office desks to personalized side tables is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_02-free-ship_m.jpg', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_03-home-trial_m.jpg', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_d.png', 'imageSm': 'https://cdn.insideweather.com/cat/all/vprop/cat_vprop_04-sustainable_m.png', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[
      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_01-min.jpg?1663704','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:ROUND&feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LIGHT%20ESPRESSO&size=200','title':'Round Classic Via Side Table in Espresso','price':'$178', 'productUrl':'https://insideweather.com/products/ls10ab11-round-classic-via-side-table-in-espresso'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_02_v2.jpg?v=1591304056','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:TAPERED&feature=BASE%20FINISH:METAL%20LEGS%20SILVER&feature=ADD%20ONS:NONE&size=400','title':'Custom Issa Sofa in Dijon','price':'$1,398', 'productUrl':'https://insideweather.com/products/sf17au101210101010-custom-issa-sofa-in-dijon'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14745&scene=sku&features=4055092,4054658,4054879,4055093,4055086,4055094,4055091,4055095&frame=1&size=150&name=Hanna%20Side%20Table1&color=FFFFFF&format=JPG','title':'Latte Hanna Side Table','price':'$218', 'productUrl':'https://insideweather.com/products/hs10fifi-latte-hanna-side-table'},]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_03-min.jpg?1663704','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/195S84CAE066/195S84CAE066-0_small.jpg','title':'Latte Sloan Credenza in Green Marble','price':'$598', 'productUrl':'https://insideweather.com/products/cr10fq1014-latte-sloan-credenza-in-green-marble'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:RECTANGULAR&feature=TABLE%20TOP%20FINISH:DS1032E&feature=EDGE%20FINISH:DARK&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LIGHT%20ESPRESSO&size=200','title':'Rectangle Custom Via Side Table in Green Marble','price':'$138', 'productUrl':'https://insideweather.com/products/us11cu1111-rectangle-custom-via-side-table-in-green-marble'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_04_v3.jpg?v=1594248095','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14773&scene=sku&features=4196717,4196075,4028386,4196726,4028387,4196727&frame=1&size=400&name=Headboard%20-%20Queen1&color=FFFFFF&format=JPG','title':'Queen Oslo Headboard in Powder Pink (3 x 3)','price':'$485', 'productUrl':'https://insideweather.com/products/hq11dg-queen-oslo-headboard-in-powder-pink-3-x-3'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14746&scene=sku&features=4100034,4099974,4099977,4100035,4100000,4100036,4100004,4100037,4100022,4100038,4100031,4100039&frame=3&size=400&name=Ido%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Side Table','price':'$357', 'productUrl':'https://insideweather.com/products/is10aaaaaaaa-latte-ido-side-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD114B/HD114B-0_small.jpg','title':'Digital Marble Alarm Clock in Black','price':'$39', 'productUrl':'https://insideweather.com/products/hd114b-digital-marble-alarm-clock-in-black'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_08-min.jpg?1663704','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:ROUND&feature=TABLE%20TOP%20FINISH:DS1032D&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=200','title':'Round Custom Via Side Table in Blush Marble','price':'$158', 'productUrl':'https://insideweather.com/products/us10at1010-round-custom-via-side-table-in-blush-marble'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_06_v3.jpg?v=1594248096','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14746&scene=sku&features=4100034,4099974,4099977,4100035,4100000,4100036,4100004,4100037,4100022,4100038,4100031,4100039&frame=3&size=400&name=Ido%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Side Table','price':'$357', 'productUrl':'https://insideweather.com/products/is10aaaaaaaa-latte-ido-side-table'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14748&scene=sku&features=4117774,4117713,4117724,4117775,4117738,4117776,4117750,4117777,4117762,4117778,4117773,4117779&frame=3&size=400&name=Ido%20Coffee%20Table3&color=FFFFFF&format=JPG','title':'Latte Ido Coffee Table','price':'$477', 'productUrl':'https://insideweather.com/products/ic10aaaaaaaa-latte-ido-coffee-table'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF&feature=ARM%20STYLE:ISSA%20(FABRIC)&feature=UPHOLSTERY:CROSS%20WEAVE%20RAVEN%20GREY&feature=CONFIGURATION:CLASSIC_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:BEVELED&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:BOLSTER&size=400','title':'Custom Issa Sofa in Raven Gray','price':'$1,274', 'productUrl':'https://insideweather.com/products/sf17ap101010141610-custom-issa-sofa-in-raven-gray'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_07_v3.jpg?v=1594248095','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:DS1106','title':'Latte Jorn Side Table','price':'$268', 'productUrl':'https://insideweather.com/products/js11ke-latte-jorn-side-table'},{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14773&scene=sku&features=4196718,4196168,4028386,4196728,4028387,4196729&frame=1&size=400&name=Headboard%20-%20Queen1&color=FFFFFF&format=JPG','title':'Queen Oslo Headboard in Cloud (3 x 4)','price':'$480', 'productUrl':'https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117F/HD117F-0_small.jpg','title':'Mia Mug & Wood Saucer Set in White','price':'$29', 'productUrl':'https://insideweather.com/products/hd117f-mia-mug-wood-saucer-set-in-white'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_08_v3.jpg?v=1594248095','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14749&scene=sku&features=4190129,4095449,4194542,4190130,4095456,4190131,4095459,4190132,4095462,4190133,4095464,4190134,4095466,4190135,4095471,4190136&frame=3&size=400&name=Jorn%20Side%20Table3&color=FFFFFF&format=JPG','title':'Latte Jorn Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/js11fi-latte-jorn-side-table'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/1/ANA_ARM.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL&feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Milo Armchair in Seashell','price':'$653', 'productUrl':'https://insideweather.com/products/ac13cw1110121010-custom-milo-armchair-in-seashell'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_10-min.jpg?1663704','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF&feature=ARM%20STYLE:MILO%20(FABRIC)&feature=UPHOLSTERY:CROSS%20WEAVE%20CAYENNE&feature=CONFIGURATION:FULL_CLASSIC&feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG&feature=PILLOW%20DETAIL:NO%20BUTTON&feature=BASE%20STYLE:FLARE&feature=BASE%20FINISH:LATTE&feature=ADD%20ONS:NONE&size=400','title':'Custom Milo Sofette in Cayenne','price':'$1,048', 'productUrl':'https://insideweather.com/products/se13am111210121010-custom-milo-sofette-in-cayenne'}, {'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?background=FFFFFF&feature=TABLE%20TYPE:ROUND&feature=TABLE%20TOP%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=BASE%20TYPE:FLARE&feature=BASE%20FINISH:LATTE&size=200','title':'Round Classic Via Side Table in Latte','price':'$158', 'productUrl':'https://insideweather.com/products/ls10aa10-round-classic-via-side-table-in-latte'}]},

      {'image': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_side-tables_lg_09_v2.jpg?v=1591304056','popUpList': [{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=12081&scene=sku&features=4082068,4100675,4100678,4082069,4081944,4082070&frame=4&size=150&name=Lounge%20Chair%2001%20-%20Nels4&color=FFFFFF&format=JPG','title':'Latte Edgar Lounge Chair in Usonia™ Design 105 Blushing Prairie','price':'$948', 'productUrl':'https://insideweather.com/products/el11lh-latte-edgar-lounge-chair-in-usonia-design-105-blushing-prairie'}, {'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=12085&scene=sku&features=3929994,3989366,3989369,3929995,3893207,3929996&frame=4&size=150&name=Finn4&color=FFFFFF&format=JPG','title':'Latte West Ottoman in Usonia™ Design 105 Blushing Prairie','price':'$228', 'productUrl':'https://insideweather.com/products/wo11lh-latte-west-ottoman-in-usonia-design-105-blushing-prairie'},{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14745&scene=sku&features=4055092,4054759,4054912,4055093,4055087,4055094,4055091,4055095&frame=1&size=150&name=Hanna%20Side%20Table1&color=FFFFFF&format=JPG','title':'Espresso Hanna Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/hs11fyfy-espresso-hanna-side-table'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        pop-up-heading="Visualize the Possibilities"
      >
      </life-style-photos>
    </div>

    {% assign seoContent = "[{'isTitle': 'true','title': 'A Necessity For Every Space','copy_one': 'Whether you own none or twenty-one, it’s hard to deny the beauty of side tables. Also known as an accent table or an end table, the side table is a furniture piece used for storage and decor. Side tables come in all shapes and sizes, and at Inside Weather we are proud to offer seven collections to customize from. Whether you need a decorative accent or just a space to store magazines, we have a side table style for you.', 'copy_two': 'To build the perfect end table, begin with a collection. From there, you can customize every detail from the tabletop to tapered legs. With countless wood and finish options, you are bound to find a design that works for your living space. Treat yourself to a home you love-- from side tables and ','copy_two_linktext_one': 'sideboards', 'copy_two_linkto_one': 'https://insideweather.com/pages/sideboards', 'copy_two_sub_one': 'to', 'copy_two_linktext_two': 'sofas', 'copy_two_linkto_two': 'https://insideweather.com/pages/sofas', 'copy_two_sub_two': 'and', 'copy_two_linktext_three': 'sofettes', 'copy_two_linkto_three': 'https://insideweather.com/pages/sofettes', 'copy_two_sub_three': '-- and customize it at Inside Weather!',}]" %}

    <div class="section_seoContent">
      <category-seo-content
        :seo-content="{{seoContent}}"
      >
      </category-seo-content>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function(){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');
    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
