<div id="app">
  <div class="diningRoom">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = true %}
    {% assign isScrollAnimationRequire = false %}
    {% assign hasBannerContent = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.insideweather.com/cat-rooms/dining-room/tb/cat_dining_tb_d.jpg', 'imageSm': 'https://cdn.insideweather.com/cat-rooms/dining-room/tb/cat_dining_tb_m.jpg'}]}"%}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :hide-mobile-slider="{{hideMobileSlider}}"
      :has-banner-content="{{hasBannerContent}}"

      >
    </category-banner>


    {% assign productCollections = "[{'image': 'https://banksy-images.s3.amazonaws.com/items/253S83AB53EC/253S83AB53EC-0_small.jpg', 'title': 'Custom Dining Chairs', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/pages/dining-chairs'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF&feature=ARM%20OPTION:ARMS&feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY&feature=BASE%20TYPES:DOWEL&feature=WOOD%20FINISH:LATTE&feature=METAL%20FINISHES:METAL%20LEGS%20SILVER&size=400', 'title': 'Nola Dining Chairs', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/products/nd10as12-nola-side-chair-in-cloud'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF&feature=FRAME%20FINISH:LATTE&feature=BACK%20TYPE:WINGED&feature=SEAT%20SHAPE:ROUNDED&feature=UPHOLSTERY:KEY%20LARGO%20NAVY&size=400', 'title': 'Counter & Bar Stools', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/pages/sarno-collection'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF&feature=SEAT%20CUSHION%20TYPES:ROUND&feature=BASE%20TYPES:4%20LEG&feature=UPHOLSTERY:ELIOT%20SUNFLOWER&feature=BASE%20FINISHES:LATTE&feature=EDGE%20FINISHES:LATTE&size=400', 'title': 'Dining Stools', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/pages/stools'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/48S32B107DC/48S32B107DC-0_small.jpg', 'title': 'Round Dining Tables', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/products/dt12fi11-latte-round-dining-table-in-latte-wood'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/48S4649E675/48S4649E675-0_small.jpg', 'title': 'Rectangle Dining Tables', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/products/dt14ac14-latte-rectangle-dining-table-in-white-marble'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/48S5671A227/48S5671A227-0_small.jpg', 'title': 'Square Dining Tables', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/products/dt10fi13-latte-square-dining-table-in-latte-wood'},

    {'image': 'https://banksy-images.s3.amazonaws.com/items/48S98B8F67A/48S98B8F67A-0_small.jpg', 'title': 'Oval Dining Tables', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/products/dt16hb11-latte-oval-dining-table-in-black'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF&feature=BASE%20TYPES:HAIRPIN&feature=BASE%20FINISHES:METAL%20LEGS%20CARBON&feature=HANDLES%20TYPES:BEAM&feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON&feature=PRIMARY%20SURFACE%20OPTION:DS1124&feature=BODY%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&size=400', 'title': 'Credenzas', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/pages/credenzas'},

    {'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/1/CNV_VOSS.JPG?background=FFFFFF&feature=BASE%20TYPES:DOWEL&feature=BASE%20FINISHES:LATTE&feature=HANDLE%20TYPES:CARVED&feature=HANDLE%20FINISH:LATTE&feature=PRIMARY%20SURFACE%20OPTION:LATTE&feature=BODY%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=BACK%20PANEL:NO%20HOLES&size=400', 'title': 'Sideboards', 'linkText': 'Customize Now', hyperLink: 'https://insideweather.com/pages/sideboards'}]" %}

    {% assign removeAnimation = true %}
    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :remove-animation="{{removeAnimation}}"
          :product-collections="{{productCollections}}"
          section-heading="Dining Room"
        >
        </category-collections>
      </div>
    </div>

    {% assign lifeStyleItems = "[{'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_01.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S8D51AA46/48S8D51AA46-0_small.jpg','title':'Latte Round Dining Table in White Marble','price':'$428', 'productUrl':'https://insideweather.com/products/dt12ac14-latte-round-dining-table-in-white-marble',}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_02.jpg','popUpList': [
    {'productImage': 'https://banksy-images.s3.amazonaws.com/items/48S3EC68CF8/48S3EC68CF8-0_small.jpg','title':'Latte Round Dining Table in Moody Green','price':'$428','productUrl':'https://insideweather.com/products/dt12dv13-latte-round-dining-table-in-moody-green',},{'productImage': 'https://banksy-images.s3.amazonaws.com/items/82SBA333BE1/82SBA333BE1-0_small.jpg','title':'Latte Kobe Side Chair in Retro Yellow','price':'$193','productUrl':'https://insideweather.com/products/cd141111cg15-latte-kobe-side-chair-in-retro-yellow',}]},

    {'image':'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_03.jpg','popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/48S01C0A03F/48S01C0A03F-0_small.jpg','title':'Latte Round Dining Table in Vibrant Tessellation','price':'$428','productUrl':'https://insideweather.com/products/dt12ah14-latte-round-dining-table-in-vibrant-tessellation',},{'productImage': 'https://banksy-images.s3.amazonaws.com/items/82S34D1B328/82S34D1B328-0_small.jpg','title':'Espresso Luna Side Chair in Vibrant Red','price':'$183','productUrl': 'https://insideweather.com/products/cd121010ak16-espresso-luna-side-chair-in-vibrant-red',}]},

    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_04.jpg','popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S91CA0B32/48S91CA0B32-0_small.jpg','title':'Latte Round Dining Table in Vibrant Dark Blue','price':'$428','productUrl': 'https://insideweather.com/products/dt12aq13-latte-round-dining-table-in-vibrant-dark-blue',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/82S15B4C1B6/82S15B4C1B6-0_small.jpg','title':'Latte Polk Side Chair in Vibrant Yellow','price':'$203','productUrl': 'https://insideweather.com/products/cd11111ag15-latte-polk-side-chair-in-vibrant-yellow',}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_05.jpg',
    'popUpList':[{'productImage':'https://banksy-images.s3.amazonaws.com/items/82SB33A2A03/82SB33A2A03-0_small.jpg','title':'Latte Polk Armchair in Heathered Taupe','price':'$218','productUrl':'https://insideweather.com/products/cd111111gk15-latte-polk-armchair-in-heathered-taupe',}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S8EF73EAF/48S8EF73EAF-0_small.jpg','title':'Latte Round Dining Table in White Marble','price':'$428','productUrl':'https://insideweather.com/products/dt12ac12-latte-round-dining-table-in-white-marble',}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_06.jpg','popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/48SE6C7A725/48SE6C7A725-0_small.jpg','title':'Espresso Rectangle Dining Table in Muted Melange','price':'$348','productUrl':'https://insideweather.com/products/dt15dp11-espresso-rectangle-dining-table-in-muted-melange',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/144S1FC54B97/144S1FC54B97-0_small.jpg','title':'Nola Side Chair in Aegean Blue','price':'$183','productUrl':'https://insideweather.com/products/nd10aw10-nola-side-chair-in-aegean-blue',}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_07.jpg',
    'popUpList': [{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/143S6D4DFEAB/143S6D4DFEAB-0_small.jpg','title':'Nola Armchair in Ivory','price':'$238','productUrl':'https://insideweather.com/products/nd11ao17-nola-armchair-in-ivory',}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_08.jpg',
    'popUpList': [{'productImage':'https://banksy-images.s3.amazonaws.com/items/82SD591B5A3/82SD591B5A3-0_small.jpg','title':'Latte Luna Side Chair in Modern Tropics','price':'$183','productUrl': 'https://insideweather.com/products/cd121111ey15-latte-luna-side-chair-in-modern-tropics',}, {'productImage':'https://banksy-images.s3.amazonaws.com/items/48S7E8D7023/48S7E8D7023-0_small.jpg','title':'Latte Round Dining Table in White Marble','price':'$428','productUrl': 'https://insideweather.com/products/dt12ac13-latte-round-dining-table-in-white-marble',}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_10.jpg',
    'popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/48SF80A913E/48SF80A913E-0_small.jpg','title':'Latte Round Dining Table in Metallic Mashup','price':'$428','productUrl':'https://insideweather.com/products/dt12ey12-latte-round-dining-table-in-metallic-mashup'}]},


    {'image': 'https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/3.0_cat_dining_lg_09.jpg',
    'popUpList': [{'productImage': 'https://banksy-images.s3.amazonaws.com/items/82S0A2AD793/82S0A2AD793-0_small.jpg','title':'Espresso Kobe Side Chair in Oat','price':'$208','productUrl':'https://insideweather.com/products/cd141010dr13-espresso-kobe-side-chair-in-oat',},{
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/48S8EF73EAF/48S8EF73EAF-0_small.jpg','title':'Latte Round Dining Table in White Marble','price':'$428','productUrl': 'https://insideweather.com/products/dt12ac12-latte-round-dining-table-in-white-marble',}, {
    'productImage': 'https://banksy-images.s3.amazonaws.com/items/195SA487AA03/195SA487AA03-0_small.jpg','title':'Latte Sloan Credenza in White Marble','price':'$598','productUrl': 'https://insideweather.com/products/cr1cf1014-latte-sloan-credenza-in-white-marble'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Bon Appétit"
        section-description="Bring your style to the table."
        pop-up-heading="Bon Appétit"
      >
      </life-style-photos>
    </div>

    {% assign seoContent = "[{'isTitle': 'true','title': 'A Perfect Place To Gather','copy_one': 'Everyone has a different vision for their dining room furniture. Some like clean, contemporary styles, while others like a more modern, cozy feel.', 'copy_two': 'Whatever your style or preference, our modern dining room furniture has it all. From custom', 'copy_two_linktext_one': 'sideboards', 'copy_two_linkto_one': 'https://insideweather.com/pages/sideboards', 'copy_two_sub_one': 'to', 'copy_two_linktext_two': 'dining tables', 'copy_two_linkto_two': 'https://insideweather.com/pages/dining-tables', 'copy_two_sub_two': 'and', 'copy_two_linktext_three': 'chairs', 'copy_two_linkto_three': 'https://insideweather.com/pages/dining-chairs', 'copy_two_sub_three': ',', 'copy_two_linktext_four': 'custom stools', 'copy_two_linkto_four': 'https://insideweather.com/pages/stools', 'copy_two_sub_four': 'to', 'copy_two_linktext_five': 'credenzas', 'copy_two_linkto_five': 'https://insideweather.com/pages/credenzas', 'copy_two_sub_five': ', we offer a wide selection of affordable dining room sets. Choose from a variety of finishes and fabrics to create an inviting living space made for making memories and eating good food.', 'copy_three': 'Take some time to browse our website for dining furniture and if you’re overwhelmed, we can help guide you with our free design services! With our custom dining furniture you will be able enjoy a meal with your loved ones in a dining room born of your own imagination!'}]" %}

    <div class="section_seoContent">
      <category-seo-content
        :seo-content="{{seoContent}}"
      >
      </category-seo-content>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");

  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li:not(.removeAnimation)').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li:not(.removeAnimation)').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 400 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
