<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Avalon:700,600,500&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.16/css/main-style.css?t=20201001141045"><link rel="stylesheet" href="{{ 'pagefly.2bd720a1.css' | asset_url }}">
		 <style>.__pf ._LGJ7H24P[data-id="_LGJ7H24P"] > form > div > div > .pf-form__field {
	
line-height: 18px;	
}
  
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-168a0014"><div data-pf-type="Layout" class="pf-1d40bbcb"><div data-container="true" class="sc-pZopv bjKdkd pf-23107d13" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 2000px;"><div class="sc-qPjXN eYzxUD pf-d686aa7f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-339178bf" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a193b0bb avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-15003bbd">GET IN TOUCH</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-b694c5d4" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1040px;"><div class="sc-qPjXN eYzxUD pf-d069e86f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a0cd1d4c" data-pf-type="Column"><p class="sc-oUAoT HrWqm pf-2d4e5b9f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e1b7b73b"><a style="font-weight: bold; text-decoration:underline; color:#202020;" href="https://insideweatherhelp.zendesk.com" target="_self">FAQ</a> didn’t cover it? No problem. Ask us IRL! Shoot us a text or email, or just fill out the form below. Our office hours are 9am-6pm mon-fri.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-9d7f4ba7 pf-r pf-r-eh pf-xs--hidden" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-c03dcfa2" data-pf-type="Column"><div class="sc-psAte bGtrOu pf-c45af222 pf-form avalon-medium" mode="view" data-pf-type="Form">{% form 'contact', id: 'pf-form2bf782e3-2fe3-411e-ac77-cf384d796a3f', class: 'pf-form' %}{% for field in form.errors %}{% if field == 'form' %}{{ form.errors.messages[field] }}{% endif %}{% if form.errors.messages[field] contains "can't be blank." %}<p>Field can't be blank</p>{% else %}{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}{% endif %}{% endfor %}{% if form.posted_successfully? %}<p class="form--success">Thanks for reaching out!</p>{% endif %}<div class="sc-pkfsj eWAAem pf-58e6d976 pf-form__field-wrap pf-form--label-above pf-form__Name" data-pf-type="Field"><label for="Name">Name<sup>*</sup></label><div class="pf-form__field-element"><input id="Name" class="pf-form__field" type="text" name="contact[Name]" placeholder="" required=""></div></div><div class="sc-pkfsj eWAAem pf-f7c2876c pf-form__field-wrap pf-form--label-above pf-form__Order_#" data-pf-type="Field"><label for="Order_#">Order #</label><div class="pf-form__field-element"><input id="Order_#" class="pf-form__field" type="text" name="contact[Order #]" placeholder="#IW1234"></div></div><div class="sc-pkfsj eWAAem pf-11ecddae pf-form__field-wrap pf-form--label-above pf-form__Email_Address" data-pf-type="Field"><label for="Email_Address">Email Address<sup>*</sup></label><div class="pf-form__field-element"><input id="Email_Address" class="pf-form__field" type="email" name="contact[email]" placeholder="" required=""></div></div><div class="sc-pkfsj eWAAem pf-28e8bb81 pf-form__field-wrap pf-form--label-above pf-form__Subject" data-pf-type="Field"><label for="Subject">Subject<sup>*</sup></label><div class="pf-form__field-element"><select id="Subject" class="pf-form__field" name="contact[Subject]"><option label="My Account" value="My Account">My Account</option><option label="Product Info" value="Product Info">Product Info</option><option label="Design Services" value="Design Services">Design Services</option><option label="Order Status" value="Order Status">Order Status</option><option label="Damages/Defects" value="Damages/Defects">Damages/Defects</option><option label="Returns" value="Returns">Returns</option><option label="Trade" value="Trade">Trade</option><option label="Press" value="Press">Press</option><option label="Other" value="Other">Other</option></select></div></div><div class="sc-pkfsj eWAAem pf-f1d04aaf pf-form__field-wrap pf-form--label-above pf-form__Message" data-pf-type="Field"><label for="Message">Message<sup>*</sup></label><div class="pf-form__field-element"><textarea id="Message" class="pf-form__field" name="contact[Message]" placeholder="" required=""></textarea></div></div><div class="pf-form__field-wrap"><div class="pf-form__field-element pf-form--left"><button type="submit" class="pf-form__submit"><span>send</span></button></div></div>{% endform %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-231f1c7d" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-143e8db5 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cbb336c5">CALL</span></h3><p class="sc-oUAoT HrWqm pf-d0680eaa avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b22d7c6f">+1&nbsp;<a style="color:#202020; text-decoration:none;" href="tel:14158020060" target="_self">888.908.3585</a></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dd709274 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-83bedd70">TEXT</span></h3><p class="sc-oUAoT HrWqm pf-c0bde83d avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ad79c0bd"><a style="color:#202020; text-decoration:none;" href="tel:14158020060" target="_self">+1 415.802.0060</a></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-125da9f7 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2a4b8367">EMAIL</span></h3><p class="sc-oUAoT HrWqm pf-188cc1e8 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0bb3a76a">support@insideweather.com</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1e0e06e6 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0739ba12">SOCIAL</span></h3><a data-action="openUrl" data-pf-type="Image" class="sc-qQWDO dxrmGe pf-8f1148c4"><picture class="sc-psedN fLDHlO"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016_400x3000.png?1704743208473912225"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016_850x850.png?1704743208473912225 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225 2x"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225" alt="Instagram"></picture></a><a data-action="openUrl" data-pf-type="Image" class="sc-qQWDO dxrmGe pf-ca96e6e3"><picture class="sc-psedN fLDHlO"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58_400x3000.png?6214639102583732054"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58_850x850.png?6214639102583732054 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054 2x"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054" alt="Facebook"></picture></a></div></div></div><div class="sc-qPjXN eYzxUD pf-0bdb678f pf-r pf-r-eh pf-lg--hidden pf-md--hidden pf-sm--hidden" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-3555fff6" data-pf-type="Column"><div class="sc-psAte bGtrOu pf-87118483 pf-form avalon-medium" mode="view" data-pf-type="Form">{% form 'contact', id: 'pf-formf6871184-8388-4b96-9569-8454b03555ff', class: 'pf-form' %}{% for field in form.errors %}{% if field == 'form' %}{{ form.errors.messages[field] }}{% endif %}{% if form.errors.messages[field] contains "can't be blank." %}<p>Field can't be blank</p>{% else %}{{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}{% endif %}{% endfor %}{% if form.posted_successfully? %}<p class="form--success">Thanks for reaching out!</p>{% endif %}<div class="sc-pkfsj eWAAem pf-35921fe1 pf-form__field-wrap pf-form--label-above pf-form__Name" data-pf-type="Field"><label for="Name">Name<sup>*</sup></label><div class="pf-form__field-element"><input id="Name" class="pf-form__field" type="text" name="contact[Name]" placeholder="" required=""></div></div><div class="sc-pkfsj eWAAem pf-1fe14207 pf-form__field-wrap pf-form--label-above pf-form__Order_#" data-pf-type="Field"><label for="Order_#">Order #</label><div class="pf-form__field-element"><input id="Order_#" class="pf-form__field" type="text" name="contact[Order #]" placeholder="#IW1234"></div></div><div class="sc-pkfsj eWAAem pf-42071865 pf-form__field-wrap pf-form--label-above pf-form__Email_Address" data-pf-type="Field"><label for="Email_Address">Email Address<sup>*</sup></label><div class="pf-form__field-element"><input id="Email_Address" class="pf-form__field" type="email" name="contact[email]" placeholder="" required=""></div></div><div class="sc-pkfsj eWAAem pf-186508ad pf-form__field-wrap pf-form--label-above pf-form__Subject" data-pf-type="Field"><label for="Subject">Subject<sup>*</sup></label><div class="pf-form__field-element"><select id="Subject" class="pf-form__field" name="contact[Subject]"><option label="My Account" value="My Account">My Account</option><option label="Product Info" value="Product Info">Product Info</option><option label="Design Services" value="Design Services">Design Services</option><option label="Order Status" value="Order Status">Order Status</option><option label="Damages/Defects" value="Damages/Defects">Damages/Defects</option><option label="Returns" value="Returns">Returns</option><option label="Trade" value="Trade">Trade</option><option label="Press" value="Press">Press</option><option label="Other" value="Other">Other</option></select></div></div><div class="sc-pkfsj eWAAem pf-08ad0aca pf-form__field-wrap pf-form--label-above pf-form__Message" data-pf-type="Field"><label for="Message">Message<sup>*</sup></label><div class="pf-form__field-element"><textarea id="Message" class="pf-form__field" name="contact[Message]" placeholder="" required=""></textarea></div></div><div class="pf-form__field-wrap"><div class="pf-form__field-element pf-form--left"><button type="submit" class="pf-form__submit"><span>send</span></button></div></div>{% endform %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-fff60bdb" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-848388eb avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b1bad817">CALL</span></h3><p class="sc-oUAoT HrWqm pf-88eb9615 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bd290a13"><a style="color:#202020; text-decoration:none;" href="tel:14158020060" target="_self">+1&nbsp;888.908.3585</a></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-992b5578 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0397992b">TEXT</span></h3><p class="sc-oUAoT HrWqm pf-24621983 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a3db2462"><a style="color:#202020; text-decoration:none;" href="tel:14158020060" target="_self">+1 415.802.0060</a></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-96156984 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6ab02cab">EMAIL</span></h3><p class="sc-oUAoT HrWqm pf-698454b0 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d7af271f">support@insideweather.com</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-54b03555 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b1f3c69a">SOCIAL</span></h3><a data-action="openUrl" data-pf-type="Image" class="sc-qQWDO dxrmGe pf-c69a7ff6"><picture class="sc-psedN fLDHlO"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016_400x3000.png?1704743208473912225"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016_850x850.png?1704743208473912225 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225 2x"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/glyph-logo_May2016.png?1704743208473912225" alt="Instagram"></picture></a><a data-action="openUrl" data-pf-type="Image" class="sc-qQWDO dxrmGe pf-7ff68711"><picture class="sc-psedN fLDHlO"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58_400x3000.png?6214639102583732054"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58_850x850.png?6214639102583732054 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054 1x, https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054 2x"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/flogo-RGB-HEX-Blk-58.png?6214639102583732054" alt="Facebook"></picture></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.16","shopDomain":"loomandloft.myshopify.com","elementData":{},"pageTitle":"Contact Us","pageType":"page","pageId":"2bd720a1-11a3-42b5-8cb1-ebac7785542f","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-01T21:48:57.928Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.16/core/helper.js?t=20201001141045" defer></script>