<div id="app">
  <div class="categorySofas">
    {% assign hideDesktopSlider = true %}
    {% assign hideMobileSlider = false %}
    {% assign bannerContent = "{'items':[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_d_00.jpg?v=1594255210', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_m_00.jpg?v=1594255209','heading':'Consoles','description':'Start with a configuration and color in the rest.','linkText':'Customize now','url':'https://insideweather.com/products/jc1113fi-latte-jorn-console', dataSource: 'default'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_d_01.jpg?v=1594255210', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_m_01.jpg?v=1594255210','heading':'Wood Finish','description':'Choose between rich wood finishes to perfectly accent your space.','linkText':'Customize now','url':'https://insideweather.com/products/jc1113fi-latte-jorn-console', dataSource: 'wood-finish'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_d_02.jpg?v=1594255210', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_m_02.jpg?v=1594255210','heading':'Configuration','description':'Whether used in the entryway, the bedroom or the dining room—customize the configuration so it truly suits you.','linkText':'Customize now','url':'https://insideweather.com/products/jc1113fi-latte-jorn-console', dataSource: 'configuration'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_d_03.jpg?v=1594255210', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_tb_m_03.jpg?v=1594255210','heading':'Shelf Surface Design','description':'Choose from 300+ finishes, colors, and designs to find the custom accent that\&#39;s 100% you.','linkText':'Customize now','url':'https://insideweather.com/products/jc1113fi-latte-jorn-console', dataSource: 'shelf-surface-design'}]}"%}

    {% assign categoryBannerAccordion = "[{'accordionHead': 'Wood Finish', 'accordionDescription': 'Choose between rich wood finishes to perfectly accent your space.', 'accordionTarget': 'wood-finish'},{'accordionHead': 'Configuration', 'accordionDescription': 'Whether used in the entryway, the bedroom or the dining room—customize the configuration so it truly suits you.', 'accordionTarget': 'configuration'}, {'accordionHead': 'Shelf Surface Design', 'accordionDescription': 'Choose from 300+ finishes, colors, and designs to find the custom accent that\&#39;s 100% you.', 'accordionTarget': 'shelf-surface-design'}]" %}

    <category-banner
      :banner-content="{{bannerContent}}"
      :hide-desktop-slider="{{hideDesktopSlider}}"
      :category-banner-accordion="{{categoryBannerAccordion}}"
      >
    </category-banner>

    {% assign productCollections = "[{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/5/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:LARGE-LARGE&feature=SHELF%20PATTERN:LATTE&size=400', 'title': 'Latte Wood', 'linkText': 'Customize starting at $399', hyperLink: 'https://insideweather.com/products/jc1113fi-latte-jorn-console'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/5/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LIGHT%20ESPRESSO&feature=SHELF%20SETUP:SMALL-SMALL&feature=SHELF%20PATTERN:LIGHT%20ESPRESSO&size=400', 'title': 'Espresso Wood', 'linkText': 'Customize starting at $499', hyperLink: 'https://insideweather.com/products/jc1010fy-espresso-jorn-console'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/5/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:SOLID%20LAMINATE%20NORDIC%20CREAM&size=400', 'title': 'Solid Colors', 'linkText': 'Customize starting at $429', hyperLink: 'https://insideweather.com/products/jc1111dk-latte-jorn-console'},{'image': 'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/5/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LIGHT%20ESPRESSO&feature=EDGE%20FINISH:LIGHT%20ESPRESSO&feature=SHELF%20SETUP:LARGE-%20SMALL&feature=SHELF%20PATTERN:DS1057&size=400', 'title': 'Trending Designs', 'linkText': 'Customize starting at $429', hyperLink: 'https://insideweather.com/products/jc1012ih-espresso-jorn-console'}]" %}

    <div class="productCollection --pd-t-130">
      <div class="category-collection-main-wrapper">
        <category-collections
          :product-collections="{{productCollections}}"
          section-heading="Customize Your Console"
          section-description="From wood finish to shelf size & color—you're in the designer's seat!"
        >
        </category-collections>
      </div>
    </div>

    {% assign productDetails = "[{'isVideo':'true','objectUrl':'https://cdn.shopify.com/s/files/1/2994/0144/files/custom-configuration_d.mp4?v=1594327549','objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/custom-configuration_m.mp4?v=1594327551','title': 'Custom Configuration','description': 'With small and large shelving sizes to choose from, design a configuration that works best for you! Perhaps you\&#39;d like more real estate to display your favorite decor or just want to see more of that gorgeous emerald pattern you\&#39;ve selected for the surface of the shelves!'},{'isVideo':'true', 'objectUrl':'https://cdn.shopify.com/s/files/1/2994/0144/files/versatile_d.mp4?v=1594412757', 'objectUrlMob':'https://cdn.shopify.com/s/files/1/2994/0144/files/versatile_m.mp4?v=1594412758','title': 'Versatile Function','description': 'The leaning Jorn Console\&#39;s slender frame is a sleek, modern addition to any space. Use it in the entryway as a stylish yet functional catchall for those daily essentials, in the living room to house your favorite knickknacks below a gallery wall, or in the bedroom to keep your beloved books and personals.'},{'isVideo':'true', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_console_details_matcraft_d.mp4?v=1594253403', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_console_details_matcraft_m.mp4?v=1594253405', 'title': 'Material Craftsmanship','description': 'Our FSC Certified, 100% Baltic Birch wood is precision milled in our US manufacturing facility to achieve seamless beveled edges. Its surfaces feature an American walnut or maple veneer with a triple coat of UV cured clear, matte, eco-solvent finish.'},{'isVideo':'false', 'objectUrl': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_console_details_sustainable_d.jpg?v=1594252662', 'objectUrlMob': 'https://cdn.shopify.com/s/files/1/2994/0144/files/cat_console_details_sustainable_m.jpg?v=1594252662', 'title': 'Sustainable Style','description': 'The materials used to make this console have been selected with intention. Our signature baltic birch is FSC certified & topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such \&#34;waste.\&#34; And as always, for every order placed with us one tree is planted via the National Forest Foundation.'}]" %}

    <div class="productDetails --pd-t-130 --pd-b-130">
      <category-details :product-details="{{productDetails}}"></category-details>
    </div>

    {% assign categoryValueProps = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_01-ca-crafted_m_min.jpg?1661495', 'title':'Made in the USA','description':'Every one of our furniture pieces is made-to-order from our workshop in California. Sawing, sewing, packaging, and shipping—we see it all through from start to finish!', 'link': '', 'linkto': ''},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_02-free-ship_m_min.jpg?1661495', 'title':'Quick Ship Custom','description':'no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?', 'link': 'Custom furniture', 'linkto': 'https://insideweather.com/'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial-min.jpg?1661468', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_03-home-trial_m_min.jpg?1661495', 'title':'365 Day Home Trial','description':'Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.', 'link': '', 'linkto': ''}, {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_04-sustainable_d-min.png?v=1583278319', 'imageSm': 'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_vprop_04-sustainable_m-min.png?v=1583278319', 'title':'One for One','description':'Inside for Outside. For every order placed with us, one tree is planted via the National Forest Foundation. Sleep easier knowing you’ve got the most sustainable furniture on the market.', 'link': '', 'linkto': ''}]"%}

    <div class="categoryValuePropsWrapper">
      <category-vprops
      :category-value-props="{{categoryValueProps}}"
      background-color="#F2F2F2"
      >
      </category-vprops>
    </div>

    {% assign lifeStyleItems = "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_01.jpg?v=1594410018','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-SMALL&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399','productUrl':'https://insideweather.com/products/jc1110fi-latte-jorn-console'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_02.jpg?v=1594410020','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-SMALL&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1110fi-latte-jorn-console'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD101A1/HD101A1-0_small.jpg','title':'Creative Wall Hook Rack in Latte','price':'$49', 'productUrl':'https://insideweather.com/products/hd101a1-creative-wall-hook-rack-in-latte'}]},

    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_03.jpg?v=1594410024','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'},{'productImage':'https://content.cylindo.com/api/image/resize?account=4931&id=14799&scene=sku&features=4338316,4337981,4337999,4338322,4338002,4338323,4338284,4338324,4338305,4338325,4338312,4338326,4338314&frame=1&size=400&name=Credenza%20Sloan1&color=FFFFFF&format=JPG','title':'Latte Sloan Credenza in White Marble','price':'$588', 'productUrl':'https://insideweather.com/products/cr10cf1321-latte-sloan-credenza-in-white-marble'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/253S7C9527D1/253S7C9527D1-0_small.jpg','title':'Latte Polk Armchair in Wheat','price':'$208', 'productUrl':'https://insideweather.com/products/cd111112ae12-latte-polk-armchair-in-wheat'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S32B107DC/48S32B107DC-0_small.jpg','title':'Latte Round Dining Table in Latte Wood','price':'$408', 'productUrl':'https://insideweather.com/products/dt12fi11-latte-round-dining-table-in-latte-wood'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_04.jpg?v=1594410021','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_05.jpg?v=1594410022','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:LATTE','title':'Latte Jorn Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/js11fi-latte-jorn-side-table'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/141S72BA35BD/141S72BA35BD-0_small.jpg','title':'Linen Weave Brooklyn Sofette in Fog','price':'$1,098', 'productUrl':'https://insideweather.com/products/se19bg1012111012-linen-weave-brooklyn-sofette-in-fog'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD101A2/HD101A2-0_small.jpg','title':'Creative Wall Hook Rack in Latte','price':'$59', 'productUrl':'https://insideweather.com/products/hd101a2-creative-wall-hook-rack-in-latte'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_06.jpg?v=1594410023','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/48S2AC4926D/48S2AC4926D-0_small.jpg','title':'Latte Rectangle Dining Table in Latte Wood','price':'$328', 'productUrl':'https://insideweather.com/products/dt14fi15-latte-rectangle-dining-table-in-latte-wood'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD117C/HD117C-0_small.jpg','title':'Mia Mug & Wood Saucer Set in Gray','price':'$29', 'productUrl':'https://insideweather.com/products/hd117c-mia-mug-wood-saucer-set-in-gray'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_07.jpg?v=1594410021','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_08.jpg?v=1594410021','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:LARGE-%20SMALL&feature=SHELF%20PATTERN:LATTE&SIZE=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1112fi-latte-jorn-console'},{'productImage':'https://banksy-images.s3.amazonaws.com/items/HD123B/HD123B-0_small.jpg','title':'Pyramid Candle in Charcoal','price':'$29', 'productUrl':'https://insideweather.com/products/hd123b-pyramid-candle-in-charcoal'}]},



    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_10.jpg?v=1594410022','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:LARGE-%20SMALL&feature=SHELF%20PATTERN:LATTE&SIZE=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1112fi-latte-jorn-console'}]},


    {'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/3.0_cat_console_lg_09.jpg?v=1594410024','popUpList': [{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/3/CNV_JORN_CNS.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20SETUP:SMALL-%20LARGE&feature=SHELF%20PATTERN:LATTE&size=300','title':'Latte Jorn Console','price':'$399', 'productUrl':'https://insideweather.com/products/jc1111fi-latte-jorn-console'},{'productImage':'https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF&feature=BASE%20FINISH:LATTE&feature=EDGE%20FINISH:LATTE&feature=SHELF%20PATTERN:LATTE','title':'Latte Jorn Side Table','price':'$248', 'productUrl':'https://insideweather.com/products/js11fi-latte-jorn-side-table'}]}]"%}

    <div class="section_lifeStylePhotos --pd-t-130 --pd-b-130">
      <life-style-photos
        :life-style-items="{{lifeStyleItems}}"
        section-heading="Get Inspired"
        pop-up-heading="Get Inspired"
      >
      </life-style-photos>
    </div>
  </div>
</div>

<script>
const controller = new ScrollMagic.Controller();

function fadeinup(a, t, y=20) {
  var el=a;
  var tar=t;
  var set=TweenMax.staggerFromTo(el, 0.8, {
    opacity: 0,
    y: y
  }
  , {
    y: 0, opacity: 1, force3D: true
  }
  , 0.2);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(set).addTo(controller);
}

function fadeIn(a, t) {
  var el=a;
  var tar=t;
  var setFade=TweenMax.staggerFromTo(el, 0.8, {opacity: 0}, { opacity: 1, force3D: true
  }, 1);
  new ScrollMagic.Scene( {
    triggerElement: tar, reverse: false, triggerHook: "onEnter", offset: 250
  }
  ).setTween(setFade).addTo(controller);
}

jQuery(function ($) {

  $('.CategoryBanner--clasification .point').click(function (event){
    if($(this).hasClass('show-details')) {
      event.preventDefault();
      event.stopPropagation();
      $(this).find('p').slideToggle();
      $(this).removeClass('show-details');
      $('.CategoryBanner .owl-dots button:nth-of-type(1)').trigger('click');

    } else {
      $('.CategoryBanner--clasification .point p').slideUp();
      $(this).find('p').slideDown();
      $('.CategoryBanner--clasification .point').removeClass('show-details');
      $(this).addClass('show-details');
    }
  });

  fadeinup('.CategoryBanner .--animElement', ".CategoryBanner");
  if($(window).width() < 992) {
    fadeinup('.CategoryBanner .owl-dots button', ".CategoryBanner");
  } else {
    fadeinup('.CategoryBanner--clasification .point', ".CategoryBanner");
  }

  fadeinup('.CtegoryCollections .HeadingWithDescription *', ".productCollection");
  const collectionTween = new TimelineLite()
  collectionTween.call(function () {
    $('.CtegoryCollections--itemWrapper li').each(function (i) {
      var row = $(this).find('.--animElement');
      setTimeout(function() {
        TweenMax.staggerFromTo(row, 0.8, {opacity: 0, y: 20}, {opacity: 1, y: 0, force3D: true}, 0.2);
        if($('.CtegoryCollections--itemWrapper li').length === (i + 1)) {
          $('.CtegoryCollections--itemWrapper').addClass('--animLoaded');
        }
      }, 200 * i);
    });
  });

  new ScrollMagic.Scene({
    triggerElement: '.CtegoryCollections--itemWrapper',
    reverse: false,
    triggerHook: "onEnter",
    offset: 250
  }).setTween(collectionTween).addTo(controller);

  $('.CategoryDetails .image-content-box').each(function (i) {
    var figureElement = $(this).find('figure');
    var contentElements = $(this).find('.HeadingWithDescription *');
    var videoDetect = $(figureElement).find('video');
    var categoryDetailsTween=TweenMax.staggerFromTo(figureElement, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.2);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsTween).addTo(controller);

    var categoryDetailsContentTween=TweenMax.staggerFromTo(contentElements, 0.8, {opacity: 0,y: 20}, {y: 0, opacity: 1, force3D: true}, 0.4);
    new ScrollMagic.Scene( {
      triggerElement: '.CategoryDetails .image-content-box:nth-of-type('+ (i + 1) +')',
      reverse: false, triggerHook: "onEnter", offset: 250
    }).setTween(categoryDetailsContentTween).addTo(controller);

  });

  fadeinup('.CategoryVideo--videoFrame', '.section_categoryVideo', 100);
  fadeinup('.section_categoryVideo .HeadingWithDescription *', '.section_categoryVideo .HeadingWithDescription');
  $('.categoryValueProps').each(function (i) {
    fadeinup('.categoryValueProps:nth-of-type('+ (i + 1) +') .--animElement', '.categoryValueProps:nth-of-type('+ (i + 1) +')')
  });

  fadeinup('.LifeStylePhotos .HeadingWithDescription *', '.section_lifeStylePhotos');

  $('.LifeStylePhotos--gridContainer .LifeStylePhotos--column').each(function (i) {
    fadeinup('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') figure', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')', 50)
    fadeIn('.LifeStylePhotos--column:nth-of-type('+ (i + 1) +') .more-info', '.LifeStylePhotos--column:nth-of-type('+ (i + 1) +')')
  });
});

function toggleSlide(item) {
  jQuery(item).slideToggle();
}
function downSlide(item) {
  jQuery(item).slideDown();
}
</script>
