<div id="ajaxCustomerOnboard"  class="modal modal--dark">
  <div class="modal__inner">
    <div class="modal__centered page-width">
      <div class="modal__centered-content">
        <div class="modal--white modal--square">
          <div class="ajaxCustomerOnboard__wrapper">
            <div class="ajaxCustomerOnboard__login ajaxCustomerOnboard__form">
              <h1 class="ajaxCustomerOnboard__form-header">Login</h1>
              <p class="ajaxCustomerOnboard__form-description"></p>
              <form method="post" action="/account/login" id="customer_login--modal" accept-charset="UTF-8">
                <input type="hidden" name="form_type" value="customer_login">
                <input type="hidden" name="utf8" value="✓">
                <label for="CustomerEmail--modal">{{ 'customer.register.email' | t }}</label>
                <input type="email" name="customer[email]" id="CustomerEmail--modal" class="ajaxCustomerOnboard__form-input input-full" autocorrect="off" autocapitalize="off">
                <div class="grid">
                  <div class="grid__item one-half">
                    <label for="CustomerPassword--modal">{{ 'customer.login.password' | t }}</label>
                  </div>
                  <div class="grid__item one-half text-right">
                    <small class="label-info">
                      <a href="#recover" id="RecoverPassword" class="ajaxCustomerOnboard--show-forgot js-no-transition">
                        {{ 'customer.login.forgot_password' | t }}
                      </a>
                    </small>
                  </div>
                </div>
                <input type="password" value="" name="customer[password]" id="CustomerPassword--modal" class="ajaxCustomerOnboard__form-input-password input-full">
                <input type="submit" value="LOGIN" class="ajaxCustomerOnboard__form-submit">
              </form>
              <div class="ajaxCustomerOnboard__form-or">OR</div>
              <div class="ajaxCustomerOnboard--show-register ajaxCustomerOnboard__form-btn--reversed">CREATE ACCOUNT</div>
            </div>
            <div class="ajaxCustomerOnboard__register ajaxCustomerOnboard__form">
              <h1 class="ajaxCustomerOnboard__form-header">Create Account</h1>
              <form method="post" action="/account" id="create_customer--modal" accept-charset="UTF-8">
                <input class="input-full" type="hidden" name="form_type" value="create_customer">
                <input class="input-full" type="hidden" name="utf8" value="✓">

                <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
                <input type="text" name="customer[first_name]" id="FirstName" class="ajaxCustomerOnboard__form-input input-full" autocapitalize="words" autofocus>

                <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
                <input type="text" name="customer[last_name]" id="LastName" class="ajaxCustomerOnboard__form-input input-full" autocapitalize="words">

                <label for="Email">{{ 'customer.register.email' | t }}</label>
                <input type="email" name="customer[email]" id="Email" class="ajaxCustomerOnboard__form-input input-full" autocorrect="off" autocapitalize="off">

                <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
                <input type="password" name="customer[password]" id="CreatePassword" class="ajaxCustomerOnboard__form-input-password input-full">

                <input type="submit" value="CREATE ACCOUNT" class="ajaxCustomerOnboard__form-submit">
              </form>
              <div class="ajaxCustomerOnboard__form-or">OR</div>
              <div class="ajaxCustomerOnboard--show-login ajaxCustomerOnboard__form-btn--reversed">LOGIN</div>
            </div>
            <div class="ajaxCustomerOnboard__forgot-password ajaxCustomerOnboard__form">
              <h2>{{ 'customer.recover_password.title' | t }}</h2>
              <p>{{ 'customer.recover_password.subtext' | t }}</p>
              <form method="post" action="/account/recover" id="recover-password--modal" accept-charset="UTF-8">
                <input class="input-full" type="hidden" name="form_type" value="create_customer">
                <input class="input-full" type="hidden" name="utf8" value="✓">
                <label for="RecoverEmail--modal">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" value="" name="email" id="RecoverEmail--modal" class="ajaxCustomerOnboard__form-input input-full" autocorrect="off" autocapitalize="off">
                <input type="submit" class="ajaxCustomerOnboard__form-submit" value="{{ 'customer.recover_password.submit' | t }}">
              </form>
              <div class="ajaxCustomerOnboard__form-or">OR</div>
              <div class="ajaxCustomerOnboard--show-register ajaxCustomerOnboard__form-btn--reversed ajaxCustomerOnboard__btn-space">CREATE ACCOUNT</div>
              <div class="ajaxCustomerOnboard--show-login ajaxCustomerOnboard__form-btn--reversed">LOGIN</div>
            </div>
          </div>
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function() {
    const urlIsExcluded = new RegExp(forceRedirectExclusions.join("|")).test(window.location.href);
    if(!urlIsExcluded){
      localStorage.setItem("lastNonChallengeURL","{{request.path}}" + window.location.search);
    }

    $('#create_customer--modal, #customer_login--modal').submit(function(e){
      e.preventDefault();
      const event = window.ajaxCustomerOnboardCurrentTrigger;
      const returnToURL = event && event.currentTarget && event.currentTarget.dataset && event.currentTarget.dataset.returnTo ? event.currentTarget.dataset.returnTo : false;
      if(!urlIsExcluded){
        const redirectPath = returnToURL ? returnToURL : "{{request.path}}" + window.location.search;
        localStorage.setItem("forceRedirect", redirectPath);
      }
      $(this).unbind();
      $(this).submit();
    });

    $('.ajaxCustomerOnboard--show-login').click(function(){
      $('.ajaxCustomerOnboard__form').hide();
      $('.ajaxCustomerOnboard__login').show();
    });

    $('.ajaxCustomerOnboard--show-register').click(function(){
      $('.ajaxCustomerOnboard__form').hide();
      $('.ajaxCustomerOnboard__register').show();
    });

    $('.ajaxCustomerOnboard--show-forgot').click(function(){
      $('.ajaxCustomerOnboard__form').hide();
      $('.ajaxCustomerOnboard__forgot-password').show();
    });

  })();
</script>

<style>
  .ajaxCustomerOnboard__wrapper{
    background-color: white;
    color:#202020;
    padding:38px 56px 45px 56px;
    width:422px;
  }
  #ajaxCustomerOnboard .modal__close .icon{
    width:32px;
    height:32px;
  }
  #ajaxCustomerOnboard label{
    margin-bottom: 8px;
    font-family: Avalon;
    font-weight: 600;
    font-size:13px;
    letter-spacing: 0.12em;
    text-align: left;
    color:#202020;
  }
  .ajaxCustomerOnboard__login{
    /* display:none; */
  }
  .ajaxCustomerOnboard__forgot-password{
    display:none;
  }
  .ajaxCustomerOnboard__register{
    display:none;
    margin:0 auto;
  }
  .ajaxCustomerOnboard__form-header{
    margin-bottom:18px;
    text-align: center;
    font-size:28px;
  }
  .ajaxCustomerOnboard__form-description{
    font-family: Avalon;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.05em;
    text-align: center;
    color:#202020;
  }
  .ajaxCustomerOnboard__form-input{
    margin-bottom:28px;
    border:1px solid #d4d0ca;
  }
  .ajaxCustomerOnboard__form-input-password{
    margin-bottom:24px;
    border:1px solid #d4d0ca;
  }
  .ajaxCustomerOnboard__form-submit{
    width: 100%;
    color:white;
    background-color: black;
    font-family: Avalon;
    font-weight: 500;
    font-size:14px;
    letter-spacing: 0.12em;
    padding: 15px 0;
  }
  .ajaxCustomerOnboard__form-or{
    padding:20px;
    font-family: Avalon;
    font-weight: 500;
    font-size:14px;
    letter-spacing: 0.12em;
    color:#202020;
    text-align: center;
    margin:0 auto;
  }
  .ajaxCustomerOnboard__form-btn--reversed{
    width: 100%;
    color:#202020;
    background-color: white;
    border:1px solid #202020;
    font-family: Avalon;
    font-weight: 500;
    font-size:14px;
    letter-spacing: 0.12em;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
  }
  .ajaxCustomerOnboard__btn-space{
    margin-bottom:10px;
  }
  .ajaxCustomerOnboard--show-forgot{
    font-family: Avalon;
    font-weight: 500;
    text-decoration: underline;
    font-size: 13px;
    letter-spacing: 0.05em;
    color:#202020;
  }
  @media screen and (max-width: 800px) {
    .ajaxCustomerOnboard__wrapper{
      padding:38px 18px 38px 18px;
      width:350px;
    }
    .ajaxCustomerOnboard__form-header{
      font-size: 30px;
    }
    .ajaxCustomerOnboard__form-description{
      line-height: 24px;
    }
    .ajaxCustomerOnboard__form-input{
      margin-bottom: 20px;
    }
    .ajaxCustomerOnboard__form-input-password{
      margin-bottom: 16px;
    }
    .ajaxCustomerOnboard__form-or{
      padding:12px;
    }
  }
</style>