<script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">
      <div class="drawer__inner drawer__inner--has-fixed-footer">
        <div class ="drawer__inner--wrapper">
        {{#items}}
        {{#unless isShippingInsurance }}
        <div class="ajaxcart__product appear-animation appear-delay-{{animationRow}} {{#if isPhotoshoot}} ajaxcart__product--fixed-qty {{/if}}">
          <div class="ajaxcart__row">
            <div class="grid">
              <div class="grid__item one-third">
                <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
              </div>
              <div class="grid__item two-thirds">
                <div class="ajaxcart__product-name--wrapper">
                  <a href="{{url}}" class="ajaxcart__product-name">{{{name}}}</a>
                  {{#if variation}}
                    <span class="ajaxcart__product-meta">{{variation}}</span>
                  {{/if}}
                  {{#each properties}}
                    {{#if this}}
                      {{#unless ../hasCustomMade}}
                        {{#ifEquals @key 'User Fulfillment Display'}}
                          <span class="ajaxcart__product-meta">Estimated time to ship: {{this}}</span>
                        {{/ifEquals}}
                      {{/unless}}
                      {{#unlessEquals @key 'PARENT_SKU'}}
                        {{#unlessEquals @key 'User Fulfillment Display'}}
                          {{#unlessEquals @key 'Estimated time to ship'}}
                            {{#unlessEquals @key 'Custom Made Business Days'}}
                              <span class="ajaxcart__product-meta">
                                {{#ifEquals @key 'Custom Made'}}
                                  <div class="InfoPopup">
                                    {{@key}}: <span class="ProductCustomizer__ShippingDays--Delayed" data-hover-target>{{this}}</span>
                                    <div class="InfoPopup__Dialog InfoPopup__Dialog--AlwaysOnTop" data-message>
                                      <p>For a more seamless and sustainable delivery, we plan to ship all of your items at once. A bundle shipment reduces the carbon footprint of an order by 75%!</p>
                                      <button class="CloseButton InfoPopup__Close">
                                        <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.121 32.121"><g transform="translate(-1800.004 -54.004)"><line y2="42.426" transform="translate(1801.065 55.065) rotate(-45)" fill="none" stroke="#202020" stroke-width="3"></line> <line y2="42.426" transform="translate(1831.065 55.065) rotate(45)" fill="none" stroke="#202020" stroke-width="3"></line></g></svg>
                                        <span class="visually-hidden">Close</span>
                                      </button>
                                    </div>
                                  </div>
                                {{/ifEquals}}
                                {{#unlessEquals @key 'Custom Made'}}
                                  {{@key}}: {{this}}
                                {{/unlessEquals}}
                              </span>
                            {{/unlessEquals}}
                          {{/unlessEquals}}
                        {{/unlessEquals}}
                      {{/unlessEquals}}
                    {{/if}}
                  {{/each}}
                </div>
                <div class="grid grid--full display-table">
                  {{#unless isPhotoshoot }}
                  <div class="grid__item display-table-cell one-half">
                    <div class="ajaxcart__quantity js-qty">
                      <label for="updates_{{key}}" class="visually-hidden">{% endraw %}{{ 'products.product.quantity' | t }}{% raw %}</label>
                      <input type="number" id="updates_{{key}}" name="updates[]" value="{{itemQty}}" min="0" class="js-qty__fallback" data-id="{{key}}">
                    </div>
                  </div>
                  {{/unless}}
                  <div class="grid__item display-table-cell one-half text-right ajaxcart__product-price">
                    {{#if discountsApplied}}
                      <small class="ajaxcart__price--strikethrough">{{{price}}}</small>
                      <span class="ajaxcart__price">
                        {{{discountedPrice}}}
                      </span>
                    {{else}}
                      <span class="ajaxcart__price">
                        {{{price}}}
                      </span>
                    {{/if}}
                  </div>
                </div>
                {{#if discountsApplied}}
                  <div class="grid grid--full display-table">
                    <div class="grid__item text-right">
                      {{#each discounts}}
                        <small class="ajaxcart__discount">{{this.title}}</small>
                      {{/each}}
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
          </div>
          {{/unless}}
          {{/items}}

          {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
            <div class="appear-animation appear-delay-{{lastAnimationRow}}">
              <label for="CartSpecialInstructions" class="ajaxcart__note">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions">{{note}}</textarea>
            </div>
          {% endraw %}{% endif %}{% raw %}
        </div>
      </div>
      <div class="drawer__footer drawer__footer--fixed appear-animation appear-delay-{{lastAnimationRow}}">
        <div class="grid grid--full">
          {{#if vwo.shippingProtection.active}}
          <div class="grid__item two-thirds">
            <p class="free-shipping__title">{{vwo.shippingProtection.cartDrawer.shippingCostLabel}}</p>
          </div>
          <div class="grid__item one-third text-right free-shipping__label">{{vwo.shippingProtection.cartDrawer.shippingCostPrice}}</div>
          <div class="grid__item four-fifths">
            <div class="shipping-protection">
              <p class="shipping-protection__title">{{vwo.shippingProtection.cartDrawer.shippingProtectionLabel}}</p>
              {% endraw %}
                <div id="shippingProtectionModal--trigger" class="js-modal-open-shipping-protection-modal">
                  {% render 'icon-question-mark-small' %}
                </div>
              {% raw %}
              <label class="switch">
                <input id="cartDrawerShippingProtection" type="checkbox" {{#if cartHasShippingInsurance}} checked {{/if}}>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="grid__item one-fifth text-right {{#unless cartHasShippingInsurance}} shipping-protection__price--inactive {{/unless}} shipping-protection__price">{{currentShippingInsurancePrice}}</div>
          <div class="grid__item">
            <p class="shipping-protection__caption">{{vwo.shippingProtection.cartDrawer.shippingProtectionCaption}}</p>
          </div>
          {{/if}}
          <div class="grid__item two-thirds">
            <p class="ajaxcart__subtotal">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          </div>
          <div class="grid__item one-third text-right">
            <p class="ajaxcart__subtotal-price">{{{totalPrice}}}</p>
          </div>
        </div>
        <div class="grid grid--full">
          <div class="grid__item one-half">
            <p class="ajaxcart__tax-label">Shipping & Tax</p>
          </div>
          <div class="grid__item one-half text-right ajaxcart__tax-price">Calculated at checkout</div>
        </div>
        {{#if totalCartDiscount}}
          <p class="ajaxcart__savings text-center">{{{totalCartDiscount}}}</p>
        {{/if}}
        {% endraw %}{% if settings.cart_terms_conditions_enable %}
          <p class="ajaxcart__note ajaxcart__note--terms">
            <input type="checkbox" id="CartAgree" />
            <label for="CartAgree">
              {% if settings.cart_terms_conditions_link != blank %}
                {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
              {% else %}
                {{ 'cart.general.terms' | t }}
              {% endif %}
            </label>
          </p>
        {% endif %}{% raw %}
        {% endraw %}
          {% if additional_checkout_buttons and settings.cart_additional_buttons %}
            <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
        {% raw %}
        <button type="submit" class="btn--secondary--no-transition btn--full cart__checkout{% endraw %}{% if settings.cart_terms_conditions_enable %}{% raw %} cart__checkout--ajax{% endraw %}{% endif %}{% raw %}" name="checkout">
          {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
        </button>
        <p class="ajaxcart__note">
          {% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}
          {% endraw %}{% if settings.enable_currencies %}{% raw %}
            {% endraw %}{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}{% raw %}
          {% endraw %}{% endif %}{% raw %}
        </p>
      </div>
    </form>
  {% endraw %}
  </script>