<!-- MAINMENU NAV LEFT SIDE -->
{% render 'header-images' %}
<ul class="NavBlock__List">
    <!-- MOBILE NAV TOGGLER -->
    <li class="Mobile-Item MobileNav--Toggler">
        <button id="MobileToggler" class="">
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="MobileToggler__Icon"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg></span>
        </button>
    </li>

    {%- for parentLink in linklists.sale-menu-temp.links -%}
        {%- if parentLink.links != blank -%}
            <li class="NavBlock__List__Item--Dropdown {% if forloop.index == 1 %}NavBlock__List__Item--First{% endif %}">
                <a href="{{parentLink.link}}" class="js-no-transition {% if parentLink.title  == 'Sale'%}NavBlock__sale{% endif %}">{{ parentLink.title }}</a>
								<div class="Dropdown__Content" >
									<div class="Dropdown__Content-Wrapper {% if parentLink.title  == 'Sale'%}Dropdown__Content-Wrapper--sale{% endif %}" {% if parentLink.links[0].links == blank %}style="justify-content:center; " {% else %} style="max-width: 1440px;"{% endif%}>
                    {% assign currentLink = parentLink.title | downcase | strip %}
										<div class="NavBlocks__Container" {% if parentLink.links[0].links == blank %}style="width:auto;" {% endif%}>
											<ul class="NavBlock__flex-list" {%- if parentLink.links[0].links == blank -%} style="padding-top: 34px; padding-right: 40px; margin-top: 0;" {% endif %} >
												{%- for dropdownLink in parentLink.links-%}
													{% assign isOfficeSeatingMenu = false %}
													{% if currentLink == 'office' and forloop.index0 == 1%}
														{% assign isOfficeSeatingMenu = true %}
													{%endif%}
													{% unless forloop.last %}
													{%- if dropdownLink.links != blank -%}
													<ul {% if isOfficeSeatingMenu %} style="margin-left:0;padding-left:0" {% endif %}>
														<li class="NavBlock__List-Item-Heading" {% if isOfficeSeatingMenu %} style="margin-left:0;padding-left:0" {% endif %}>
															{% if dropdownLink.url != blank and dropdownLink.url != '#' %}
																<a class=" NavBlock__List-Item-Heading--underline " href="{{ dropdownLink.url }}">
																	<span>{{ dropdownLink.title }}</span>
																</a>
															{% else %}
															<span style="cursor:default;">{{ dropdownLink.title }}</span>
															{% endif %}
														</li>
														{% for grandchildLink in dropdownLink.links %}
															<li class="NavBlock__List-Item"  {% if isOfficeSeatingMenu %} style="margin-left:0;padding-left:0" {% endif %}>
																<a class="" href="{{ grandchildLink.url }}">
																	<span>{{ grandchildLink.title }}</span>
																</a>
															</li>
														{% endfor %}
													</ul>
													{% else %}
														<li class="NavBlock__List-Item">
															<a class="" href="{{ dropdownLink.url }}">
																<span>{{ dropdownLink.title }}</span>
															</a>
														</li>
													{% endif %}
													{% endunless %}
                        {%- endfor -%}
											</ul>
										</div>
										<div style="width:50%; {% if parentLink.title  == 'Sale'%}width:50%;margin:0 auto;{% endif %} " >
											<ul class="NavBlock__flex-list--collections" >
												{%- for dropdownLink in parentLink.links-%}
													{% if forloop.last %} <!-- For collections linklist-->
													{%- if dropdownLink.links != blank -%}
													<ul class="NavBlock__collections-list">
														<li class="NavBlock__List-Item-Heading">
															{% if dropdownLink.url != blank and dropdownLink.url != '#' %}
																<a class=" NavBlock__List-Item-Heading--underline " href="{{ dropdownLink.url }}">
																	<span>{{ dropdownLink.title }}</span>
																</a>
															{% else %}
															<span style="cursor:default;">{{ dropdownLink.title }}</span>
															{% endif %}
														</li>
														{% for grandchildLink in dropdownLink.links %}
															<li class="NavBlock__List-Item">
																<a class="" href="{{ grandchildLink.url }}">
																	<span>{{ grandchildLink.title }}</span>
																</a>
															</li>
														{% endfor %}
													</ul>
													{% else %}
														<li class="NavBlock__List-Item">
															<a class="" href="{{ dropdownLink.url }}">
																<span>{{ dropdownLink.title }}</span>
															</a>
														</li>
													{% endif %}
													{% endif %}
												{%- endfor -%}
												<li class = "header-images-wrapper">
													<img class="header-default-image"/>
													<div class="header-image-caption" ></div>
												</li>
											</ul>
										</div>
									</div>
                </div>
            </li>
        {% else %}
            <li class="NavBlock__List__Item"><a href="{{ parentLink.url }}">{{ parentLink.title }}</a></li>
        {% endif %}
    {%- endfor -%}
</ul>
<script>
	var reveal = function (selector) {
			var img = $(selector);
			img[0].src = img.data("src");
	}
	$('.header-default-image').attr('src', headerImages['default']['src']);
	$('.header-image-caption').text(headerImages['default']['caption']);
	$('.NavBlock__List-Item a').each(function (i, el) {
		if(headerImages[$(this).attr('href')] !== undefined ){
			var img = $('<img class="header-image" />');
			img.attr('data-src', headerImages[$(this).attr('href')]['src']);
			img.prependTo($(this).closest('.Dropdown__Content').find('.header-images-wrapper'));
		}
	});
	$('.NavBlock__List-Item a').mouseenter(function(){
		if(headerImages[$(this).attr('href')] !== undefined){
			var newImage = headerImages[$(this).attr('href')]['src'];
			var newCaption = headerImages[$(this).attr('href')]['caption'];
		}
		if(newImage !== undefined){
			$(this).closest('.Dropdown__Content').find('.header-images-wrapper img').hide();
			reveal($(this).closest('.Dropdown__Content').find(`.header-images-wrapper img[data-src='${newImage}']`).first().show());
			$(this).closest('.Dropdown__Content').find('.header-images-wrapper .header-image-caption').text(newCaption || '');
		}

	})
</script>
