<!-- MAINMENU NAV RIGHT SIDE -->

<ul class="NavBlock__List">
    {%- for parentLink in linklists.main-menu-right.links -%}
        {%- if parentLink.links != blank -%}
            <li class="NavBlock__List__Item--Dropdown">
                <a href="{{ parentLink.url }}">{{ parentLink.title }}</a>
                <div class="Dropdown__Content">
                    <div class="Dropdown__Content--CenterPieceColumn">
                        <!-- HELP LINKS -->
                        <div class="Dropdown__Content__Item">
                            <ul class="Help__Links">
                                <li class="Item__Heading">Need Help?</li>
                                {%- for helpLink in parentLink.links -%}
                                    <li class="Item__Text"><a href="{{ helpLink.url }}">{{ helpLink.title }}</a></li>
                                {%- endfor -%}
                            </ul>
                        </div>
                        <!-- HELP OPTIONS -->
                        <div class="Dropdown__Content__Item Help__Options">
                            <div class="Help__Options__Item">
                                <div class="Item__Icon">
                                    <div>
                                        {{ section.settings.HelpOption1Icon | img_url: '50x' | img_tag }}
                                    </div>
                                </div>
                                <h4 class="Item__Heading">{{ section.settings.HelpOption1Header }} <span class="Item__Text"></span></h4>
                                <p class="Item__Text">{{ section.settings.HelpOption1Text }}</p>
                            </div>
                            <div class="Help__Options__Item">
                                <div class="Item__Icon">
                                    <div>
                                        {{ section.settings.HelpOption3Icon | img_url: '50x' | img_tag }}
                                    </div>
                                </div>
                                <h4 class="Item__Heading">{{ section.settings.HelpOption3Header }}</h4>
                                <p class="Item__Text">{{ section.settings.HelpOption3Text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            {%- unless customer and parentLink.title contains 'Sign up' -%}
                <li class="NavBlock__List__Item"><a href="{{ parentLink.url }}">{{ parentLink.title }}</a></li>
            {%- endunless -%}
        {% endif %}
    {%- endfor -%}


    {%- comment -%}====== NAV ICONS ====={%- endcomment -%}
    <li class="Mobile-Item Mobile-Item__Favorites">
        <a href="/pages/favorites">
            {% include 'icon-heart-filled' %}
        </a>
    </li>
    <li class="Mobile-Item Mobile-Item__Cart">
        <a href="/cart" class="js-drawer-open-cart js-no-transition MainNav__CartLink" aria-controls="CartDrawer" aria-expanded="false">
            {%- include 'icon-cart-black' -%}
            <span class="MainNav__CartCount js-cart-count">
                {{ cart.item_count }}
            </span>
        </a>
    </li>
</ul>
