<!-- MAINMENU MOBILE NAV -->
{% render 'header-images' %}
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
<ul class="MainNav--Mobile__List">
    {%- comment -%}===============================================================
        LOOP THROUGH LEFT MENU
    ==============================================================={% endcomment %}
    {%- for leftParentLink in linklists.redesigned-main-menu-left.links -%}
        {% assign parentLinkIndex = forloop.index%}
        {%- if leftParentLink.links != blank -%}
            <li class="Mobile__List__Item--DropDown {% if leftParentLink.title == 'Sale'%}Mobile__List__Item--DropDown-sale{% endif %}">
                <span class="MobileContent__Dropdown__Title">{{ leftParentLink.title }}<span class="MobileDropDown__Toggler"></span></span>
                <div class="MobileContent__Dropdown">
                    {% assign currentLink = leftParentLink.title | downcase | strip %}
                    {% comment %}===== FREE SWATCHES DROPDOWN ====={% endcomment %}
                        {%- if currentLink contains 'swatches' -%}
                            <ul class="MobileContent__Dropdown--SplitHalfColumn">
                                <li class="MobileDropdown__Content__Item"><a href="{{ leftParentLink.url }}"></li>
                                <li class="MobileDropdown__Content__Item">
                                    <h3 class="Item__Heading">{{ section.settings.FreeSwatchesHeading }}</h3>
                                    <p class="Item__Text">{{ section.settings.FreeSwatchesText1 }}<br>{{ section.settings.FreeSwatchesText2 }}</p>
                                    <a href="{{ leftParentLink.url }}"><button class="Item__Cta">{{ section.settings.FreeSwatchesCta }} <span class="Item__Cta__Icon"><i class="fal fa-arrow-right"></i></span></button></a>
                                </li>
                            </ul>
                    {% comment %}===== OTHER PRODUCTS DROPDOWN ====={% endcomment %}
                        {%- else -%}
                            <ul class="MobileContent__Dropdown--MultiColumn">
                                {%- for dropdownLink in leftParentLink.links-%}
                                    {% if leftParentLink.title == 'Sale' %}
                                        {% if dropdownLink.links != blank %}
                                            <li class="Mobile__List__Item--DropDown-grandchild">
                                                <span class="MobileContent__Dropdown__Title-child">{{  dropdownLink.title }}<span class="MobileDropDown__Toggler-grandchild"></span></span>
                                                <div class="MobileContent__Dropdown-grandchild">
                                                    {% for grandchildLink in dropdownLink.links %}
                                                        <ul class="MobileContent__grandchild-Dropdown--MultiColumn">
                                                            <li><a class="MobileContent__Dropdown__Title-grandchild" href="{{grandchildLink.url}}">{{grandchildLink.title}}</a></li>
                                                        </ul>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="Mobile__List__Item-no-children">
                                                <a href="{{ dropdownLink.url }}">
                                                    <span class="MobileContent__Dropdown__Title-grandchild">{{  dropdownLink.title }}</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% unless forloop.last %}
                                        {% if dropdownLink.links != blank %}
                                            <li class="Mobile__List__Item--DropDown-grandchild">
                                                <span class="MobileContent__Dropdown__Title-child">{{  dropdownLink.title }}<span class="MobileDropDown__Toggler-grandchild"></span></span>
                                                <div class="MobileContent__Dropdown-grandchild">
                                                    {% for grandchildLink in dropdownLink.links %}
                                                        <ul class="MobileContent__grandchild-Dropdown--MultiColumn">
                                                            <li><a class="MobileContent__Dropdown__Title-grandchild" href="{{grandchildLink.url}}">{{grandchildLink.title}}</a></li>
                                                        </ul>
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% else %}
                                        <li class="Mobile__List__Item-no-children">
                                            <a href="{{ dropdownLink.url }}">
                                                <span class="MobileContent__Dropdown__Title-grandchild">{{  dropdownLink.title }}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endunless %}
                                {%- endfor -%}
                            </ul>
                        {%- endif -%}
                        <div style="width:100%; padding:0 7px;">
                        <div class = "mobile-slider-slot--{{parentLinkIndex}} mobile-slider-slot owl-carousel owl-theme" >
                        </div>
                        </div>
                        {%- for dropdownLink in leftParentLink.links-%}
                            {% if forloop.last and dropdownLink.links != blank  %}
                            {% for grandchildLink in dropdownLink.links %}
                                <script>
                                    var image = "{{grandchildLink.url}}";
                                    if(headerImages[image]){
                                        var slide = $(`<div class="mobile-slider__slide"><a href = ${image}><img class="mobile-slider__image" src="${headerImages[image]['src']}" /></a> <a href = ${image}><div class="mobile-slider__caption">${headerImages[image]['caption']}</div></a></div>`);
                                        slide.appendTo($(".mobile-slider-slot--{{parentLinkIndex}}"));
                                    }
                                </script>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                </div>
            </li>

        {%- else -%}
            <li><a href="{{ leftParentLink.url }}">{{ leftParentLink.title }}</a></li>
        {%- endif -%}
    {%- endfor -%}


    {%- comment -%}===============================================================
        LOOP THROUGH RIGHT MENU
    ==============================================================={% endcomment %}
    {%- for rightParentLink in linklists.main-menu-right.links -%}
        {%- if rightParentLink.links != blank -%}
            <li class="Mobile__List__Item--DropDown">
                <span class="MobileContent__Dropdown__Title">{{ rightParentLink.title }}<span class="MobileDropDown__Toggler"></span></span>
                <div class="MobileContent__Dropdown">
                    <ul class="MobileContent__Dropdown--CenterPieceColumn">
                        {%- for dropdownLink in  rightParentLink.links -%}
                            <li class="MobileDropdown__Content__Item"><a href="{{ dropdownLink.url }}">{{ dropdownLink.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            </li>
        {%- else -%}
            <li><a href="{{ rightParentLink.url }}">{{ rightParentLink.title }}</a></li>
        {%- endif -%}
    {%- endfor -%}

</ul>
{{ 'owl.carousel.min.js'  | asset_url | script_tag     }}

<script>
    $('.mobile-slider-slot').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        items: 1,
        center:true,
        dots: true
    })
</script>
<style>
    .mobile-slider-slot .owl-dot span{
        margin:5px 2px !important;
        width:8px !important;
        height:8px !important;
    }
</style>