<div id="ProductSection-{{ section_id }}"
  class="product-section"
  itemscope itemtype="http://schema.org/Product"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {% include 'product-template-variables' %}

  <div id="app">
    <div class="ProductDetailGrid">
      <product-detail category="{{ collection.handle }}" sku="{{ product.selected_or_first_available_variant.sku }}" class="ProductDetailGrid__Main">
        <!-- <h1 class="ProductDetail__Title">{{ product.title }}</h1> -->
        <div class="ResponsiveImage__Wrapper"></div>
      </product-detail>
      <div class="ProductDetailGrid__Sidebar">

        <product-detail-slider v-if="product && isMobile"></product-detail-slider>

        {% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
        {% form 'product', product, id: form_id, class: 'product-single__form' %}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

          <div class="product-single__meta">
            <div class="Product__FavoriteRow">
              <span role="button" class="Product__Favorite" @click="favoriteCurrentProduct">
                <font-awesome-icon :icon="favoriteIcon"/>
              </span>
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <div class="Product__PriceRow">
                <span id="ProductPrice-{{ section_id }}" class="product__price" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}" style="display: none;">
                  ${{ current_variant.price | divided_by: 100 }}
                </span>
              </div>

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="itemCondition" href="http://schema.org/NewCondition">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            </div> <!-- [itemprop="offers"] -->
          </div> <!-- .product-single__meta -->
          <product-customizer v-cloak :initial-variant="{{ product.selected_or_first_available_variant.id }}"></product-customizer>
          <hr>
        {% endform %}
        <product-family v-if="product && isMobile"></product-family>
      </div> <!-- .ProductDetailGrid__Sidebar -->
    </div> <!-- .ProductDetailGrid -->
    <review-carousel category="{{ collection.handle }}"></review-carousel>
  </div> <!-- #app -->

  <script type="application/json" id="ProductJson-{{ section_id }}" data-product-json>
    {{ product | json }}
  </script>

  <script>
    jQuery(function ($) {
      var $nav = $('.MainNav');
      $('body').on('click', '.Product__JumpLink', function (e) {
        e.preventDefault();
        var target = $(this).attr('href');
        $('html,body').animate({
          scrollTop: $(target).offset().top - $nav.height(),
        });
      });

      $('body').on('change', '[name="quantity"]', function () {
        var newQty = $(this).val();
        $('[name="quantity"]').each(function () {
          $(this).val(newQty);
        });
      });
    });
  </script>
</div> <!-- .product-section -->
