{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<ul class="filters">
  <li class="filter">
    {% assign tags = 'Red,White,Blue,Black' | split: ',' %}
    <button class="btn-color">Shop by color</button>
    <div class="colors" >
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      
      <input type="checkbox" class="tag" value="{{ tag | handle}}"/>{{ tag }}
      {% elsif collection.all_tags contains tag %}
        <br>
      <input type="checkbox" class="tag" value="{{ tag}}" />{{ tag }}
        <br>
      {% endif %}
      {% endfor %}
    </div>

  </li>
  <li class="filter">
    {% assign tags = 'Extra,Medium,Large,Small' | split: ',' %}
    <button class="btn-size">Shop by size</button>
    <div class="sizes">
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
    <br><input type="checkbox"  class="tag" value="{{ tag | handle}}"/>{{ tag }}
      {% elsif collection.all_tags contains tag %}
  <br><input type="checkbox" class="tag" value="{{ tag | handle}}"/>{{ tag }}
      {% endif %}
      {% endfor %}
     </div>
  </li>
 <li class="filter">
    {% assign tags = 'Wood,Metal,Plastic' | split: ',' %}
   <button class="btn-material">Shop by material</button>
    <div class="materials">
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      
       <br><input type="checkbox" class="tag" value="{{ tag | handle}}"/>{{ tag }}

      {% elsif collection.all_tags contains tag %}
       <br><input type="checkbox" class="tag" value="{{ tag | handle}}"/>{{ tag }}

      {% endif %}
      {% endfor %}
    </div>
  </li>
  <br><button class="button1">Apply</button>
</ul>

<script>
  $('.btn-color').click(function() {
    $('.colors').toggleClass('show');
    $('.sizes,.materials').removeClass('show');
  });
  $('.btn-size').click(function() {
    $('.sizes').toggleClass('show');
    $('.colors,.materials').removeClass('show');
  });  
  $('.btn-material').click(function() {
    $('.materials').toggleClass('show');
    $('.colors,.sizes').removeClass('show');
  });
    
$('.button1').click(function() {
  
 var allFilters = jQuery('.filt');
  var fill = allFilters.children();
    var newTags = [];
  

var inp = document.getElementsByClassName('tag');

for (i=0; i<inp.length; i++) {
  if (inp[i].checked==true) {
newTags.push(inp[i].value);

}

}  
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  

});    
                    
</script>

<style>
.filters { list-style-type: none; }
.filter { float: left; margin-right: 15px; position: relative; bottom: 540px; left: 50px }
.filter label { display: block; margin: 10px 0; }
.filter select { max-width: 200px; }
.nav {position:relative; bottom: 560px; left: 250px}
  .colors,.sizes,.materials {display:none}
  .show {display:block}
  .button1 {position:relative; bottom: 31rem; right: 370px}
}
</style>
