<div id="ProductSection-{{ section_id }}"
  class="product-section"
  itemscope itemtype="http://schema.org/Product"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {% include 'product-template-variables' %}

  <div id="app">
    <div class="ProductDetailGrid">
      <product-detail class="ProductDetailGrid__Main">
        <h1 class="ProductDetail__Title">{{ product.title }}</h1>
        {%- for image in product.images -%}
          <div class="ResponsiveImage__Wrapper"></div>
        {%- endfor -%}
      </product-detail>
      <div class="ProductDetailGrid__Sidebar is-fixed">
        <product-detail-slider v-if="product && isMobile"></product-detail-slider>
        <div class="product-single__meta">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <div class="Product__PriceRow">
              {% if product.compare_at_price_max > product.price %}
                <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="product__price-wrap-{{ section_id }}">
                  <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                    {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </span>
                </span>
                <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {% else %}
                <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              {% endif %}

              <span id="ProductPrice-{{ section_id }}" class="product__price" itemprop="price">
                ${{ current_variant.price | divided_by: 100 }}
              </span>

              <div class="Product__ShippingNote"></div>
            </div>

            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <div class="Product__JumpLinks">
              <a href="#details" class="Product__JumpLink">Details</a>
              <a href="#dimensions" class="Product__JumpLink">Dimensions</a>
            </div>

            {% include 'product-form', section_id: section_id %}
          </div> <!-- [itemprop="offers"] -->
        </div> <!-- .product-single__meta -->
        <hr>
        <div class="Product__Explore">
          <p class="Product__Lead">NOT SURE YOU FOUND THE PERFECT MATCH?</p>
          <h3>
            CUSTOMIZE
            <i class="fal fa-arrow-right" data-fa-transform="rotate-45"></i>
          </h3>
        </div>
        <product-customizer category="{{ collection.handle }}" sku="{{ product.selected_or_first_available_variant.sku }}"></product-customizer>
      </div> <!-- .ProductDetailGrid__Sidebar -->
    </div> <!-- .ProductDetailGrid -->
    <page-builder-section></page-builder-section>
  </div> <!-- #app -->

  <script type="application/json" id="ProductJson-{{ section_id }}" data-product-json>
    {{ product | json }}
  </script>

  <script>
    jQuery(function ($) {
      var $nav = $('.MainNav');
      $('body').on('click', '.Product__JumpLink', function (e) {
        e.preventDefault();
        var target = $(this).attr('href');
        $('html,body').animate({
          scrollTop: $(target).offset().top - $nav.height(),
        });
      });
    });
  </script>
</div> <!-- .product-section -->
