<div id="ProductSection-{{ section_id }}"
  class="product-section"
  itemscope itemtype="http://schema.org/Product"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {% include 'product-template-variables' %}

  <div id="app">
    <div class="ProductDetailGrid">
      <product-detail class="ProductDetailGrid__Main">
        <h1 class="ProductDetail__Title">{{ product.title }}</h1>
        {%- for image in product.images -%}
          <div class="ResponsiveImage__Wrapper"></div>
        {%- endfor -%}
      </product-detail>
      <div class="ProductDetailGrid__Sidebar is-fixed">

        <product-detail-slider v-if="product && isMobile"></product-detail-slider>

        {% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
        {% form 'product', product, id: form_id, class: 'product-single__form' %}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

          <div class="product-single__meta">
            <div class="Product__FavoriteRow">
              <span role="button" class="Product__Favorite" @click="favoriteCurrentProduct">
                <font-awesome-icon :icon="favoriteIcon"/>
              </span>
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <div class="Product__PriceRow">
                <span id="ProductPrice-{{ section_id }}" class="product__price" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}">
                  ${{ current_variant.price | divided_by: 100 }}
                </span>

                <div class="Product__ShippingNote"></div>
              </div>

              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="itemCondition" href="http://schema.org/NewCondition">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              <div class="Product__JumpLinks">
                <a href="#details" class="Product__JumpLink">Details</a>
                <a href="#dimensions" class="Product__JumpLink">Dimensions</a>
              </div>

              {% include 'add-to-cart-row' %}

            </div> <!-- [itemprop="offers"] -->
          </div> <!-- .product-single__meta -->
          <hr>
          <div class="Product__Explore">
            <p class="Product__Lead">NOT SURE YOU FOUND THE PERFECT MATCH?</p>
            <h3>
              CUSTOMIZE
              <i class="fal fa-arrow-right" data-fa-transform="rotate-45"></i>
            </h3>
          </div>
          <product-customizer category="{{ collection.handle }}" sku="{{ product.selected_or_first_available_variant.sku }}" v-cloak>
            {% include 'add-to-cart-row' %}
          </product-customizer>
        {% endform %}
      </div> <!-- .ProductDetailGrid__Sidebar -->
    </div> <!-- .ProductDetailGrid -->
    <page-builder-section></page-builder-section>
  </div> <!-- #app -->

  <script type="application/json" id="ProductJson-{{ section_id }}" data-product-json>
    {{ product | json }}
  </script>

  <script>
    jQuery(function ($) {
      var $nav = $('.MainNav');
      $('body').on('click', '.Product__JumpLink', function (e) {
        e.preventDefault();
        var target = $(this).attr('href');
        $('html,body').animate({
          scrollTop: $(target).offset().top - $nav.height(),
        });
      });

      $('body').on('change', '[name="quantity"]', function () {
        var newQty = $(this).val();
        $('[name="quantity"]').each(function () {
          $(this).val(newQty);
        });
      });
    });
  </script>
</div> <!-- .product-section -->
