<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    <!-- Google Tag Manager -->
    <script>
      function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
      };
      function getCJCookie() {
        var name = "CJEVENT" + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      function SetCJCookie() {
        var url = window.location.search;
        if(url.indexOf('?CJEVENT=') !== -1){
          var d=new Date();
          d.setTime(d.getTime()+(45*24*60*60*1000));
          var expires = "; expires="+d.toGMTString();
          document.cookie =  "CJEVENT=" + getUrlParameter("CJEVENT") + expires;
        }
      }
      SetCJCookie();
    </script>
    <script>
      dataLayer = [{
        totalPrice: {{ checkout.total_price | divided_by: 100 | json }},
        cartCount: {{ checkout.line_items.size }},
        productIds: {{ checkout.line_items | map: 'sku' | json }},
        customerEmail: {{ customer.email | json }}
      }];

      var checkoutStep = null;
      if (window.location.href.indexOf('/checkout') !== -1 && window.location.href.indexOf('/thank_you') === -1) {
        if (window.location.search.indexOf('step=') === -1) {
          checkoutStep = 1;
        } else if (window.location.search.indexOf('?step=shipping_method') !== -1) {
          checkoutStep = 2;
        } else if (window.location.search.indexOf('&step=payment_method') !== -1) {
          checkoutStep = 3;
        }
      }

      if (checkoutStep !== null) {
        dataLayer.push({
          event: 'checkout',
          ecommerce: {
            checkout: {
              actionField: { step: checkoutStep },
              products: [
                {% for item in checkout.line_items -%}
                  {
                    'id': {{ item.sku | json }},
                    'name': {{ item.title | json }},
                    'category': {{ item.product.collections.first.title | json }},
                    'price': {{ item.price | divided_by: 100 | json }},
                    'quantity': {{ item.quantity }}
                  }{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor %}
              ]
            }
          }
        });
      }

      {% if checkout.total_price > 0 %}
        if (window.location.href.indexOf('/thank_you') !== -1) {
          dataLayer.push({
            customerId: {{ customer.id | json }},
            orderId: {{ checkout.order_number | json }},
            ecommerce: {
              purchase: {
                actionField: {
                  id: {{ checkout.order_number | json }},
                  revenue: {{ checkout.total_price | divided_by: 100 | json }},
                  tax: {{ checkout.tax_price | divided_by: 100 | json }},
                  shipping: {{ checkout.shipping_price | divided_by: 100 | json }},
                  affiliation: "Online Store"
                },
                products: [
                  {%- for item in checkout.line_items -%}
                    {
                      id: {{ item.sku | json }},
                      name: {{ item.title | json }},
                      category: {{ item.product.collections.first.title | json }},
                      price: {{ item.price | divided_by: 100 | json }},
                      quantity: {{ item.quantity }}
                    }{%- unless forloop.last -%},{%- endunless -%}
                  {%- endfor -%}
                ]
              }
            }
          });
        }
      {% endif %}
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6SBKJC');</script>
    <!-- End Google Tag Manager -->

    <!-- Start VWO Async Smartcode -->
    <script type='text/javascript'>
    window._vwo_code = window._vwo_code || (function(){
    var account_id=411520,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    is_spa=1,
    hide_element='body',
    /* DO NOT EDIT BELOW THIS LINE */
    f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
    window.settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
    </script>
    <!-- End VWO Async Smartcode -->

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <style>
      .breadcrumb__item:nth-child(3) {
        display: none;
      }

      .step[data-step="shipping_method"] {
        visibility: hidden;
      }

      .main__content {
        position: relative;
      }

      .main__content .GlyphLoading {
        bottom: 0;
        display: none;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .GlyphLoading {
        animation: spin 2s linear infinite;
        fill: #010101;
        height: auto;
        width: 50px;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6SBKJC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
            {% include 'icon-spinner' %}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary | replace: 'Calculated at next step', 'Free' | remove: 'Shipping costs' }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    <script>
      (function () {
        function renameContinueButtonOnInfoStep() {
          var button = document.querySelector('.step[data-step="contact_information"] .step__footer .btn__content');
          if (!button) {
            return;
          }
          button.innerHTML = 'Continue to payment';
        }

        function hideShippingStep() {
          renameContinueButtonOnInfoStep();
          var shippingBody = document.querySelector('.step[data-step="shipping_method"]');
          var spinner = document.querySelector('.main__content .GlyphLoading');
          if (!shippingBody || !spinner) {
            return;
          }
          spinner.style.display = 'block';
          shippingBody.querySelector('form').submit();
        }

        document.addEventListener('page:load', hideShippingStep);
        document.addEventListener('page:change', hideShippingStep);
      })();
    </script>
  </body>
</html>
