<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="origin" name="referrer">
    <script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>{{ page_title }}</title>
    <!-- Google Tag Manager -->
    <script>
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)',  "i");
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    function getCJCookie() {
      var name = "CJEVENT" + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    function SetCJCookie() {
      var url = window.location.search;
      if(url.match(/CJEVENT/i)){
        var d=new Date();
        d.setTime(d.getTime()+(45*24*60*60*1000));
        var expires = "; expires="+d.toGMTString();
        document.cookie =  "CJEVENT=" + getUrlParameter("CJEVENT") + expires + ';path=/';;
      }

    }
    function eraseCookie(name) {
      document.cookie = name+'=; Max-Age=-99999999;';
    }
    eraseCookie('CJEVENT');
    SetCJCookie();
    </script>
    <script>
      dataLayer = [{
        totalPrice: {{ checkout.total_price | divided_by: 100 | json }},
        cartCount: {{ checkout.line_items.size }},
        productIds: {{ checkout.line_items | map: 'sku' | json }},
        customerEmail: {{ customer.email | json }}
      }];

      var checkoutStep = null;
      if (window.location.href.indexOf('/checkout') !== -1 && window.location.href.indexOf('/thank_you') === -1) {
        if (window.location.search.indexOf('step=') === -1) {
          checkoutStep = 1;
        } else if (window.location.search.indexOf('?step=shipping_method') !== -1) {
          checkoutStep = 2;
        } else if (window.location.search.indexOf('&step=payment_method') !== -1) {
          checkoutStep = 3;
        }
      }

      if (checkoutStep !== null) {
        dataLayer.push({
          event: 'checkout',
          eventId: Math.random().toString(16).slice(2),
          ecommerce: {
            checkout: {
              actionField: { step: checkoutStep },
              products: [
                {% for item in checkout.line_items -%}
                  {
                    'id': {{ item.sku | json }},
                    'name': {{ item.title | json }},
                    'category': {{ item.product.collections.first.title | json }},
                    'price': {{ item.price | divided_by: 100 | json }},
                    'quantity': {{ item.quantity }}
                  }{%- unless forloop.last -%},{%- endunless -%}
                {%- endfor %}
              ]
            }
          }
        });
      }

      {% if checkout.total_price > 0 %}
        if (window.location.href.indexOf('/thank_you') !== -1) {
          dataLayer.push({
            customerId: {{ customer.id | json }},
            orderId: {{ checkout.order_number | json }},
            eventId: Math.random().toString(16).slice(2),
            ecommerce: {
              purchase: {
                actionField: {
                  id: {{ checkout.order_number | json }},
                  revenue: {{ checkout.total_price | divided_by: 100 | json }},
                  tax: {{ checkout.tax_price | divided_by: 100 | json }},
                  shipping: {{ checkout.shipping_price | divided_by: 100 | json }},
                  affiliation: "Online Store"
                },
                products: [
                  {%- for item in checkout.line_items -%}
                    {
                      id: {{ item.sku | json }},
                      name: {{ item.title | json }},
                      category: {{ item.product.collections.first.title | json }},
                      price: {{ item.price | divided_by: 100 | json }},
                      quantity: {{ item.quantity }}
                    }{%- unless forloop.last -%},{%- endunless -%}
                  {%- endfor -%}
                ]
              }
            }
          });
        }
      {% endif %}
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6SBKJC');</script>
    <!-- End Google Tag Manager -->

          <!-- Start VWO Async Smartcode -->
    <script type="text/javascript">
      window._vwo_code = window._vwo_code || (function () {
        var account_id = 411520,
          settings_tolerance = 2000,
          library_tolerance = 2500,
          use_existing_jquery = false,
          is_spa = 1,
          hide_element = "body",
          /* DO NOT EDIT BELOW THIS LINE */
          f = false,
          d = document,
          code = {
            use_existing_jquery: function () {
              return use_existing_jquery;
            },
            library_tolerance: function () {
              return library_tolerance;
            },
            finish: function () {
              if (!f) {
                f = true;
                var a = d.getElementById("_vis_opt_path_hides");
                if (a)
                  a.parentNode.removeChild(a);


              }
            },
            finished: function () {
              return f;
            },
            load: function (a) {
              var b = d.createElement("script");
              b.src = a;
              b.type = "text/javascript";
              b.innerText;
              b.onerror = function () {
                _vwo_code.finish();
              };
              d.getElementsByTagName("head")[0].appendChild(b);
            },
            init: function () {
              window.settings_timer = setTimeout("_vwo_code.finish()", settings_tolerance);
              var a = d.createElement("style"),
                b = hide_element
                  ? hide_element + "{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}"
                  : "",
                h = d.getElementsByTagName("head")[0];
              a.setAttribute("id", "_vis_opt_path_hides");
              a.setAttribute("type", "text/css");
              if (a.styleSheet)
                a.styleSheet.cssText = b;
               else
                a.appendChild(d.createTextNode(b));


              h.appendChild(a);
              this.load("//dev.visualwebsiteoptimizer.com/j.php?a=" + account_id + "&u=" + encodeURIComponent(d.URL) + "&f=" + (+ is_spa) + "&r=" + Math.random());
              return settings_timer;
            }
          };
        window._vwo_settings_timer = code.init();
        return code;
      }());
    </script>
    <!-- End VWO Async Smartcode -->
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=NTaKMV&module=CONSENT_AT_CHECKOUT"></script>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <style>

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-XLight-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-XLight-webfont.woff' | asset_url }}) format('woff');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-XLightObl-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-XLightObl-webfont.woff' | asset_url }}) format('woff');
      font-weight: 300;
      font-style: italic;
  }



    @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-Book-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-Book-webfont.woff' | asset_url }}) format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-BookOblique-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-BookOblique-webfont.woff' | asset_url }}) format('woff');
      font-weight: normal;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-Medium-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-Medium-webfont.woff' | asset_url }}) format('woff');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-MediumOblique-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-MediumOblique-webfont.woff' | asset_url }}) format('woff');
      font-weight: 500;
      font-style: italic;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-Demi-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-Demi-webfont.woff' | asset_url }}) format('woff');
      font-weight: 600;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-DemiOblique-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-DemiOblique-webfont.woff' | asset_url }}) format('woff');
      font-weight: 600;
      font-style: italic;
  }


  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-Bold-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-Bold-webfont.woff' | asset_url }}) format('woff');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon';
      src: url({{ 'Avalon-BoldOblique-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-BoldOblique-webfont.woff' | asset_url }}) format('woff');
      font-weight: bold;
      font-style: italic;
  }



  @font-face {
      font-family: 'Avalon Condensed';
      src: url({{ 'Avalon-BookCond-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-BookCond-webfont.woff' | asset_url }}) format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon Condensed';
      src: url({{ 'Avalon-MediumCond-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-MediumCond-webfont.woff' | asset_url }}) format('woff');
      font-weight: 500;
      font-style: normal;
  }


  @font-face {
      font-family: 'Avalon Condensed';
      src: url({{ 'Avalon-DemiCond-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-DemiCond-webfont.woff' | asset_url }}) format('woff');
      font-weight: 600;
      font-style: normal;
  }

  @font-face {
      font-family: 'Avalon Condensed';
      src: url({{ 'Avalon-BoldCond-webfont.woff2' | asset_url }}) format('woff2'),
           url({{ 'Avalon-BoldCond-webfont.woff' | asset_url }}) format('woff');
      font-weight: bold;
      font-style: normal;
  }

      .breadcrumb__item:nth-child(3) {
        display: none;
      }

      .step[data-step="shipping_method"] {
        visibility: hidden;
      }

      .main__content {
        position: relative;
      }

      .main__content .GlyphLoading {
        bottom: 0;
        display: none;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .GlyphLoading {
        animation: spin 2s linear infinite;
        fill: #010101;
        height: auto;
        width: 50px;
      }
      .order-summary__section{
        padding-bottom: 18px;
      }
      .checkout__custom-content{
        border-top:1px solid rgba(175, 175, 175, 0.34);
        padding:28px 0px;
        padding-bottom:0;
      }
      .checkout__custom-content-icon-rows{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .checkout__custom-content-icon-row{
        display:flex;
        flex-basis: 50%;
        padding: 12px 0;
      }
      .font-size-11{
        font-size: 11px;
      }
      .checkout__custom-content-icon-text{
        font-family: Avalon;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.12em;
        color:#202020;
        display:flex;
        align-items: center;
        white-space: nowrap;
      }
      .checkout__custom-content-icon{
        width:34px;
        height:23px;
        margin-right:8px;
      }
      .checkout__custom-content-icon img{
        display:block;
        margin: 0 auto;
        width:100%;
        height:auto;
      }
      .checkout__custom-content-help{
        margin: 20px 0px 32px 0px;
        text-align: center;
      }
      .flex-end{
        justify-content: flex-end;
      }
      .sustainable-offset{
        margin-right:30px;
      }
      .free-shipping-offset{
        margin-left:3px;
      }
      .checkout__custom-content-help{
        font-family: Avalon;
        font-size:12px;
        letter-spacing: 0.075em;
        color:#202020;
      }
      .checkout__custom-content-help span{
        font-weight: 500;
      }
      .checkout__custom-content-help a{
        font-weight: 600;
        text-decoration: underline;
        margin-left:8px;
      }
      @media screen and (max-width: 1200px) {
        .checkout__custom-content-icon-rows{
          flex-direction: column;
        }
      }
      @media screen and (max-width: 1000px) {
        .checkout__custom-content-icon-rows{
          flex-direction: row;
        }
      }
      @media screen and (max-width: 580px) {
        .flex-end{
          justify-content: flex-end;
        }
        .checkout__custom-content-icon-text{
          white-space:normal;
        }
        .checkout__custom-content-icon-text{
          font-family: Avalon,Poppins,HelveticaNeue,Helvetica Neue,sans-serif;
          font-weight: 500;
          font-size: 10px;
          color: #202020;
          line-height: 1.46;
          letter-spacing: .15em;
        }
      }
      *{
        font-family: Avalon !important;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-N6SBKJC" style="display:none;visibility:hidden" width="0"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
            {% include 'icon-spinner' %}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    <div class="checkout__custom-content">
      <div class="checkout__custom-content-icon-rows">
        <div class="checkout__custom-content-icon-row">
          <div class="checkout__custom-content-icon">
            <img alt="365 Day Home Trial" src="https://cdn.insideweather.com/cart-checkout/home-trial-ico.png">
          </div>
          <div class="font-size-11 checkout__custom-content-icon-text">
            365 DAY HOME TRIAL
          </div>
        </div>
        <div class="checkout__custom-content-icon-row flex-end">
          <div class="checkout__custom-content-icon">
            <img alt="Made in the USA" src="https://cdn.insideweather.com/cart-checkout/usa-ico.png">
          </div>
          <div class="checkout__custom-content-icon-text">
            MADE IN THE USA
          </div>
        </div>
        <div class="checkout__custom-content-icon-row">
          <div class="checkout__custom-content-icon free-shipping-offset">
            <img alt="Free Shipping" src="https://cdn.insideweather.com/cart-checkout/free-ship-ico.png">
          </div>
          <div class="checkout__custom-content-icon-text">
            QUICK SHIP CUSTOM
          </div>
        </div>
        <div class="checkout__custom-content-icon-row flex-end">
          <div class="checkout__custom-content-icon">
            <img alt="Sustainable" src="https://cdn.insideweather.com/cart-checkout/sustainable-ico.png">
          </div>
          <div class="checkout__custom-content-icon-text sustainable-offset">
            SUSTAINABLE
          </div>
        </div>
      </div>
      <div class="checkout__custom-content-help">
        <span>Need Help?</span>
        <a href="/pages/help" target="_blank">Chat Now</a>
      </div>
    </div>

    {{ tracking_code }}
    <script>
      $('.order-summary__sections').append($('.checkout__custom-content'));
    </script>
    <script>
      if (window.location.href.indexOf('/thank_you') !== -1) {
        if(Shopify.Checkout.step && Shopify.Checkout.page){
          console.log('checkout first time activated');
          dataLayer.push({'event': 'CheckoutFirstTimeAccessed'});
        }
      }
    </script>
    <script>
      if(document.title.includes("Inventory issues")){
        document.getElementsByClassName('sidebar__content')[0].style.visibility = 'hidden';
      }
      (function () {
        var lastStep = null;
        var currentStep = null;
        var isPayment = Shopify.Checkout.step == 'payment_method';
        if (window.location.search.indexOf('step=') === -1 && !isPayment ) {
          currentStep = 1;
        } else if (window.location.search.indexOf('?step=shipping_method') !== -1) {
          currentStep = 2;
        } else if (window.location.search.indexOf('&step=payment_method') !== -1 || isPayment) {
          currentStep = 3;
        }
        lastStep = sessionStorage.getItem('last_step');
        sessionStorage.setItem('last_step', currentStep);
        function renamePreviousLinkStep() {
          var link = document.querySelector('.step__footer__previous-link-content');
          if (!link || link.innerHTML == 'Return to cart') {
            return;
          }
          link.innerHTML = 'Return to Information';
        }
        function renameContinueButtonOnInfoStep() {
          var button = document.querySelector('.step[data-step="contact_information"] .step__footer .btn__content');
          if (!button) {
            return;
          }
          button.innerHTML = 'Continue to payment';
        }

        function hideShippingStep() {
          renameContinueButtonOnInfoStep();
          renamePreviousLinkStep();
          var shippingBody = document.querySelector('.step[data-step="shipping_method"]');
          var spinner = document.querySelector('.main__content .GlyphLoading');
          if (!shippingBody || !spinner) {
            return;
          }
          spinner.style.display = 'block';
          if(lastStep == 3){
            document.querySelector('a[data-trekkie-id="breadcrumb_contact_information_link"]').click();
          }else{
            shippingBody.querySelector('form').submit();
          }

        }

        function hideEmailProperties() {
          const lineItems = document.querySelectorAll('.order-summary__section__content .product__description');
          lineItems.forEach((line) => {
            const properties = Array.prototype.slice.call(line.querySelectorAll('.product__description__property'));
            const hasCustomMade = properties.some(el => el.innerHTML.includes('Custom Made'));
            properties.forEach((item) => {
              if (!hasCustomMade && item.innerHTML.includes('User Fulfillment Display')) {
                item.innerHTML = item.innerHTML.replace('User Fulfillment Display', 'Estimated time to ship');
              } else if (!item.innerHTML.includes('Custom Made')) {
                item.remove();
              }
            });
          });
        }

        document.addEventListener('page:load', function () {
          hideShippingStep()
          hideEmailProperties();
        });
        document.addEventListener('page:change', function () {
          hideShippingStep();
          hideEmailProperties();
        });
      })();
    </script>

    <script>
      // function validateForm() {
      //   var isValid = true;
      //       $(".field__message--error").remove();
      //       // checks that shipping addresses aren't PO boxes
      //       $("#checkout_shipping_address_company,#checkout_shipping_address_address1,#checkout_shipping_address_address2").each(function(){
      //           var val = $.trim( $(this).val() );
      //           var poBoxCheck = /((#\d+)|((box|bin)[-. \/\\]?\d+)|(.*p[ \.]? ?(o|0)[-. \/\\]? *-?((box|bin)|(#|num)?\d+))|(p(ost)? *(o(ff(ice)?)?)? *(box|bin)? *\d+)|(p *-?\/?(o)? *-?box)|post office box|(box|bin) *(number|num|#)? *\d+|(num|number|#) *\d+)/i;
      //           if (poBoxCheck.test(val)){
      //               isValid = false;
      //               $(this).val(' ');
      //               $(this).parent().parent().addClass('field--error');
      //               $(this).parent().parent().append('<p class="field__message field__message--error">We are unable to deliver to PO Boxes, please use a physical address.</p>');
      //           }
      //       })
      // }
      // if(Shopify.Checkout.step == 'contact_information'){
      //   $("[data-step=contact_information] form").submit(function(e) {
      //     e.preventDefault();
      //     e.stopPropagation();
      //     var isValid = validateForm();
      //     if (isValid || true) {
      //         $("[data-step=contact_information] form.edit_checkout").unbind().submit()
      //         $("[data-step=contact_information] form.edit_checkout").submit()
      //     }
      //   });
      // }
    </script>
  </body>
</html>
