<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  {% if template == 'collection' %}
    <script>
      window.location.href = '/';
    </script>
  {% endif %}
  <script>
    let forceRedirect = localStorage.getItem('forceRedirect');
    if(forceRedirect === null || forceRedirect === 'null'){
      forceRedirect = false;
    }
    const forceRedirectExclusions = ['login', 'register', 'challenge'];
    const urlIsExcluded = new RegExp(forceRedirectExclusions.join("|")).test(window.location.href);
    if(forceRedirect && !urlIsExcluded){
      localStorage.removeItem('forceRedirect');
      localStorage.removeItem('forceRedirectTemp');
      window.location.href = forceRedirect;
    }

    function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      const expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
      const name = cname + "=";
      const ca = document.cookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    const urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('pt')){
      const currentPt = getCookie('pt');
      if(!currentPt){
        setCookie('pt', urlParams.get('pt'), 30);
        for(item in localStorage){
          if(item.includes('.expires')){
            localStorage.setItem(item, '468806401');//Invalid time stamp to flush cache
          }
        }
      }
    }
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <!-- preconnects -->
  <link rel="preconnect" href="https://banksy-images.s3.amazonaws.com">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- end preconnects -->

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- include 'seo-title' -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- include 'social-meta-tags' -%}

  {% include 'font-face' %}
  {% include 'font-definitions' %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900" rel="stylesheet">
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Google Tag Manager -->
  <script>
    dataLayer = [{
      customerEmail: {{ customer.email | json }}{% if template.name == 'collection' %},
      productCategory: {{ collection.handle | json }}{% endif %}
    }];
    const pt = getCookie('pt');
    if(pt){dataLayer.push({'pt': pt})}

    dataLayer.push({client_ip_address: null});//need to get this somehow
    dataLayer.push({current_url: "{{request.path}}" });
    dataLayer.push({user_agent: navigator.userAgent });

    {% if customer %}
      dataLayer.push({SHA256_email: "{{ customer.email | sha256 }}" })
    {% else %}
      dataLayer.push({SHA256_email: null})
    {% endif %}


  </script>
  {%- if template.name == 'product' -%}
    <script>
      dataLayer.push({
        totalPrice: {{ product.price | divided_by: 100 | json }},
        productName: {{ product.title | json }},
        productIds: [{{ product.selected_or_first_available_variant.sku | json }}],
        productCategory: {{ collection.handle | json }},
        productHandle: {{ product.handle | json }},
        ecommerce: {
          detail: {
            products: [{
              name: {{ product.title | json }},
              id: {{ product.selected_or_first_available_variant.sku | json }},
              price: {{ product.price | divided_by: 100 | json }},
              category: {{ collection.handle | json }}
            }]
          }
        }
      });
    </script>
  {%- endif -%}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N6SBKJC');</script>
  <!-- End Google Tag Manager -->

  <!-- Start VWO Async Smartcode -->
  <script type='text/javascript'>
    window._vwo_code = window._vwo_code || (function(){
    var account_id=411520,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    is_spa=1,
    hide_element='body',
    /* DO NOT EDIT BELOW THIS LINE */
    f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
    window.settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
    </script>
    <!-- End VWO Async Smartcode -->

  <!--pinterest verification-->
  <meta name="p:domain_verify" content="480b16c481147a04e085920b3d96104a"/>
  <!---END pinterest-->

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      quickView: {{ settings.quick_shop_enable }},
      themeVersion: "3.2.4",
      mulberry: {
        active: false
      },
      vwo:{
        photoshootModal:{
          photoshootActive: false,
          photoshootProductID: 31921596301396,
          modalTitle: "Nice Design!",
          modalContent: "You are the first person to design this specific combination and we’d love to feature it on our Instagram!",
          acceptBtnText: "COUNT ME IN",
          declineBtnText: "NO THANKS"
        },
        countdown:{
          countdownActive: false,
          initialTextHeader: "Maker's Promise",
          initialTextContent: "Your items are in the queue! You have a limited time to reserve your spot.",
          expirationTextHeader: "Last chance!",
          expirationTextContent: "Checkout now to confirm your reservation.",
          timerDurationInMinutes: 10,
          minimumCartTotalUSD: 100
        },
        shippingProtection:{
          active: false,
          cartDrawer:{
            shippingCostLabel: "Shipping",
            shippingCostPrice: "Free",
            shippingProtectionLabel: "Shipping Protection",
            shippingProtectionCaption: "Protect yourself from damage, loss, and theft."
          },
          modal:{
            title: "Shipping Protection",
            content: "In the event that there’s a shipping or delivery issue, we’ll take care of it without you lifting a finger. Should an unfortunate spell be cast upon you that causes your product to be lost by the carrier, stolen by a bandit, or incur damages of any kind on its ride in, reach out to us ASAP so we can work on whatever type of solution is necessary immediately. We will take care of all riveting claim filling so you are not involved whatsoever. Your replacement will fast-track the assembly line and be remade & en route within a week. Sit back & relax, no issue will be your issue."
          }
        },
        optionPriceMarkups:{
          active: false,
          noDelta: '+$0',
          selectedOption:'INCLUDED'
        },
        privyModals:{
          privyModalOne: false
        },
        productProtection:{
          active: false
        },
      },
      swatchBrowser: {
        thankYouMessage: 'Your swatches will arrive at your door within 3-5 days. If you need help deciding, our team of design specialists is here for you.',
        maxSwatches: 10
      }
    };
  </script>


  {{ '//code.jquery.com/jquery-3.1.0.min.js' | script_tag }}
  <script>theme.jQuery = jQuery;</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>

  <!-- Browse and product customizer widgets -->
  {%- if template == 'product' or template == 'collection' or template.suffix == 'favorites' or template.suffix == 'free-swatches' or template.suffix == 'banner-carousel' or template.suffix == 'category-sofas' or template.suffix == 'category-sofa-sectionals' or template.suffix == 'living-room' or template.suffix == 'dining-room' or template.suffix == 'office' or template.suffix == 'category-sofettes' or template.suffix == 'category-sofette-sectionals' or template.suffix == 'category-armchairs' or template.suffix == 'category-diningchairs'  or template.suffix == 'category-loungechairs' or template.suffix == 'category-coffeetables' or template.suffix == 'category-diningtables' or template.suffix == 'category-sidetables' or template.suffix == 'category-credenzas' or template.suffix == 'category-sideboards' or template.suffix == 'full-reviews' or template.suffix == 'category-organization' or template.suffix == 'category-kitchen' or template.suffix == 'category-bathroom' or template.suffix == 'category-bedroom' or template.suffix == 'category-accessories' or template.suffix == 'category-pillows' or template.suffix == 'category-wall-art' or template.suffix == 'category-headboard' or template.suffix == 'category-console' or template.suffix == 'category-bedsheets' or template.suffix == 'category-desks' or template.suffix == 'category-jorn-desk-collection' or template.suffix == 'category-mattress' or template.suffix == 'category-stools' or template.suffix == 'category-ottomans' or template.suffix == 'help' or template.suffix == 'category-shelving' or template.suffix == 'sarno-collection' or template.suffix == 'aero-collection' or template.suffix == 'savoy-collection' or template.suffix == 'original-custom-collection' or template.suffix == 'category-decor' -%}
    {%- if customer -%}
      {%- if customer.metafields.global.v2-favorites -%}
        {%- assign favorites = customer.metafields.global.v2-favorites | reverse -%}
      {%- else -%}
        {%- assign favorites = '' | split: ',' -%}
      {%- endif -%}

      {%- if customer.metafields.global.v2-history -%}
        {%- assign history = customer.metafields.global.v2-history | reverse -%}
      {%- else -%}
        {%- assign favorites = '' | split: ',' -%}
      {%- endif -%}

      <script>
        pnwCfg = {
          id: {{ customer.id }},
          favoriteProducts: {{ favorites | json }},
          historyProducts: {{ history | json }}
        };
      </script>
    {%- endif -%}
    {% assign small_header = true %}
  {%- else -%}
    {% assign small_header = false %}
  {%- endif -%}
  <link rel="stylesheet" href="{{ 'animate.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'widgets.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'product.scss.css' | asset_url }}">
  {% if template.name == 'product' %}
    <link rel="stylesheet" href="//viewer.cylindo.com/v4/viewer.css">
  {% endif %}
  <script src="{{ 'manifest.js' | asset_url }}" defer></script>
  <script src="{{ 'widgets.vendor.js' | asset_url }}" defer></script>
  {% if template.name != 'product' and template.suffix != 'favorites' -%}
    <script src="{{ 'widgets.js' | asset_url }}" defer></script>
  {%- endif %}
  <script src="//viewer.cylindo.com/v4/viewer.min.js" defer></script>
  <!-- end browse and product customizer widgets -->

  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {% include 'defer-script' with 'vendor.js' %}

  {% if settings.enable_currencies %}
    <script src="/services/javascripts/currencies.js" defer="defer"></script>
    {% include 'defer-script' with 'jquery.currencies.min.js' %}
  {% endif %}

  {% include 'defer-script' with 'theme.js' %}

  {%- if template contains 'customers' -%}
    {% include 'defer-shopify-script' with 'shopify_common.js' %}
  {%- endif -%}

  <script>
    var _affirm_config = {
      public_api_key: "PP4A9PT9U27W09KA",
      script: "https://cdn1.affirm.com/js/v2/affirm.js"
    };
    (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
  // END AFFIRM.JS EMBED CODE
  </script>

  <!--Gem_Page_Header_Script-->
  {% include 'gem-app-header-scripts' %}
  <!--End_Gem_Page_Header_Script-->

  {% include 'minmaxify-head' %}

{% include 'pagefly-header' %}

{% render 'pagefly-header' %}
{% render 'GetEmails-script' %}
{% render 'GetEmails-suppress-klaviyo-popups' %}
{% include 'hulkcode_common' %}{% if template contains 'product' or template contains 'cart' %}<script src='https://volumediscount.hulkapps.com/hulkcode.js' defer='defer'></script>{% endif %}
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}{% if small_header %} MainNav--Small{% endif %}" data-transitions="{{ settings.animate_page_transitions }}">

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6SBKJC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {% if settings.animate_page_transitions %}
    <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container" itemscope itemtype="http://schema.org/Store">
    <meta itemprop="name" content="{{ shop.name }}">

    <div class="transition-body">
      {% section 'top-bar' %}
      {% comment %}
      {% section 'header' %}
      {% endcomment %}

      {% section 'ambaum-header' %}


      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- unless template == 'collection' or template.suffix == 'new-chat' -%}
        {% section 'footer' %}
      {%- endunless -%}

    </div>
  </div>

  <script>
    if (window.location.hostname !== 'localhost') {
      jQuery(function($) {
        $('a[href^="http"], a[href^="//"]')
          .not('a[href^="'+window.location.protocol+'//'+window.location.hostname+'"]')
          .not('a[href^="/"]')
          .attr('target', '_blank');
      });
    }
  </script>

  {% section 'newsletter-popup' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'qty-selector-template' %}
  {% include 'video-modal' %}
  {% include 'product-protection-modal' %}
  {% include 'shipping-protection-modal' %}
  {% include 'full-page-takeover' %}
  {% include 'ajax-customer-onboard' %}
  {% include 'photoswipe-template' %}
  <!--Gem_Page_Footer_Script-->
  {% include 'gem-app-footer-scripts' %}
  <!--End_Gem_Page_Footer_Script-->
  {% include 'stampedio-script' %}

 <!--KLAVIYO NEWSLETTER SIGNUP INTEGRATION-->
 <script async type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=NTaKMV"></script>
 {% if page.handle == 'sign-up' %}
  <script>
    dataLayer = window.dataLayer || [];
    jQuery(function ($) {
      $('#MainContent').on('click', 'button', function () {
        var emailInput = document.querySelector('input[type="email"]');
        var emailRegex = /.+?@.+?\..+?/;
        if (emailInput && emailRegex.test(emailInput.value)) {
          dataLayer.push({
            event: 'newsletterSignup',
            eventCategory: 'signup',
            eventAction: 'sign_me_up',
            eventLabel: 'newsletter',
            eventValue: emailInput.value,
            eventId: Math.random().toString(16).slice(2)
          });
        }
      });
    });
  </script>
  {% endif %}
  {% unless customer %}
    {% if template.name == 'register' %}
    <script>
      localStorage.setItem('registrationStarted', 1);
    </script>
    {% endif %}
  {% endunless %}
  {% if customer %}
    <script>
      if (localStorage.getItem('registrationStarted')) {
        dataLayer.push({
          event: 'registrationComplete',
          eventCategory: 'complete_registration',
          eventAction: 'create',
          eventLabel: 'create_account',
          eventValue: {{ customer.email | json }},
          eventId: Math.random().toString(16).slice(2)
        });
        localStorage.removeItem('registrationStarted');
      }
      window.customerId = "{{ customer.id }}";
    </script>
  {% endif %}
  <script>
    jQuery(function ($) {
      $('.modal img.lazyload').each(function (i, el) {
        var src = el.dataset.src.replace('_{width}x', '');
        el.src = src;
        el.classList.remove('lazyload', 'lazypreload');
        el.classList.add('lazyloaded');
      });
    });
  </script>
  <script>
    Array.prototype.slice.call(document.querySelectorAll('video[autoplay]')).forEach(function (video) {
      video.setAttribute('playsinline', '');
      video.play();
    });
  </script>

  <!-- MEYA Chatbot Integration -->
  <script type="text/javascript">
    window.mobileCheck = function() {
      let check = false;
      (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      return check;
    };

    $(document).ready(function() {
      var orbConfigOptions = {
        connectionOptions: {
          gridUrl: "https://grid.meya.ai",
          appId: "app-480903f657bc49538eacc2be6fccdbf6",
          integrationId: "integration.orb",
          connect: false,
          pageContext: {
            "customer_id": {{ customer.id | json }},
            "customer_email": {{ customer.email | json }},
            "customer_first_name": {{ customer.first_name | json }},
          },
        },
        launcher: {
          type: "message",
          icon: "streamline-regular/01-interface-essential/14-alerts/question-circle.svg",
          text: window.mobileCheck() ? "" : "Help",
        },
        theme: { "brandColor":"#202020" },
        windowApi: true,
      };

      window.orbConfig = orbConfigOptions;

      (function() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.async = true;
        script.src = "https://cdn.meya.ai/v2/orb.js";
        document.body.appendChild(script);
        var fontStyleSheet = document.createElement("link");
        fontStyleSheet.rel = "stylesheet";
        fontStyleSheet.href = "https://cdn.meya.ai/font/inter.css";
        document.body.appendChild(fontStyleSheet);
      })();

      $(window).bind("beforeunload", function() {
        const event = orb.getEventStream().events[0];

        if (!event) return;

        var lifecycleEvent = {
          "type": "meya.session.event.chat.close",
          "data": {
            "user_id": event.data.user_id,
            "thread_id": event.data.thread_id,
            "integration_id": event.data.integration_id
          }
        };
        orb.publishEvent(lifecycleEvent);

        const chatRelatedStorageItems = Object.keys(localStorage).filter(item => item.match(/grid.meya.ai/));
        chatRelatedStorageItems.forEach(storageItem => localStorage.removeItem(storageItem));
      })
    });
  </script>

  <script>
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)',  "i");
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    function getCJCookie() {
      var name = "CJEVENT" + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    function SetCJCookie() {
      var url = window.location.search;
      if(url.match(/CJEVENT/i)){
        var d=new Date();
        d.setTime(d.getTime()+(45*24*60*60*1000));
        var expires = "; expires="+d.toGMTString();
        document.cookie =  "CJEVENT=" + getUrlParameter("CJEVENT") + expires + ';path=/';
      }

    }
    function eraseCookie(name) {
      document.cookie = name+'=; Max-Age=-99999999;';
    }
    eraseCookie('CJEVENT');
    SetCJCookie();
  </script>

  <!-- Attentive script -->
  <script src="https://cdn.attn.tv/insideweather/dtag.js"></script>

  <!-- Steelhouse script -->
  <script type="text/javascript">
  	(function(){"use strict";var e=null,b="4.0.0",
  	n="31796",
  	additional="term=value",
  	t,r,i;try{t=top.document.referer!==""?encodeURIComponent(top.document.referrer.substring(0,2048)):""}catch(o){t=document.referrer!==null?document.referrer.toString().substring(0,2048):""}try{r=window&&window.top&&document.location&&window.top.location===document.location?document.location:window&&window.top&&window.top.location&&""!==window.top.location?window.top.location:document.location}catch(u){r=document.location}try{i=parent.location.href!==""?encodeURIComponent(parent.location.href.toString().substring(0,2048)):""}catch(a){try{i=r!==null?encodeURIComponent(r.toString().substring(0,2048)):""}catch(f){i=""}}var l,c=document.createElement("script"),h=null,p=document.getElementsByTagName("script"),d=Number(p.length)-1,v=document.getElementsByTagName("script")[d];if(typeof l==="undefined"){l=Math.floor(Math.random()*1e17)}h="dx.steelhousemedia.com/spx?"+"dxver="+b+"&shaid="+n+"&tdr="+t+"&plh="+i+"&cb="+l+additional;c.type="text/javascript";c.src=("https:"===document.location.protocol?"https://":"http://")+h;v.parentNode.insertBefore(c,v)})()
  </script>

  <!--BING UET TAG-->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"134600489"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

</body>
</html>
